{% extends "wagtailadmin/base.html" %}
{% load gravatar %}
{% block titletag %}Users{% endblock %}
{% block bodyclass %}menu-users{% endblock %}
{% block extra_js %}
    <script>
        window.headerSearch = {
            url: "{% url 'wagtailusers_index' %}",
            termInput: "#id_q",
            targetOutput: "#user-results"
        }
    </script>
{% endblock %}

{% block content %}
    {% include "wagtailadmin/shared/header.html" with title="Users" add_link="wagtailusers_create" add_text="Add a user" search_url="wagtailusers_index" %}

    <div class="nice-padding">
        <div id="user-results" class="users">
            {% include "wagtailusers/results.html" %}
        </div>
    </div>
{% endblock %}
