{% load i18n image_tags %}
<li id="image-{{ image.id }}">
    <form action="{% url 'wagtailimages_edit_multiple' image.id %}" method="POST" enctype="multipart/form-data">
    <ul class="fields col7">
        {% csrf_token %}
        {% for field in form %}
            {% include "wagtailadmin/shared/field_as_li.html" %}
        {% endfor %}
        <li>
            <input type="submit" value="{% trans 'Save' %}" />
            <a href="{% url 'wagtailimages_delete_multiple' image.id %}" class="button button-secondary no">{% trans "Cancel upload" %}</a>
        </li>
    </ul>
    </form>
    <div class="col5">
        {% image image max-800x600 %}
    </div>
</li>