@import 'wagtailadmin/scss/helpers';

section {
    border-top: 1px solid var(--color-grey-3);
    margin-top: 2em;
    padding: 0 0 2em;

    > h2:first-child {
        margin: 0;
        font-size: 1em;
        background: var(--color-grey-4);
        padding: 1em;
        margin-bottom: 1em;
    }
}

.palette {
    @include clearfix();

    ul {
        @include clearfix();
        @include unlist();
    }

    li {
        float: left;
        width: 100px;
        height: 100px;
        padding: 10px;
        color: var(--color-black);
    }

    .contrast li {
        height: 50px;
    }

    .contrast-large {
        font-size: 18px;

        li {
            width: 150px;
            height: 55px;
        }
    }

    .color-black-text {
        color: var(--color-black);
    }

    .color-grey-1-text {
        color: var(--color-grey-1);
    }

    .color-white-text {
        color: var(--color-white);
    }

    .color-salmon-light-text {
        color: var(--color-salmon-light);
    }

    .color-red-text {
        color: var(--color-red);
    }

    .color-green-text {
        color: var(--color-green);
    }

    .color-green-dark-text {
        color: var(--color-green-dark);
    }

    .color-teal-darker-text {
        color: var(--color-primary-darker);
    }

    .color-teal-dark-text {
        color: var(--color-primary-dark);
    }

    .color-grey-2-text {
        color: var(--color-grey-2);
    }

    .color-red-text {
        color: var(--color-red);
    }

    .color-red-dark-text {
        color: var(--color-red-dark);
    }

    .color-teal-text {
        color: var(--color-primary);
    }

    .color-orange-text {
        color: var(--color-orange);
    }

    .color-orange-dark-text {
        color: var(--color-orange-dark);
    }

    .color-blue-text {
        color: var(--color-blue);
    }

    .color-salmon-text {
        color: var(--color-salmon);
    }

    .color-grey-3-text {
        color: var(--color-grey-3);
    }

    .color-grey-4-text {
        color: var(--color-grey-4);
    }

    .color-grey-5-text {
        color: var(--color-grey-5);
    }

    .color-menu-text {
        color: var(--color-menu-text);
    }

    .color-teal {
        background-color: var(--color-primary);
    }

    .color-teal-darker {
        background-color: var(--color-primary-darker);
    }

    .color-teal-dark {
        background-color: var(--color-primary-dark);
    }

    .color-red {
        background-color: var(--color-red);
    }

    .color-red-dark {
        background-color: var(--color-red-dark);
    }

    .color-orange {
        background-color: var(--color-orange);
    }

    .color-orange-dark {
        background-color: var(--color-orange-dark);
    }

    .color-green {
        background-color: var(--color-green);
    }

    .color-green-dark {
        background-color: var(--color-green-dark);
    }

    .color-blue {
        background-color: var(--color-blue);
    }

    .color-grey-1 {
        background-color: var(--color-grey-1);
    }

    .color-grey-2 {
        background-color: var(--color-grey-2);
    }

    .color-grey-3 {
        background-color: var(--color-grey-3);
    }

    .color-grey-4 {
        background-color: var(--color-grey-4);
    }

    .color-grey-5 {
        background-color: var(--color-grey-5);
    }

    .color-salmon {
        background-color: var(--color-salmon);
    }

    .color-salmon-light {
        background-color: var(--color-salmon-light);
    }
}

.icons {
    :before,
    :after {
        font-size: 2em;
    }

    .icon {
        @include svg-icon(1.5em);
    }

    ul {
        column-count: 3;
    }

    li {
        margin-bottom: 1em;
    }

    .spinner {
        position: relative;
    }

    // .spinner .icon-spinner:after {
    //     position: absolute;
    // }
}

.timepicker {
    height: 150px;
}
