@import '../../../../../../client/scss/settings';
@import '../../../../../../client/scss/tools';

section {
  border-top: 1px solid $color-grey-3;
  margin-top: 2em;
  padding: 0 0 2em;

  > h2:first-child {
    margin: 0;
    font-size: 1em;
    background: $color-grey-4;
    padding: 1em;
    margin-bottom: 1em;
  }
}

.icons {
  :before,
  :after {
    font-size: 2em;
  }

  .icon {
    @include svg-icon(1.5em);
  }

  ul {
    column-count: 3;
  }

  li {
    margin-bottom: 1em;
  }

  .spinner {
    position: relative;
  }

  // .spinner .icon-spinner:after {
  //     position: absolute;
  // }
}

.timepicker {
  height: 150px;
}
