{% load i18n %}
<div class="field choice_field select">
    <label for="{{ widget.attrs.id }}-table-header-choice">{% trans 'Table headers' %}</label>
    <div class="field-content">
        <select id="{{ widget.attrs.id }}-table-header-choice" name="table-header-choice">
            <option value="row">
                {% trans 'Display the first row as a header' %}
            </option>
            <option value="column">
                {% trans 'Display the first column as a header' %}
            </option>
            <option value="both">
                {% trans 'Display the first row AND first column as headers' %}
            </option>
            <option value="neither">
                {% trans 'No headers' %}
            </option>
        </select>
        <p class="help">{% trans 'Which cells should be displayed as headers?' %}</p>
        <input type="hidden" id="{{ widget.attrs.id }}-handsontable-header" name="handsontable-header"/>
        <input type="hidden" id="{{ widget.attrs.id }}-handsontable-col-header" name="handsontable-col-header"/>
    </div>
</div>
<br/>
<div class="field">
    <label for="{{ widget.attrs.id }}-handsontable-col-caption">{% trans 'Table caption' %}</label>
    <div class="field-content">
        <div class="input">
          <input type="text" id="{{ widget.attrs.id }}-handsontable-col-caption" name="handsontable-col-caption" value="{{ widget.table_caption }}"/>
        </div>
        <p class="help">{% trans 'A heading that identifies the overall topic of the table, and is useful for screen reader users' %}</p>
    </div>
</div>
<br/>
<div id="{{ widget.attrs.id }}-handsontable-container"></div>
{% include 'django/forms/widgets/hidden.html' %}
<script>initTable("{{ widget.attrs.id|escapejs }}", {{ widget.table_options_json|safe }});</script>
