{% extends "wagtailadmin/skeleton.html" %}
{% load compress static i18n %}

{% block titletag %}{% trans 'User bar' %}{% endblock %}
{% block css %}
    {% compress css %}
        <link rel="stylesheet" href="{% static 'wagtailadmin/css/userbar.css' %}" type="text/css" />
    {% endcompress %}
{% endblock %}

{% block furniture %}
    <div class="wagtail-userbar">
        <nav>
            <a href="{% url 'wagtailadmin_home' %}" target="_parent" title="{% trans 'Go to Wagtail admin interface' %}" style="text-align:right;">
                {% block branding_logo %}
                    <img class="wagtail-logo" src="{% static 'wagtailadmin/images/wagtail-logo.svg' %}" alt="Wagtail" width="40px" />
                {% endblock %}
            </a>
            <ul>
                {% for item in items %}
                    {{ item|safe }}
                {% endfor %}
            </ul>
        </nav>
    </div>
{% endblock %}

{% block js %}
    {% compress js %}
        <script src="{% static 'wagtailadmin/js/userbar.js' %}"></script>
    {% endcompress %}
{% endblock %}
