{% extends "wagtailadmin/skeleton.html" %}
{% load compress i18n %}

{% block titletag %}{% trans 'User bar' %}{% endblock %}
{% block css %}
    {% compress css %}
        <link rel="stylesheet" href="{{ STATIC_URL }}wagtailadmin/scss/edit_bird.scss" type="text/x-scss" />
    {% endcompress %}
{% endblock %}

{% block furniture %}
    <div class="wagtail-userbar">
        <nav>
            <a href="{% url 'wagtailadmin_home' %}" class="home icon icon-wagtail">Admin interface</a>
            <ul>
                {% for item in items %}
                    {{ item|safe }}
                {% endfor %}
            </ul>
        </nav>
    </div>
{% endblock %}

{% block js %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    {% compress js %}
        <script src="{{ STATIC_URL }}wagtailadmin/js/edit_bird.js"></script>
    {% endcompress %}
{% endblock %}