<style type="text/css">
    #wagtail-userbar{
    	background:transparent;
        position:absolute;
        top:0;
        right:0;
        z-index:9000;
        border:0;
        width:150px;
        height:300px;
    }
</style>
<iframe id="wagtail-userbar" src="{% if revision_id %}{% url 'wagtailadmin_userbar_moderation' revision_id %}{% else %}{% url 'wagtailadmin_userbar_frontend' page.self.id %}{% endif %}" width="1000px" height="1000px" frameborder="0" allowtransparency="true" scrolling="no"></iframe>