{% extends "wagtailadmin/pages/listing/_list_explore.html" %}

{% load i18n wagtailadmin_tags %}

{% block page_navigation %}
    <td class="remove-workflow" valign="top">
        <form action="{% url 'wagtailadmin_workflows:remove' page.id %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path }}">
            <button type="submit" class="button button-secondary button-small">{% trans 'Remove' %}</button>
        </form>
    </td>
{% endblock %}
