{% extends "modeladmin/create.html" %}
{% load i18n %}

{% block form_action %}{{ view.edit_url }}{% endblock %}

{% block form_actions %}
    <div class="dropdown dropup match-width">
        <div><input type="submit" value="{% trans 'Save' %}" /></div>

        {% if view.allow_object_delete %}
	        <div class="dropdown-toggle icon icon-arrow-up"></div>
	        <ul role="menu">
	            <li><a href="{{ view.delete_url }}" class="shortcut">{% trans "Delete" %}</a></li>
	        </ul>
	    {% endif %}

    </div>
{% endblock %}
