@import 'wagtailadmin/scss/variables';
@import 'wagtailadmin/scss/mixins';

.focal-point-chooser {
    position: relative;

    .current-focal-point-indicator {
        @include transition(opacity 0.2s ease);
        box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 1);
        position: absolute;
        border: 3px solid $color-teal;
        opacity: 0.7;

        &.hidden {
            display: none;
        }
    }

    &:hover .current-focal-point-indicator {
        opacity: 0;
    }
}


//HT START
// NECESSARY TO MAKE PREVIEW IMAGE LARGE ENOUGH TO COMFORTABLY USE CROSS HAIRS 
.image-chooser .chosen .preview-image {
    display:inline-block; /* allows buttons to sit next to image until they're pushed below */
    max-width: 95%; 
    margin-bottom:1em; 
    float: none; 
    margin-left: 0;
    margin-right: 0;
    max-width: none;
  } 

/*having the max values set meant that jcrop didn't work! - and it doesn't really help with anything here...*/
.image-chooser .chosen .preview-image img {
    max-width: none;
    max-height: none;
  } 
//HT END
