@import '../../../../../client/scss/settings';
@import '../../../../../client/scss/tools';

@include media-breakpoint-up(sm) {
  .fields {
    max-width: none;

    .field-col {
      padding-inline-start: 0;

      .field {
        display: flex;
        flex-direction: column;

        .field-content,
        label {
          width: auto;
          max-width: 75%;
          padding-top: 0;
        }
      }
    }

    > li {
      padding-top: 0;
    }

    .tagfilter legend {
      width: auto;
    }
  }
}

.listing.horiz {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  align-items: flex-end;
  justify-items: center;

  @include media-breakpoint-up(sm) {
    justify-items: initial;
  }

  > li {
    width: auto;
  }
}
