{% extends "wagtailadmin/base.html" %}
{% load i18n %}

{% block titletag %}{{ view.page_title }} {{ view.get_page_subtitle }}{% endblock %}

{% block content %}
    {% include "wagtailadmin/shared/header.html" with title=view.page_title subtitle=view.get_page_subtitle icon=view.header_icon %}

    <div class="nice-padding">

        {% if not locale.language_code_is_valid %}
            <p class="help-block help-warning">
                {% trans "This locale's current language code is not supported. Please choose a new language or delete this locale." %}
            </p>
        {% endif %}

        <form action="{{ view.get_edit_url }}" method="POST" novalidate{% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
            {% csrf_token %}

            {% block hidden_fields %}
                {% for field in form.hidden_fields %}{{ field }}{% endfor %}

                {% for component_model, component_instance, component_form in components %}
                    {% for field in component_form.hidden_fields %}
                        {{ field }}
                    {% endfor %}
                {% endfor %}
            {% endblock %}

            <ul class="fields">
                {% block visible_fields %}
                    {% for field in form.visible_fields %}
                        {% include "wagtailadmin/shared/field_as_li.html" %}
                    {% endfor %}

                    {% for component_model, component_instance, component_form in components %}
                        {% for field in component_form.visible_fields %}
                            {% include "wagtailadmin/shared/field_as_li.html" %}
                        {% endfor %}
                    {% endfor %}
                {% endblock %}

                <li>
                    <input type="submit" value="{% trans 'Save' %}" class="button" />
                    {% if can_delete %}
                        <a href="{{ view.get_delete_url }}" class="button button-secondary no">{{ view.delete_item_label }}</a>
                    {% endif %}
                </li>
            </ul>
        </form>
    </div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    {{ form.media.js }}
{% endblock %}

{% block extra_css %}
    {{ block.super }}
    {{ form.media.css }}
{% endblock %}
