$color-editor-chrome: $color-grey-1;
$color-editor-chrome-text: $color-white;
$color-editor-chrome-active: $color-white;
$color-editor-chrome-accent: lighten($color-editor-chrome, 20%);

@import '../../../../node_modules/draft-js/dist/Draft';
@import '../../../../node_modules/draftail/lib/index';

@import './Tooltip/Tooltip';

@import './decorators/TooltipEntity';

@import './blocks/MediaBlock';
@import './blocks/ImageBlock';
@import './blocks/EmbedBlock';

// Give each block element eg. paragraph some spacing so we don't end up
// with empty paragraphs in code when user double enters because they think
// there are no paragraphs.
div[data-block='true'] {
    margin: 0.5rem 0;
}

@mixin draftail-richtext-styles {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        // Overrides for other parts of the Wagtail admin.
        text-transform: none;
        font-family: inherit;
        clear: both;
        line-height: 1;
    }

    h1,
    h2,
    h3 {
        line-height: 1.1;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.8em;
    }

    h3 {
        font-size: 1.5em;
    }

    h4 {
        font-size: 1.2em;
    }

    h5 {
        font-size: 1.1em;
    }
}

.DraftEditor-editorContainer {
    @include draftail-richtext-styles;
}


/* Get rid of cray number 6 that appears above h2 elements in draft editor. */
.object.collapsible .DraftEditor-editorContainer h2::before,
.object.collapsible .DraftEditor-editorContainer h2 label::before {
    // TODO Assess whether !important is necessary.
    // stylelint-disable declaration-no-important
    content: none !important;
}

.public-DraftEditor-content,
.public-DraftEditorPlaceholder-root {
    padding: 0;
    font-family: $font-serif;
}

.Draftail-Editor {
    border: 0;
    background-color: initial;
}

.Draftail-Toolbar {
    border-radius: 5px;
}
