{% load wagtailadmin_tags i18n %}

{% comment %}

    Variables accepted by this template:
    '?' means optional

    - `tab_id` - {string} A unique tab id
    - `title` - {string} Text that the tab button will display
    - `active` - {boolean?} Force this to be active
    - `classes` - {string?} Extra css classes to pass to this component
    - `notifications_count` - {number?} Show above the tab for notifications count
{% endcomment %}

<a href="#tab-{{ tab_id|cautious_slugify }}"
    class="{{ classes }} w-tabs__tab"
    role="tab"
    aria-controls="tab-{{ tab_id|cautious_slugify }}">

    {% if notifications_count %}
        {#  TODO: move to css :( and also move aria-controls to be generated in JS #}
        <div  class="w-w-[10px] w-h-[10px] w-text-[10px] w-flex w-justify-center w-items-center w-p-[3px] w-font-bold w-absolute w-bg-critical-200 w-text-white w-border w-border-white w-rounded-full w-top-[7px] -w-right-[15px]">
            {{ notifications_count }}
        </div>
    {% endif %}

    {{ title }}
</a>
