{% extends "wagtailadmin/base.html" %}
{% load i18n %}

{% block titletag %}Add Workflow to Page{% endblock %}

{% block extra_css %}
    {% include "wagtailadmin/pages/_editor_css.html" %}
    {{ form.media.css }}

    {{ view.media.css }}
{% endblock %}

{% block extra_js %}
    {% include "wagtailadmin/pages/_editor_js.html" %}
    {{ form.media.js }}
    {{ html_declarations }}

    {{ view.media.js }}
{% endblock %}

{% block content %}

    {% block header %}
        {% include "wagtailadmin/shared/header.html" %}
    {% endblock %}

    <form action="{% url 'wagtailadmin_workflows:add_to_page' workflow.pk %}" method="POST" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        <div class="nice-padding">
                <ul class="fields">
                        {{ form.non_field_errors }}
                        {{ form.override_existing.errors }}
                        {{ form.workflow.errors }}
                        <li class="field">
                            {{ form.page.errors }}
                            {% if not confirm %}
                                <label for="{{ form.page.id_for_label }}">Page:</label>
                                {{ form.page }}
                            {% else %}
                                {{ form.page.as_hidden }}
                            {% endif %}
                        </li>
                        {{ form.workflow }}
                        {% if not confirm %}
                            {{ form.override_existing }}
                        {% endif %}
                </ul>
                <div>
                    {% if confirm %}
                        <button type="submit" name="overwrite_existing" value="True" class="button">{% trans 'Overwrite Existing Workflow' %}</button>
                        <a href="." class="button button-secondary">{% trans 'Cancel' %}</a>
                    {% else %}
                        <button type="submit" class="button">{% trans 'Add to Page' %}</button>
                        <a href="{% url 'wagtailadmin_workflows:edit' workflow.pk %}" class="button button-secondary">{% trans 'Return to Workflow' %}</a>
                    {% endif %}

                </div>
        </div>
    </form>
{% endblock %}

