{% extends "wagtailadmin/base.html" %}
{% load i18n wagtailadmin_tags %}

{% block titletag %}{{ view.get_meta_title }}{% endblock %}

{% block extra_css %}
    {% include "wagtailadmin/pages/_editor_css.html" %}
    {{ edit_handler.form.media.css }}

    {{ view.media.css }}
{% endblock %}

{% block extra_js %}
    {% include "wagtailadmin/pages/_editor_js.html" %}
    {{ edit_handler.form.media.js }}
    {{ edit_handler.html_declarations }}

    {{ view.media.js }}
{% endblock %}

{% block content %}

    {% include "wagtailadmin/shared/header.html" with title=view.page_title icon=view.header_icon %}

    <form action="{% block form_action %}{{ view.edit_url }}{% endblock %}"{% if is_multipart %} enctype="multipart/form-data"{% endif %} method="POST" novalidate>
        {% csrf_token %}

        {% block form %}{{ edit_handler.render_form_content }}{% endblock %}

        <div class="object">
            <ul class="object-layout">
                <li class="object-layout_big-part">
                    <p class="save">
                        <button type="submit" class="button action-save button-longrunning" data-clicked-text="{% trans 'Saving…' %}">
                            <span class="icon icon-spinner"></span><em>{% trans 'Save' %}</em>
                        </button>
                    </p>
                </li>
            </ul>
        </div>
    </form>
    <div class="object">
        <div class="title-wrapper">Pages</div>
        <div class="object-layout">
            <div class="object-layout_big-part">
                <div class="multiple">
                    {% if pages %}
                        {% include "wagtailadmin/workflows/listing/_list_workflow_pages.html" %}
                        {% paginate pages base_url=request.path %}
                    {% endif %}
                    <p class="add">
                        <a class="button bicolor icon icon-plus" href="{% url 'wagtailadmin_workflows:add_to_page' workflow.pk %}">Add</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
