{% extends "wagtailadmin/generic/index.html" %}
{% load i18n %}

{% block content %}
    <header role="banner">
        <div class="row nice-padding">
            <div class="left">
                <div class="col header-title">
                    <h1 class="icon icon-{{ view.header_icon }}">
                    {{ view.page_title }}{% if view.subtitle %} <span>{{ view.subtitle }}</span>{% endif %}</h1>
                </div>
            </div>
            <div class="right">
                <div class="addbutton">
                    <a href="{% url view.add_url_name %}" class="button bicolor icon icon-plus">{{ view.add_item_label }}</a>
                </div>
            </div>
        </div>
    </header>
    <div class="nice-padding">
        {% if workflows %}
            <div id="sites-list">
                <table class="listing">
                    <thead>
                        <tr>
                            <th>
                                {% trans "Name" %}
                            </th>
                            <th>
                                {% trans "Tasks" %}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for workflow in workflows %}
                            <tr>
                                <td class="title">
                                    <div class="title-wrapper">
                                        <a href="{% url view.edit_url_name workflow.pk %}">{{ workflow }}</a>
                                        {% if not workflow.active %}
                                            <span class="status-tag">Disabled</span>
                                        {% endif %}
                                    </div>
                                </td>
                                <td class="tasks">
                                    <div class="task-wrapper">
                                        {% for task in workflow.tasks %}
                                        <button class="status-tag primary" >{{ task }}</button>
                                        {% endfor %}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        {% else %}
            {% url view.add_url_name as add_url %}
            {% if showing_disabled %}
                <p>{% blocktrans %}No workflows have been created. Why not <a href="{{ add_url }}">add one</a>?{% endblocktrans %}</p>
            {% else %}
                <p>{% blocktrans %}There are no enabled workflows. Why not <a href="{{ add_url }}">add one</a>?{% endblocktrans %}</p>
            {% endif %}
        {% endif %}
        {% if showing_disabled %}
            <a href="." class="button secondary">{% trans "Hide disabled workflows" %}</a>
        {% else %}
            <a href="?show_disabled" class="button secondary">{% trans "Show disabled workflows" %}</a>
        {% endif %}
    </div>
{% endblock %}
