{% load wagtailadmin_tags i18n %}

<ol class="workflow-timeline">

    <li class="workflow-timeline__item workflow-timeline__item--approved">
        <div class="workflow-timeline__line"></div>
        {% icon name="circle-check" class_name="workflow-timeline__icon" %}
        {% trans "Submitted" %}
    </li>

    {# Workflow tasks #}
    {% trans "Not started" as not_started_text %}
    {% if workflow_state %}
        {% for task in workflow_state.all_tasks_with_state %}
            {% with status=task.task_state.status status_display=task.task_state.get_status_display|default:not_started_text %}
                <li class="workflow-timeline__item workflow-timeline__item--{{ status|default:"pending" }}">
                    <div class="workflow-timeline__line"></div>
                    {% if status == "rejected" %}
                        <div class="w-flex">
                            {% icon name="warning" class_name="workflow-timeline__icon" title=status_display %}
                            <div class="w-flex w-flex-col">
                                <strong>{{ task.name }}</strong>
                                {% if task.task_state.finished_by %}
                                    {% blocktrans trimmed with requested_by=task.task_state.finished_by|user_display_name %}
                                        Changes requested by {{ requested_by }}
                                    {% endblocktrans %}
                                {% else %}
                                    {% trans "Changes requested" %}
                                {% endif %}
                            </div>
                        </div>
                    {% else %}
                        {% icon name="circle-check" class_name="workflow-timeline__icon" title=status_display %}
                        {{ task.name }}
                        {% if task.task_state.finished_by %}
                            {% blocktrans trimmed with approved_by=task.task_state.finished_by|user_display_name %}
                                Approved by {{ approved_by }}
                            {% endblocktrans %}
                        {% endif %}
                    {% endif %}

                    {% if task.task_state and task.task_state.get_comment %}
                        <div class="w-ml-[1.875rem] w-w-full">
                            {% trans "with comment:" %} <em>"{{ task.task_state.get_comment }}"</em>
                        </div>
                    {% endif %}
                </li>
            {% endwith %}
        {% endfor %}
    {% endif %}

    {# Published status #}
    <li class="workflow-timeline__item workflow-timeline__item--pending">
        {% icon name="circle-check" class_name="workflow-timeline__icon" %}{% trans "Published" %}
    </li>
</ol>

{# Footer Actions #}
<div class="workflow-timeline__footer">
    <a href="{% url 'wagtailadmin_pages:history' page.id %}" class="button">
        {% trans "See full history" %}
    </a>

    {% with page.get_latest_revision as latest_revision %}
        <div class="w-flex">
            {% if page.live_revision %}
                <a href="{% url 'wagtailadmin_pages:revisions_compare' page.id 'live' latest_revision.id %}" class="workflow-timeline__footer-link">
                    {% trans "Compare with live version" %}
                </a>
            {% endif %}
            {% with latest_revision.get_previous as previous_revision %}
                {% if previous_revision %}
                    {# Only show the separator if there are two links. #}
                    {% if page.live_revision %}
                        <div class="w-mx-2" aria-hidden="true">|</div>
                    {% endif %}
                    <a href="{% url 'wagtailadmin_pages:revisions_compare' page.id previous_revision.id latest_revision.id %}"
                        class="workflow-timeline__footer-link">{% trans 'Compare with previous version' %}</a>
                {% endif %}
            {% endwith %}
        </div>
    {% endwith %}

</div>
