{% extends 'wagtailadmin/bulk_actions/confirmation/base.html' %}
{% load i18n wagtailusers_tags wagtailadmin_tags %}

{% block titletag %}{% blocktrans count counter=pages|length %}Delete 1 user {% plural %}Delete {{ counter }} users{% endblocktrans %}{% endblock %}

{% block header %}
    {% trans "Delete" as del_str %}
    {% include "wagtailadmin/shared/header.html" with title=del_str icon="doc-empty-inverse" %}
{% endblock header %}

{% block objects_with_access %}
        {% if users %}
        <p>{% trans "Are you sure you want to delete these users?" %}</p>
        <ul>
            {% for user in users %}
            <li>
                <a href="{% url 'wagtailusers_users:edit' user.user.pk %}" target="_blank" rel="noopener noreferrer">{{user.user|user_display_name }}</a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
{% endblock objects_with_access %}

{% block objects_with_no_access %}

{% blocktrans asvar no_access_msg count counter=pages_with_no_access|length %}You don't have permission to delete this user{% plural %}You don't have permission to delete these users{% endblocktrans %}
{% include 'wagtailusers/bulk_actions/list_objects_with_no_access.html' with objects=users_with_no_access no_access_msg=no_access_msg %}

{% endblock objects_with_no_access %}

{% block form_section %}
{% if users %}
    {% trans 'Yes, delete' as action_button_text %}
    {% trans "No, don't delete" as no_action_button_text %}
    {% include 'wagtailadmin/bulk_actions/confirmation/form.html' with action_button_class="serious" %}
{% else %}
    {% include 'wagtailadmin/bulk_actions/confirmation/go_back.html' %}
{% endif %}
{% endblock form_section %}
