<header>
    <h1>Add an email link</h1>
</header>

<div class="nice-padding">
    {% include 'wagtailadmin/chooser/_link_types.html' with current='email' %}

    <form action="{% url 'wagtailadmin_choose_page_email_link' %}?{{ querystring }}" method="post">
        {% csrf_token %}
        <ul class="fields">
            {% for field in form %}
                {% include "wagtailadmin/shared/field_as_li.html" %}
            {% endfor %}
            <li><input type="submit" value="Insert link" /></li>
        </ul>
    </form>
</div>
