{% load wagtailadmin_tags %}

{% comment "text/markdown" %}
    Variables accepted by this template:

    - `user` - A user object with avatarUrl, name and ID
    - `size` - Avatar's size (small|default|large)
    - `username` - A user's username to display (optional)

    Variables passed to storybook to be used in template tag overrides
    - `storybook_json` - [{'small': 'user 25'}, {'default':'user'}, {'large':'user 100'}]
{% endcomment %}

<span class="avatar {{ size }}">
    {% if 'small' in size %}
        <img src="{% avatar_url user 25 %}" alt=""/>
    {% elif 'large' in size %}
        <img src="{% avatar_url user 100 %}" alt=""/>
    {% else %}
        <img src="{% avatar_url user %}" alt=""/>
    {% endif %}
</span>

{% if username %}
    {{ username }}
{% endif %}
