{% load i18n wagtailadmin_tags %}
{% with breadcrumb_link_classes='w-flex w-justify-start w-items-center w-no-underline hover:w-underline w-text-grey-600 hover:w-text-primary' icon_classes='w-w-4 w-h-4 w-ml-2' %}
    {# Breadcrumbs are visible on mobile by default but hidden on desktop #}
    <nav data-hidden-breadcrumbs class="sm:w-hidden sm:w-opacity-0 sm:w-absolute w-w-full w-h-full w-bg-grey-50 w-top-0 w-flex w-items-center w-z-20 w-transition w-duration-300" aria-label="{% trans 'Breadcrumb' %}">
        <ul class="w-flex w-flex-wrap sm:w-flex-nowrap sm:w-flex-row w-justify-start w-items-center w-pl-4 w-gap-2 sm:w-gap-0 sm:w-space-x-2">
            {% for page in pages %}
                {% if page.is_root %}
                    {# Root section is shown as a 'site' icon in place of the title #}
                    <li>
                        <a class="{{ breadcrumb_link_classes }}" href="{% url 'wagtailadmin_explore_root' %}">
                            {% trans "Root" %}
                            {% icon name="arrow-right" class_name=icon_classes %}
                        </a>
                    </li>
                {% elif forloop.first %}
                    {# For limited-permission users whose breadcrumb starts further down from the root, the first item displays as a 'home' icon in place of the title #}
                    {% trans 'Home' as home %}
                    <li>
                        <a class="{{ breadcrumb_link_classes }}" href="{% url 'wagtailadmin_explore' page.id %}">
                            {% icon name="site" class_name="home_icon" title=home %}{% icon name="arrow-right" class_name="arrow_right_icon" %}
                        </a>
                    </li>
                {% elif forloop.last %}
                    <li>
                        <a class="{{ breadcrumb_link_classes }} w-font-bold !w-text-primary" href="{% url 'wagtailadmin_explore' page.id %}"><span class="title">{{ page.get_admin_display_title }}</span>
                            {% if trailing_arrow %}
                                {% icon name="arrow-right" class_name=icon_classes %}
                            {% endif %}
                        </a>
                    </li>
                {% else %}
                    <li>
                        <a class="{{ breadcrumb_link_classes }}" href="{% url 'wagtailadmin_explore' page.id %}">
                            <span class="title">{{ page.get_admin_display_title }}</span>
                            {% icon name="arrow-right" class_name=icon_classes %}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
{% endwith %}
