{% load i18n l10n %}

<li {% if li_classes %}class="{{ li_classes }}"{% endif %}>
    <div class="field choice_field select">
        <label for="collection_chooser_collection_id">{% trans "Collection" %}:</label>
        <div class="field-content">
            <div class="input">
                <select id="collection_chooser_collection_id" name="collection_id">
                    <option value="">{% trans "All collections" %}</option>
                    {% for pk, display_name in collections.get_indented_choices %}
                        <option value="{{ pk|unlocalize }}"
                            {% if pk == current_collection.pk %}selected="selected"{% endif %}>
                            {{ display_name }}
                        </option>
                    {% endfor %}
                </select>
                <span></span>
            </div>
        </div>
    </div>
</li>
