{% load i18n %}

<script>
    $.fn.datetimepicker.defaults.i18n.wagtail_custom_locale = {
        months: [
            '{% trans "January" %}',
            '{% trans "February" %}',
            '{% trans "March" %}',
            '{% trans "April" %}',
            '{% trans "May" %}',
            '{% trans "June" %}',
            '{% trans "July" %}',
            '{% trans "August" %}',
            '{% trans "September" %}',
            '{% trans "October" %}',
            '{% trans "November" %}',
            '{% trans "December" %}'
        ],
        dayOfWeek: [
            '{% trans "Sunday" %}',
            '{% trans "Monday" %}',
            '{% trans "Tuesday" %}',
            '{% trans "Wednesday" %}',
            '{% trans "Thursday" %}',
            '{% trans "Friday" %}',
            '{% trans "Saturday" %}'
        ],
        dayOfWeekShort: [
            '{% trans "Sun" %}',
            '{% trans "Mon" %}',
            '{% trans "Tue" %}',
            '{% trans "Wed" %}',
            '{% trans "Thu" %}',
            '{% trans "Fri" %}',
            '{% trans "Sat" %}'
        ],
    }
    $.datetimepicker.setLocale('wagtail_custom_locale');

    {#
    The date string read from and written to the form field should be un-localised,
    as Django cannot parse dates with non-English day/month names.
    This requires us to replace the default DateFormatter component (which has been
    passed these translations as configuration options) with a fresh one in its
    default (English) configuration.
    #}

    @.datetimepicker.setDateFormatter(DateFormatter());
</script>
