{% load i18n %}
{% comment %}

    Variables accepted by this template:

    - `page` - A wagtail page object
    - `show_tooltip` - Boolean to show tooltips on the button when the page is live
    - `classes` - String of extra css classes to pass to this component
{% endcomment %}

{% with page_url=page.url tag_classes='w-inline-flex w-items-center w-justify-center w-px-1.5 w-py-0.5 w-text-14 w-rounded-sm w-bg-transparent w-text-grey-400 w-border w-border-grey-100' %}
    {% if page.live %}
        {% if page_url is not None %}
            <a href="{{ page_url }}" target="_blank" rel="noreferrer"
                class="{{ tag_classes }} {{ classes }} w-no-underline hover:w-border-primary hover:w-text-primary w-transition"
                style="text-transform: uppercase;" {# We use inline styles here to reduce the amount uppercase is used in css #}
                data-tippy-offset="[0, 13]"
                title="{% trans 'Visit the live page' %}"
                {% if show_tooltip %} data-tippy-content="{% trans 'Visit the live page' %}" data-tippy-offset="[0, 20]" {% endif %}>
                <span class="w-sr-only">{% trans "Current page status:" %}</span> {{ page.status_string }}
            </a>
        {% else %}
            <span class="{{ tag_classes }} {{ classes }}"
                style="text-transform: uppercase;" {# We use inline styles here to reduce the amount uppercase is used in css #}>
                <span class="w-sr-only">{% trans "Current page status:" %}</span> {{ page.status_string }}
            </span>
        {% endif %}
    {% else %}
        <span class="{{ tag_classes }} {{ classes }}"
            style="text-transform: uppercase;" {# We use inline styles here to reduce the amount uppercase is used in css #}>
            <span class="w-sr-only">{% trans "Current page status:" %}</span> {{ page.status_string }}
        </span>
    {% endif %}
{% endwith %}
