{% load i18n %}
{% comment %}

    Variables accepted by this template:

    - `page` - A wagtail page object
    - `show_tooltip` - Boolean to show tooltips on the button when the page is live
    - `classes` - String of css classes to pass to this component
{% endcomment %}

{% if page.live %}
    {% with page_url=page.url %}
        {% if page_url is not None %}
            <a href="{{ page_url }}" target="_blank" rel="noreferrer"
                class="status-tag primary w-bg-none {{ classes }}"
                title="{% trans 'Visit the live page' %}"
                {% if show_tooltip %} data-tippy-content="{% trans 'Visit the live page' %}" data-tippy-offset="[0, 20]" {% endif %}>
                <span class="visuallyhidden">{% trans "Current page status:" %}</span> {{ page.status_string }}
            </a>
        {% else %}
            <span class="status-tag primary {{ classes }}">
                <span class="visuallyhidden">{% trans "Current page status:" %}</span> {{ page.status_string }}
            </span>
        {% endif %}
    {% endwith %}
{% else %}
    <span class="status-tag hover:w-bg-white hover:w-text-grey-400 hover:w-border-grey-100 {{ classes }}">
        <span class="visuallyhidden">{% trans "Current page status:" %}</span> {{ page.status_string }}
    </span>
{% endif %}
