{% load wagtailadmin_tags i18n %}
<div
    class="footer__container footer__container--hidden"
    aria-live="polite"
    data-controller="w-messages"
    data-action="w-unsaved:add@document->w-messages#add w-unsaved:clear@document->w-messages#clear w-autosave:error@document->w-messages#add"
    data-w-messages-clear-delay-value="1024"
    data-w-messages-clear-param="true"
    data-w-messages-hide-class="footer__container--hidden"
>
    <div class="footer__save-warning footer__emphasise-span-tags" data-w-messages-target="container"></div>
    {% block message_templates %}
        {% blocktranslate trimmed asvar generic_save_message %}
            Autosave is <span>paused</span>
        {% endblocktranslate %}
        <template data-w-messages-target="template" data-type="invalid_revision">
            <div>
                <b>{{ generic_save_message }}</b>
                <p>
                    {% blocktranslate trimmed %}
                        Saving will overwrite a newer version
                    {% endblocktranslate %}
                </p>
            </div>
        </template>
        <template data-w-messages-target="template" data-type="validation_error">
            <div>
                <b>{{ generic_save_message }}</b>
                <p>
                    {% blocktranslate trimmed %}
                        There are validation errors – click save to highlight them
                    {% endblocktranslate %}
                </p>
            </div>
        </template>
        <template data-w-messages-target="template" data-type="locked">
            <div>
                <b>{{ generic_save_message }}</b>
                <p>
                    {% blocktranslate trimmed %}
                        The content is currently locked
                    {% endblocktranslate %}
                </p>
            </div>
        </template>
    {% endblock %}
</div>
