{% include "verdantadmin/shared/header.html" with title="Popular search terms" %}

<form class="query-search search-bar full-width" action="{% url 'wagtailsearch_queries_chooserresults' %}" method="GET" autocomplete="off">
    <ul class="fields">
        {% for field in searchform %}
            {% include "wagtailadmin/shared/field_as_li.html" with field=field %}
        {% endfor %}
        <li class="submit"><input type="submit" value="Search" /></li>
    </ul>
</form>
<div class="nice-padding">
    <div id="query-results">
        {% include "wagtailsearch/queries/chooser/results.html" %}
    </div>
</div>