{% extends 'wagtailadmin/shared/headers/slim_header.html' %}
{% load wagtailadmin_tags i18n %}

{% block actions %}
    {% include "wagtailadmin/shared/side_panel_toggles.html" %}

    {# Object history #}
    <a href="{{ view.get_history_url }}"
        class="{{ nav_icon_button_classes }}"
        data-tippy-content="{% trans 'History' %}"
        data-tippy-offset="[0, 0]"
        data-tippy-placement="bottom"
        aria-label="{% trans 'History' %}"
    >
        {% icon name="history" classname=nav_icon_classes %}
    </a>
{% endblock %}
