root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{css,js,json,py,yml,rst}]
indent_style = space

[*.{js,py}]
charset = utf-8

[*.{css,py,scss}]
indent_size = 4

[*.{js,json,yml}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
