node_modules
*.min.js
**/lib/
public/
coverage/
gulp/
**/vendor/
gulpfile.js
client/src/cli
wagtail/admin/static
wagtail/documents/static
wagtail/images/static
wagtail/images/static
wagtail/embeds/static
wagtail/snippets/static
wagtail/users/static
wagtail/admin/templates/wagtailadmin/edit_handlers/inline_panel.js
wagtail/contrib/wagtailsearchpromotions/templates/wagtailsearchpromotions/includes/searchpromotions_formset.js
wagtail/users/templates/wagtailusers/groups/includes/page_permissions_formset.js
wagtail/snippets/templates/wagtailsnippets/chooser/chosen.js
wagtail/images/templates/wagtailimages/chooser/image_chosen.js
wagtail/images/templates/wagtailimages/chooser/chooser.js
wagtail/search/templates/wagtailsearch/queries/chooser/chooser.js
wagtail/images/templates/wagtailimages/chooser/select_format.js
wagtail/embeds/templates/wagtailembeds/chooser/embed_chosen.js
wagtail/embeds/templates/wagtailembeds/chooser/chooser.js
wagtail/documents/templates/wagtaildocs/chooser/chooser.js
wagtail/documents/templates/wagtaildocs/chooser/document_chosen.js
wagtail/admin/templates/wagtailadmin/page_privacy/set_privacy.js
wagtail/admin/templates/wagtailadmin/chooser/external_link_chosen.js
wagtail/admin/templates/wagtailadmin/chooser/external_link.js
wagtail/admin/templates/wagtailadmin/chooser/email_link.js
wagtail/admin/templates/wagtailadmin/chooser/browse.js
wagtail/admin/templates/wagtailadmin/page_privacy/set_privacy_done.js
