# Irrelevant files ignored for performance reasons.
node_modules
*.min.js
**/lib/
public/
coverage/
**/vendor/
static
_build
# File types which Prettier supports but we don’t want auto-formatting.
*.md
# Files which contain incompatible syntax.
*.html
wagtail/contrib/search_promotions/templates/wagtailsearchpromotions/includes/searchpromotions_formset.js
