language: python
cache: pip

# Use container-based infrastructure
sudo: false

matrix:
  include:
   - env: TOXENV=py27-dj18-postgres-noelasticsearch
     python: 2.7
   - env: TOXENV=py27-dj18-mysql-noelasticsearch
     python: 2.7
   - env: TOXENV=py27-dj18-sqlite-noelasticsearch
     python: 2.7
   - env: TOXENV=py33-dj18-postgres-noelasticsearch
     python: 3.3
   - env: TOXENV=py35-dj18-postgres-noelasticsearch
     python: 3.5
   - env: TOXENV=py27-dj19-postgres-noelasticsearch
     python: 2.7
   - env: TOXENV=py34-dj19-postgres-noelasticsearch
     python: 3.4
   - env: TOXENV=py35-dj19-postgres-noelasticsearch
     python: 3.5
   - env: TOXENV=py35-dj19-sqlite-noelasticsearch
     python: 3.5
   - env: TOXENV=py35-dj19-mysql-noelasticsearch
     python: 3.5
   - env: TOXENV=py27-dj18-sqlite-elasticsearch
     python: 2.7
   - env: TOXENV=py27-dj19-postgres-elasticsearch
     python: 2.7
   - env: TOXENV=py34-dj19-sqlite-elasticsearch
     python: 3.5
   - env: TOXENV=py27-dj18-sqlite-elasticsearch2 INSTALL_ELASTICSEARCH2=yes
     python: 2.7
     sudo: true
   - env: TOXENV=py27-dj19-postgres-elasticsearch2 INSTALL_ELASTICSEARCH2=yes
     python: 2.7
     sudo: true
   - env: TOXENV=py34-dj19-sqlite-elasticsearch2 INSTALL_ELASTICSEARCH2=yes
     python: 3.5
     sudo: true
   - env: TOXENV=py27-dj110-sqlite-noelasticsearch
     python: 2.7
   - env: TOXENV=py27-dj110-postgres-noelasticsearch
     python: 2.7
   - env: TOXENV=py27-dj110-mysql-noelasticsearch
     python: 2.7
   - env: TOXENV=py27-dj110-mysql-elasticsearch
     python: 2.7
   - env: TOXENV=py27-dj110-mysql-elasticsearch2 INSTALL_ELASTICSEARCH2=yes
     python: 2.7
     sudo: true
   - env: TOXENV=py34-dj110-postgres-noelasticsearch
     python: 3.4
   - env: TOXENV=py34-dj110-sqlite-noelasticsearch
     python: 3.4
   - env: TOXENV=py34-dj110-mysql-noelasticsearch
     python: 3.4
   - env: TOXENV=py35-dj110-sqlite-noelasticsearch
     python: 3.5
   - env: TOXENV=py35-dj110-postgres-noelasticsearch
     python: 3.5
   - env: TOXENV=py35-dj110-mysql-noelasticsearch
     python: 3.5
   - env: TOXENV=py35-dj110-postgres-elasticsearch
     python: 3.5
   - env: TOXENV=py35-dj110-postgres-elasticsearch2 INSTALL_ELASTICSEARCH2=yes
     python: 3.5
     sudo: true
   - env: TOXENV=py35-dj110head-postgres-noelasticsearch
     python: 3.5
   - env: TOXENV=py35-dj110head-postgres-elasticsearch2 INSTALL_ELASTICSEARCH2=yes
     python: 3.5
     sudo: true
  allow_failures:
    - env: TOXENV=py27-dj18-sqlite-elasticsearch
    - env: TOXENV=py27-dj19-postgres-elasticsearch
    - env: TOXENV=py34-dj19-sqlite-elasticsearch
    - env: TOXENV=py27-dj110-mysql-elasticsearch
    - env: TOXENV=py35-dj110-postgres-elasticsearch
    - env: TOXENV=py27-dj18-sqlite-elasticsearch2 INSTALL_ELASTICSEARCH2=yes
    - env: TOXENV=py27-dj19-postgres-elasticsearch2 INSTALL_ELASTICSEARCH2=yes
    - env: TOXENV=py34-dj19-sqlite-elasticsearch2 INSTALL_ELASTICSEARCH2=yes
    - env: TOXENV=py27-dj110-mysql-elasticsearch2 INSTALL_ELASTICSEARCH2=yes
    - env: TOXENV=py35-dj110-postgres-elasticsearch2 INSTALL_ELASTICSEARCH2=yes
    - env: TOXENV=py35-dj110head-postgres-elasticsearch2 INSTALL_ELASTICSEARCH2=yes


# Services
services:
  - elasticsearch

# Package installation
install:
  - pip install tox coveralls
  - 'if [[ -n "$INSTALL_ELASTICSEARCH2" ]]; then ./scripts/travis/install_elasticsearch2.sh; fi'

# Pre-test configuration
before_script:
  - psql -c 'create database wagtaildemo;' -U postgres
  - mysql -e "SET GLOBAL wait_timeout = 36000;"
  - mysql -e "SET GLOBAL max_allowed_packet = 134209536;"

# Run the tests
script:
  tox

after_success:
  coveralls

# Who to notify about build results
notifications:
  slack:
    secure: Y/UERaVnR+RL2dOqLR0Nc60JdGkejQ1Ae5zvPRYdDiMIGSv/1KC3T5Dp8NxamqIlozbQNmRaZD+i4AdX60g1M3xlB9DMINzY584YK0X2T2S28+xIgE0MQJijbpfbk2veV8PMeA6EHNpG4zoT+4sbcSyljt9TPcYTTTiTB8rAtc0=

# bump Travis: 1
