language: python
# Test matrix
python:
    - 2.7
    - 3.4
env:
    - DJANGO_VERSION=Django==1.6.5
    #- DJANGO_VERSION=Django==1.7.0
# Services
services:
  - redis-server
  - elasticsearch
# Package installation
install:
  - python setup.py install
  - pip install psycopg2 elasticsearch wand embedly
  - pip install coveralls
# Pre-test configuration
before_script:
  - psql -c 'create database wagtaildemo;' -U postgres
# Run the tests
script:
  coverage run runtests.py
after_success:
  coveralls
# Who to notify about build results
notifications:
  email:
    recipients:
      - wagtail-ci@torchbox.com
    on_success: change
    on_failure: always
  webhooks:
    urls:
      - secure: "dQZBPlCC2OQE2L7EqOMkKsQxCJm05BhFrfmKmJ0AnKqxiEyZDKd2JiQaMg8X7XtIdJ87dlnBZH5h3erPSMgI3mIfNCWKKs/f6idgWIXPpklzU95KmPOrCoOyT3lkDTEOXCYXhgvOExp8qLHc4qjEWbSoIfPwqYyPlGry3Z76UBM="
    on_success: change
    on_failure: always

# bump Travis: 1
