services:
  - mssql2016

environment:
  matrix:
    - TOXENV: py35-dj111-sqlite-noelasticsearch

matrix:
  fast_finish: true

install:
  - C:\Python36\python -m pip install tox

build: false  # Not a C# project

test_script:
  - C:\Python36\scripts\tox
