include LICENSE *.rst *.txt *.md
graft wagtail
prune wagtail/wagtailadmin/static_src
global-exclude __pycache__
global-exclude *.py[co]
global-exclude *.stories.js
global-exclude *.stories.tsx
recursive-exclude wagtail/ *.md
