.listing td {
	position: relative; 
}
.listing.full-width td.first-col:before {
	display: block;
	content: '';
	position: absolute;
	top: -1px;
	left: 0;
	bottom: -1px;
	background-color: #fafafa;
	border-right: 1px dashed #e6e6e6;
}
.listing.full-width th:first-child {
	padding-left:15px;
}
.listing.full-width td.depth-1 {
	padding-left: 15px;
}
.listing.full-width td.depth-1:before {
	display: none;
}

.listing.full-width td.depth-2 {
	padding-left: 45px;
}
.listing.full-width td.depth-2:before {
	width: 	20px;
}

.listing.full-width td.depth-3 {
	padding-left: 65px;
}
.listing.full-width td.depth-3:before {
	width: 40px;
}

.listing.full-width td.depth-4 {
	padding-left: 85px;
}
.listing.full-width td.depth-4:before {
	width: 60px;
}

.listing.full-width td.depth-5 {
	padding-left: 105px;
}
.listing.full-width td.depth-5:before {
	width: 80px;
}


@media screen and (min-width: 50em) {
	.listing.full-width th:first-child {
		padding-left:30px;
	}
	.listing.full-width td.depth-1 {
		padding-left: 30px;
	}
	.listing.full-width td.depth-2 {
		padding-left: 60px;
	}
	.listing.full-width td.depth-2:before {
		width: 	35px;
	}

	.listing.full-width td.depth-3 {
		padding-left: 80px;
	}
	.listing.full-width td.depth-3:before {
		width: 55px;
	}

	.listing.full-width td.depth-4 {
		padding-left: 105px;
	}
	.listing.full-width td.depth-4:before {
		width: 75px;
	}

	.listing.full-width td.depth-5 {
		padding-left: 120px;
	}
	.listing.full-width td.depth-5:before {
		width: 95px;
	}
}
