{% extends "wagtailadmin/base.html" %}
{% load wagtailusers_tags static compress i18n %}

{% block titletag %}{% trans "Editing" %} {{ group.name }}{% endblock %}

{% block extra_css %}
    {{ block.super }}
    {% compress css %}
        <link rel="stylesheet" href="{% static 'wagtailusers/css/groups_edit.css' %}" type="text/css" />
    {% endcompress %}
{% endblock %}

{% block content %}

    {% trans "Editing" as editing_str %}
    {% include "wagtailadmin/shared/header.html" with title=editing_str subtitle=group.name icon="group" %}
    
    <div class="nice-padding">
        <form action="{% url 'wagtailusers_groups:edit' group.id %}" method="POST">
            {% csrf_token %}

            <ul class="fields">
                {% include "wagtailadmin/shared/field_as_li.html" with field=form.name %}
                
                <li>
                    {% format_permissions permission_bound_field=form.permissions %}
                </li>
                <li>
                    {% include "wagtailusers/groups/includes/page_permissions_formset.html" with formset=formset only %}
                </li>
                <li>
                    <input type="submit" value="{% trans 'Save' %}" />

                    {% if perms.auth.delete_group %}
                        <a href="{% url 'wagtailusers_groups:delete' group.id %}" class="button button-secondary no">{% trans "Delete group" %}</a>
                    {% endif %}
                </li>
            </ul>
           
        </form>
    </div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    {% include "wagtailusers/groups/includes/group_form_js.html" %}
{% endblock %}
