@use 'sass:math';

$grid-gutter-width: 30px !default;
$header-padding-horizontal: 4px !default;
$header-padding-vertical: 6px;
$header-gutter: 8px !default;
$header-background: #fbfbfb;
$block-margin-vertical: 4px !default;
$block-margin-horizontal: 0 !default;
$add-button-size: 34px !default;
$add-button-font-size: 24px !default;
$type-button-padding-vertical: 10px !default;
$type-button-padding-horizontal: 10px !default;
$children-container-padding: math.div($add-button-size, 2) !default;
$content-padding-horizontal: 24px !default;
$content-padding-vertical: 16px !default;
$action-font-size: 18px;
$add-transition-duration: 0.3s !default;
$hover-transition-duration: 0.3s !default;
$bounce-transition-timing: cubic-bezier(0.175, 0.885, 0.32, 1.275) !default;
$border-radius: 3px !default;
$teal: #007d7e !default;
$header-text-color-focus: #4d4d4d !default;
$header-text-color: #585858 !default;
$block-border-color: #e6e6e6 !default;
$block-border-color-focus: #bbb !default;
$block-hover-background: #f5f5f5 !default;
$error-color: #cd3238 !default;
$error-border-color: #dbc7c8 !default;
$error-border-color-focus: #cdb2b3 !default;
$error-background-color: #fbefef !default;
$screen-xs-max: 799px !default;
$screen-sm-min: 800px !default;
$screen-l-min: 1075px !default;
$add-panel-gutter: 8px !default;
$font-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
  sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji' !default;
