{% extends 'wagtailadmin/shared/side_panels/includes/action_list_item.html' %}
{% load i18n wagtailadmin_tags %}

{% block content %}
    {% test_page_is_public page as is_public %}

    {# The swap between public and private text is done using JS inside of privacy-switch.js when the response from the modal comes back #}
    <div class="{% if not is_public %}w-hidden{% endif %}" data-privacy-sidebar-public>
        {% trans 'Page visibility: ' as screen_reader_title_prefix %}
        {% trans 'Visible to all' as title %}
        {% trans 'Once live anyone can view' as help_text %}
        {% with icon_name='view' %}
            {{ block.super }}
        {% endwith %}
    </div>
    <div class="{% if is_public %}w-hidden{% endif %}" data-privacy-sidebar-private>
        {% trans 'Private' as title %}
        {% trans 'Not visible to the public' as help_text %}
        {% with icon_name='no-view' %}
            {{ block.super }}
        {% endwith %}
    </div>
{% endblock %}

{% block action %}
    {% page_permissions page as page_perms %}
    {% if page.id and page_perms.can_set_view_restrictions %}
        {% trans 'Change privacy' as set_privacy_text %}
        {% url 'wagtailadmin_pages:set_privacy' page.id as privacy_url %}
        {% include 'wagtailadmin/shared/side_panels/includes/side_panel_button.html' with attr='data-action-set-privacy' data_url=privacy_url text=set_privacy_text %}
    {% else %}
        {# Empty actions block because of lack of permissions #}
    {% endif %}
{% endblock %}
