{% load wagtailadmin_tags %}
<ul class="tab-nav merged" role="tablist" aria-owns="{% for child in self.children %}tab-label-{{ child.heading|cautious_slugify }} {% endfor %}">
    {% for child in self.children %}
        <li role="presentation" {% if child.classes %}class="{{ child.classes|join:" " }}"{% endif %}>
            <a href="#tab-{{ child.heading|cautious_slugify }}" id="tab-label-{{ child.heading|cautious_slugify }}" class="{% if forloop.first %}active{% endif %}" role="tab">{{ child.heading }}</a>
        </li>
    {% endfor %}
</ul>

<div class="tab-content">
    {% for child in self.children %}
        <section id="tab-{{ child.heading|cautious_slugify }}" class="{{ child.classes|join:" " }}" role="tabpanel">
            {{ child.render_as_object }}
        </section>
    {% endfor %}
</div>
