{% load i18n wagtailadmin_tags %}
{% if launch_modal %}
<button class="button" data-workflow-action-name="{{ name }}" data-workflow-action-modal-url="{% url 'wagtailadmin_pages:collect_workflow_action_data' page.id name current_task_state.id %}">
    {% if icon_name %}{% icon name=icon_name %}{% endif %}{{ label }}
</button>
{% else %}
<button
    type="submit"
    class="button button-longrunning"
    data-workflow-action-name="{{ name }}"
    data-controller="w-progress"
    data-action="w-progress#activate"
>
    {% if icon_name %}{% icon name=icon_name classname="button-longrunning__icon" %}{% endif %}
    {% icon name="spinner" %}
    <em data-w-progress-target="label">{{ label }}</em>
</button>
{% endif %}
