{% extends "wagtailadmin/pages/listing/_list.html" %}

{% load i18n %}

{# Page listing include, customised for 'explore' mode #}

{% block parent_page_title %}
    {% include "wagtailadmin/pages/listing/_parent_page_title_explore.html" %}
{% endblock %}

{% block post_parent_page_headers %}
    {% include "wagtailadmin/pages/listing/_table_headers_explore.html" %}
{% endblock %}

{% block page_title %}
    {% include "wagtailadmin/pages/listing/_page_title_explore.html" %}
{% endblock %}

{% block page_navigation %}
    {% include "wagtailadmin/pages/listing/_navigation_explore.html" %}
{% endblock %}

{% block no_results %}
    {% url 'wagtailadmin_pages_add_subpage' parent_page.id as add_page_url%}
    <tr><td colspan="3" class="no-results-message"><p>{% trans "No pages have been created at this location." %}{% if parent_page and parent_page_perms.can_add_subpage %} {% blocktrans %}Why not <a href="{{ add_page_url }}">create one</a>?{% endblocktrans %}{% endif %}</td></tr>
{% endblock %}

{% block pagination_links %}
    {% if parent_page and pages and pages.paginator %}
        <div class="pagination">
            <p>{% blocktrans with page_number=pages.number num_pages=pages.paginator.num_pages %}
                Page {{ page_number }} of {{ num_pages }}.
            {% endblocktrans %}</p>
            <ul>
                <li class="prev">
                    {% if pages.has_previous %}
                        <a href="{% url 'wagtailadmin_explore' parent_page.id %}?p={{ pages.previous_page_number }}{% if ordering %}&amp;ordering={{ ordering }}{% endif %}" class="icon icon-arrow-left">{% trans "Previous" %}</a>
                    {% endif %}
                </li>
                <li class="next">
                    {% if pages.has_next %}
                        <a href="{% url 'wagtailadmin_explore' parent_page.id %}?p={{ pages.next_page_number }}{% if ordering %}&amp;ordering={{ ordering }}{% endif %}" class="icon icon-arrow-right-after">{% trans 'Next' %}</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    {% endif %}
{% endblock %}
