{% extends "wagtailadmin/admin_base.html" %}
{% load i18n staticfiles wagtailadmin_tags %}
{% block titletag %}{% trans "Error 404: Page not found" %}{% endblock %}


{% block extra_css %}
    {{ block.super }}

    <link rel="stylesheet" href="{% static 'wagtailadmin/css/layouts/404.css' %}" type="text/css" />
{% endblock %}


{% block furniture %}
    <div id="backdrop"></div>

    <p class="vignette">
        <img id="wagtail-bird" src="{% static 'wagtailadmin/images/wagtail-logo.svg' %}" />
    </p>

    <div id="catchmouse"></div>

    <div id="text-container">
        <h1 id="header">
            Error 404
        </h1>

        <p id="info">
            Our wagtail searched everywhere, but it couldn't find that page.
        </p>

        <a id="goback-link" onclick="window.history.back();">Click here to go back</a>
    </div>

    <!--<a id="wagtail-link" href="https://wagtail.io">wagtail: a fresh take on content management.</a>-->
    <!-- uncomment the above line for 'branding' in the bottom right corner -->
{% endblock %}


{% block extra_js %}
    <script>
        // WAGTAIL NOD:
        $(function() {
            $('#catchmouse').hover(function() { // when mouse is hovering...
                $('#wagtail-bird').css('transform', 'translateX(-130px) rotate(4deg)');
            }, function() { // when mouse is no longer hovering...
                $('#wagtail-bird').css('transform', 'translateX(-130px) rotate(0deg)');
            });

            // For some reason if you try and change the opacity in the .scss file
            // it breaks the Wagtail nod script so it must be done using JS
            var w = $(window).width();
            var h = $(window).height();
            if (w < $breakpoint-mobile) {
                $('#wagtail-bird').css('opacity', '0');
            }
            $(window).resize(function() {
                w = $(window).width();
                h = $(window).height();
                if (w < $breakpoint-mobile) {
                    $('#wagtail-bird').css('opacity', '0');
                } else {
                    $('#wagtail-bird').css('opacity', '1');
                }
            });
        });
    </script>
{% endblock %}
