{% extends "wagtailadmin/admin_base.html" %}
{% load i18n staticfiles wagtailadmin_tags %}
{% block titletag %}{% trans "Error 404: Page not found" %}{% endblock %}


{% block extra_css %}
    {{ block.super }}

    <link rel="stylesheet" href="{% static 'wagtailadmin/css/layouts/404.css' %}" type="text/css" />
{% endblock %}


{% block furniture %}
    <div class="page404__bg">
        <img class="page404__wagtail-logo" src="{% static 'wagtailadmin/images/wagtail-logo.svg' %}" />

        <div class="page404__text-container">
            <h1 class="page404__text--header">
                Error 404
            </h1>

            <p class="page404__text--info">
                Our wagtail searched everywhere, but it couldn't find that page.
            </p>

            <a class="page404__link--goback" onclick="window.history.back();">Click here to go back</a>
        </div>
    </div>
{% endblock %}
