.hallotoolbar {
    position: absolute;
    z-index: 5;
    margin-top: 4em;
    margin-left: 1.2em;

    &.affixed {
        position: fixed;
        margin-top: 0;
    }

    // full is added to hallotoolbar when invoked on a field set to the full layout style
    &.full {
        margin-left: $mobile-nice-padding;

        @include media-breakpoint-up(sm) {
            margin-left: $desktop-nice-padding;
        }
    }

    button {
        border-radius: 0;
        height: 2.4em;
    }
}
