// These styles correspond to the image formats defined in wagtailimages/formats.py,
// so that images displayed in the rich text field receive more or less the same
// styling that they would receive on the site front-end.
//
// Wagtail installations that define their own image formats (in a myapp.image_formats module)
// should ideally use the insert_editor_css hook to pass in their own custom CSS to have those
// images render within the rich text area in the same styles that would appear on the front-end.
.richtext-image {
    // close as possible to match line-height space above p
    margin-top: 3px;

    &.small {
        max-width: 45%;
    }

    &.left {
        float: left;
        margin-right: 16px;
    }

    &.right {
        float: right;
        margin-left: 16px;
    }
}
