.tab-nav{
    .clearfix();
    border:1px solid @color-grey-4;
    border-width:0 0 1px 1px;
    padding:0;

    li{
        list-style-type:none;
        width:48%;
        float:left;
        border:1px solid @color-grey-4;
        border-width:0px 1px;
        background-color:@color-grey-5;
        margin-right:2px;
    }
    a{
        outline:none;
        line-height:3em;
        text-transform:uppercase;
        font-weight:700;
        font-size:1.2em;
        text-decoration:none;
        display:block;
        padding:0 20px;
        color:@color-grey-2;
        border-bottom:1px solid transparent;
        border-top:0.3em solid @color-grey-3;
        margin:0 -1px;

        &:hover{
            color:inherit;
            border-top-color:@color-grey-3;
        }
    }

    li.active a{
        background-color:white;
        border-top:0.3em solid @color-grey-1;  
        border-bottom:2px solid white;
        margin-bottom:-1px;
    }

    /* For cases where tab-nav should merge with header */
    &.merged{
        background-color:@color-header-bg;
        margin-top:0;
    }
}
.tab-content{
    section{
        display:none;
        padding-top:1em;

        &.active{
            display:block;
        }
    }
}

@media screen and (min-width: @breakpoint-mobile){
    .tab-nav li{
        float:none;
        width:auto;
        padding:0;
        display:inline-block;
    }

    .tab-nav a{
        padding:0 50px;
    }

    .modal-content .tab-nav li{
        padding:0;
        min-width:110px;
    }
    .modal-content .tab-nav li{
        min-width:0;
    }
}