{% load i18n wagtailadmin_tags %}
<button
    type="submit"
    name="{{ name }}"
    value="{{ name }}"
    class="button action-save button-longrunning"
    data-controller="w-progress w-kbd"
    data-action="w-progress#activate"
    data-w-kbd-key-value="mod+s"
    data-w-kbd-scope-value="global"
    data-w-progress-active-value="{% trans 'Publishing…' %}"
>
    {% icon name=icon_name classname="button-longrunning__icon" %}
    {% icon name="spinner" %}
    <em data-w-progress-target="label">{% if is_revision %}{% trans 'Publish this version' %}{% else %}{% trans 'Publish' %}{% endif %}</em>
</button>
