{% load i18n wagtailadmin_tags %}

{% if not page_perms %}
    {% page_permissions page as page_perms %}
{% endif %}

{% if page.locked and page_perms.can_unlock %}
    {% url 'wagtailadmin_pages:unlock' page.id as form_action %}
{% elif not page.locked and page_perms.can_lock %}
    {% url 'wagtailadmin_pages:lock' page.id as form_action %}
{% endif %}

<div class="lock-indicator {{ page.locked|yesno:'locked,unlocked' }}">
{% if page.locked %}
    {% if page_perms.can_unlock %}
        <button class="button button-nobg button-strokeonhover" data-locking-action="{{ form_action }}" aria-label="{% trans 'Remove editor lock' %}">
            {% trans "Unlock" as unlock_text %}
            {% icon name="lock" title=unlock_text class_name="default" %}
            {% trans "Locked" %}
        </button>
    {% endif %}
{% else %}
    {% if page_perms.can_lock %}
        <button class="button button-nobg button-strokeonhover" data-locking-action="{{ form_action }}" aria-label="{% trans 'Apply editor lock' %}">
            {% trans "Lock" as lock_text %}
            {% icon name="lock-open" title=lock_text class_name="default" %}
            {% trans "Unlocked" %}
        </button>
    {% endif %}
{% endif %}
</div>
