{% load i18n wagtailadmin_tags %}

{% test_page_is_public page as is_public %}
{% if not page_perms %}
    {% page_permissions page as page_perms %}
{% endif %}

{% with label_classes='w-inline-flex w-items-center w-justify-center w-p-1 w-text-14 w-uppercase w-rounded-sm w-bg-white w-text-grey-400 w-border w-border-grey-100 hover:w-bg-primary hover:w-text-white hover:w-border-primary' %}
    {% if not page.is_root %}
        {% if show_label %}{% trans "Privacy" %}{% endif %}
        {% if page_perms.can_set_view_restrictions %}
            <button data-url="{% url 'wagtailadmin_pages:set_privacy' page.id %}"
                class="{{ label_classes }} {{ classes }}"
                data-action-set-privacy>
                {# labels are shown/hidden in CSS according to the 'private' / 'public' class on view-permission-indicator #}
                {% if is_public %}
                    <span class="w-sr-only">{% trans 'Set page privacy. Current status: Public' %}</span>
                    {% icon name="view" class_name="w-w-4 w-h-4 w-text-gray-40 w-mr-1" %}
                    {% trans "Public" %}
                {% else %}
                    <span class="w-sr-only">{% trans 'Set page privacy. Current status: Private' %}</span>
                    {% icon name="no-view" class_name="w-w-4 w-h-4 w-text-gray-40 w-mr-1" %}
                    {% trans "Private" %}
                {% endif %}
            </button>
        {% else %}
            <div class="{{ label_classes }} {{ classes }}">
                {% if is_public %}
                    <span class="w-sr-only">{% trans 'Page privacy. Current status: Public' %}</span>
                    {% icon name="view" class_name="w-w-4 w-h-4 w-text-gray-40 w-mr-1" %}
                    {% trans "Public" %}
                {% else %}
                    <span class="w-sr-only">{% trans 'Page privacy. Current status: Private' %}</span>
                    {% icon name="no-view" class_name="w-w-4 w-h-4 w-text-gray-40 w-mr-1" %}
                    {% trans "Private" %}
                {% endif %}
            </div>
        {% endif %}
    {% endif %}
{% endwith %}
