{% extends "wagtailadmin/base.html" %}
{% load i18n wagtailadmin_tags wagtailcore_tags %}
{% block titletag %}{% blocktrans trimmed with title=page.get_admin_display_title %}Delete {{ title }}{% endblocktrans %}{% endblock %}

{% block content %}
    {% trans "Delete" as del_str %}
    {% include "wagtailadmin/shared/header.html" with title=del_str subtitle=page.get_admin_display_title icon="doc-empty-inverse" %}

    <div class="nice-padding">
        <p>
            {% trans 'Are you sure you want to delete this page?' %}
            {% if descendant_count or translation_count or translation_descendant_count %}
                {% trans "This will also delete:" %}
            {% endif %}
        </p>

        {% if descendant_count %}
            <p>
                {% blocktrans trimmed count counter=descendant_count %}
                    {{ counter }} subpage:
                {% plural %}
                    {{ counter }} subpages:
                {% endblocktrans %}
            </p>
            <ul>
                {% for descendant in descendants.iterator %}
                    <li><a href="{% url 'wagtailadmin_pages:edit' descendant.id %}">{{ descendant.title }}</a> ({{ descendant.specific_class.get_verbose_name }})</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if translation_count %}
            <p>
                {% blocktrans trimmed count counter=translation_count %}
                    {{ counter }} translation:
                {% plural %}
                    {{ counter }} translations:
                {% endblocktrans %}
            </p>
            <ul>
                {% for translation in translations %}
                    <li><a href="{% url 'wagtailadmin_pages:edit' translation.id %}">{{ translation.title }}</a> ({{ translation.specific_class.get_verbose_name }})</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if translation_count and translation_descendant_count %}
            <p>
                {% blocktrans trimmed count counter=translation_descendant_count %}
                    {{ counter }} translated subpage:
                {% plural %}
                    {{ counter }} translated subpages:
                {% endblocktrans %}
            </p>
            <ul>
                {% for descendant in translation_descendants.iterator %}
                    <li><a href="{% url 'wagtailadmin_pages:edit' descendant.id %}">{{ descendant.title }}</a> ({{ descendant.specific_class.get_verbose_name }})</li>
                {% endfor %}
            </ul>
        {% endif %}

        <form action="{% url 'wagtailadmin_pages:delete' page.id %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">

            {% blocktranslate trimmed count counter=object_delete_count asvar delete_text %}
                Yes, delete {{ counter }} page
            {% plural %}
                Yes, delete {{ counter }} pages
            {% endblocktranslate %}
            <input type="submit" value="{{ delete_text }}" class="button serious">

            <a href="{% if next %}{{ next }}{% else %}{% url 'wagtailadmin_explore' page.get_parent.id %}{% endif %}" class="button button-secondary">{% trans "No, don't delete" %}</a>
        </form>

        {% page_permissions page as page_perms %}
        {% if page_perms.can_unpublish %}
            {% url 'wagtailadmin_pages:unpublish' page.id as unpublish_url %}
            <p style="margin-top: 1em">{% blocktrans trimmed %}Alternatively you can <a href="{{ unpublish_url }}">unpublish the page</a>. This removes the page from public view and you can edit or publish it again later.{% endblocktrans %}</p>
        {% endif %}
    </div>
{% endblock %}
