{% extends 'wagtailadmin/shared/headers/slim_header.html' %}
{% load wagtailadmin_tags i18n %}

{% block breadcrumbs %}
    {# breadcrumbs #}
    {% page_breadcrumbs parent_page 'wagtailadmin_explore' url_root_name='wagtailadmin_explore_root' icon_name=header_icon %}
{% endblock %}

{% block toggles %}
    {{ block.super }}
    {% include "wagtailadmin/shared/page_status_tag_new.html" with page=parent_page %}
{% endblock %}

{% block side_panels %}
    {% include "wagtailadmin/shared/side_panels.html" with in_explorer=True %}
{% endblock side_panels %}
