{% extends 'wagtailadmin/admin_base.html' %}
{% load wagtailadmin_tags i18n %}

{% block titletag %}{% trans 'Preview not available' %}{% endblock %}

{% block furniture %}
    <div class="preview-error">
        <header>
            {% icon name="warning" %}
            <h1>{% trans 'Preview not available' %}</h1>
        </header>
        <p>
            {% blocktrans trimmed %}
                The page could not be previewed due to validation errors.
                Make sure all fields have been filled correctly, then refresh the preview.
            {% endblocktrans %}
        </p>
    </div>
{% endblock %}
