{% extends "wagtailadmin/generic/listing.html" %}
{% load wagtailadmin_tags i18n %}
{% block extra_js %}
    {{ block.super }}
    <script>
        window.wagtailConfig.BULK_ACTION_ITEM_TYPE = 'PAGE';
    </script>
    <script defer src="{% versioned_static 'wagtailadmin/js/bulk-actions.js' %}"></script>
{% endblock %}

{% block content %}
    {{ block.super }}

    {% trans "Select all pages in listing" as select_all_text %}
    {% include 'wagtailadmin/bulk_actions/footer.html' with app_label='wagtailcore' model_name='page' objects=page_obj select_all_obj_text=select_all_text %}
{% endblock %}
