{% load i18n %}
{% include "wagtailadmin/shared/header.html" with title=action_verbose icon="clipboard-list" %}

<div class="nice-padding">
    <form action="{% url 'wagtailadmin_pages:workflow_action' page.id action task_state.id %}" method="POST" novalidate>
        {% csrf_token %}
        <ul class="fields">
            {{ form.as_ul }}
            <li><button type="submit" class="button button-longrunning"><span class="icon icon-spinner"></span>{{ action_verbose }}</button></li>
        </ul>
    </form>
</div>