@use 'sass:math';

.c-sf-container {
  position: relative;
  display: flex;
  flex-flow: column nowrap;

  &__block-container {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
  }
}

.c-sf-help .help {
  // StreamField block help text is above the blocks rather than below.
  margin-top: 0;
  margin-bottom: theme('spacing.[1.5]');
}
