@use 'sass:math';

.c-sf-add-panel {
  position: relative;
  padding: $grid-gutter-width * 0.25 0 $grid-gutter-width;
  border-radius: $border-radius;
  user-select: none;

  @media (min-width: $screen-l-min) {
    padding: $grid-gutter-width * 0.25 $grid-gutter-width * 2 $add-button-size -
      math.div($grid-gutter-width, 2);
  }

  &__group-title {
    margin: 5px 0;
    font-weight: 600;
  }

  &__grid {
    display: flex;
    flex-flow: row wrap;
    margin-inline-start: -$add-panel-gutter;
    margin-inline-end: -$add-panel-gutter;
    margin-bottom: math.div($grid-gutter-width, 2);

    &:last-child {
      margin-bottom: 0;
    }
  }
}
