{% load wagtailimages_tags %}
{% load i18n %}
{% trans "Insert embed" as ins_emb_str %}
{% include "wagtailadmin/shared/header.html" with title=ins_emb_str merged=1 %}

<div class="tab-content">
    <section id="form" class="active nice-padding">
        <form class="embed-form" action="{% url 'wagtailembeds_chooser_upload' %}" method="POST">
            {% csrf_token %}
            <ul class="fields">
                {% for field in form %}
                    {% include "wagtailadmin/shared/field_as_li.html" with field=field %}
                {% endfor %}
                <li><input type="submit" value="{% trans 'Insert' %}" /></li>
            </ul>
        </form>
    </section>
</div>