{% load wagtailadmin_tags i18n %}

<div class="field">
    <label>{% trans "Focal point" %}</label>
    <div class="field-content">
        <div class="input">

            <div class="chooser focal-point-chooser{% if not image.focal_point %} blank{% endif %}" data-chooser-url="{% url 'wagtailimages_focal_point_chooser' image.id %}">
                <div class="chosen">
                    <div class="chosen-text">
                        {% if image.focal_point %} 
                            {{ image.focal_point_x }}, {{ image.focal_point_y }} {{ image.focal_point_width }}x{{ image.focal_point_height }}
                        {% endif %}
                    </div>
                    <div class="actions">
                        <input type="button" class="action-clear button-small button-secondary" value="{% trans "Clear" %}">
                        <input type="button" class="action-choose button-small button-secondary" value="{% trans "Change" %}">
                    </div>
                </div>

                <div class="unchosen">
                    <div class="unchosen-text">{% trans "Not set" %}</div>
                    <input type="button" class="action-choose button-small button-secondary" value="{% trans "Set" %}">
                </div>

                {{ form.focal_point_x }}
                {{ form.focal_point_y }}
                {{ form.focal_point_width }}
                {{ form.focal_point_height }}
            </div>
        </div>

        <p class="help"></p>

        {% if field.errors %}
            <p class="error-message">
                <span>Invalid input</span>
            </p>
        {% endif %}
    </div>
</div>
