{% extends "wagtailadmin/base.html" %}
{% load image_tags ellipsistrim %}

{% block titletag %}Images{% endblock %}
{% block bodyclass %}menu-images{% endblock %}
{% block extra_js %}
    <script>
        window.headerSearch = {
            url: "{% url 'wagtailimages_index' %}",
            termInput: "#id_q",
            targetOutput: "#image-results"
        }
    </script>
{% endblock %}

{% block content %}
    {% include "wagtailadmin/shared/header.html" with title="Images" add_link="wagtailimages_add_image" add_text="Add an image" search_url="wagtailimages_index" %}

    <div class="nice-padding">
        <div id="image-results">
            {% include "wagtailimages/images/results.html" %}
        </div>
    </div>
    
{% endblock %}
