{% extends "wagtailadmin/base.html" %}
{% load wagtailimages_tags static compress i18n %}

{% block titletag %}{% blocktrans with title=image.title %}Editing image {{ title }}{% endblocktrans %}{% endblock %}

{% block bodyclass %}menu-images{% endblock %}

{% block extra_js %}
    {% compress js %}
        <script type="text/javascript" src="{% static 'wagtailimages/js/image-url-generator.js' %}"></script>
    {% endcompress %}
{% endblock %}

{% block content %}
    {% trans "Generating URL" as title_str %}
    {% include "wagtailadmin/shared/header.html" with title=title_str subtitle=image.title icon="image" %}

    <div class="image-url-generator nice-padding" data-generator-url="{% url 'wagtailimages_generate_url' image.id '__filterspec__' %}">
        <form>
            {% for field in form %}
                {% include "wagtailadmin/shared/field_as_li.html" %}
            {% endfor %}
        </form>

        <h3>URL</h3>
        <div class="result"></div>

        <h3>Preview</h3>
        <img class="preview" src="" alt="Preview">
    </div>
{% endblock %}
