{% extends 'wagtailadmin/shared/side_panels/includes/action_list_item.html' %}
{% load wagtailadmin_tags i18n %}

{% block content %}
    <div class="w-space-y-3">
        {% trans 'Status: ' as screen_reader_title_prefix %}
        {% if object.revoked_at %}
            {% trans 'Revoked' as title %}
            {% timesince_last_update object.revoked_at use_shorthand=True as help_text %}
            {% with icon_name='circle-xmark' %}
                {{ block.super }}
            {% endwith %}
        {% else %}
            {% trans 'Active' as title %}
            {% if last_updated_info %}
                {% timesince_last_update last_updated_info.timestamp user_display_name=last_updated_info.user_display_name use_shorthand=True as help_text %}
            {% endif %}
            {% with icon_name='circle-check' %}
                {{ block.super }}
            {% endwith %}
        {% endif %}
    </div>
{% endblock %}

{% block action %}
    {% if history_url %}
        {% with action_url=history_url %}
            {% trans 'View history' as action_text %}
            {{ block.super }}
        {% endwith %}
    {% endif %}
{% endblock %}
