{% load i18n %}
<li id="inline_child_{{ form.prefix }}"{% if form.DELETE.value %} style="display: none;"{% endif %}>
    <ul class="controls">
        <li class="icon text-replace icon-order-up inline-child-move-up" id="{{ form.prefix }}-move-up">{% trans "Move up" %}</li>
        <li class="icon text-replace icon-order-down inline-child-move-down" id="{{ form.prefix }}-move-down">{% trans "Move down" %}</li>
        <li class="icon text-replace icon-bin" id="{{ form.DELETE.id_for_label }}-button">{% trans "Delete" %}</li>
    </ul>

    <fieldset>
        <legend>{% trans "Editors pick" %}</legend>
        <ul class="fields">
            <li class="model_choice_field">
                {% if form.instance.page %}
                    {% include "wagtailadmin/edit_handlers/page_chooser_panel.html" with field=form.page page=form.instance.page is_chosen=True only %}
                {% else %}
                    {% include "wagtailadmin/edit_handlers/page_chooser_panel.html" with field=form.page is_chosen=False only %}
                {% endif %}
            </li>
            <li class="char_field">
                {% include "wagtailadmin/shared/field.html" with field=form.description only %}
            </li>
        </ul>

        {{ form.id }}
        {{ form.ORDER }}
        {{ form.DELETE }}
    </fieldset>
</li>
