version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@1.1.0

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue_config.yml
          mapping: |
            wagtail/.*\.(py|html|po) run-backend true run-ui-tests true
            wagtail/admin/templates/.* run-backend true run-ui-tests true
            docs/.* run-backend true
            scripts/.* run-backend true
            client/.* run-frontend true run-ui-tests true
            package(-lock)?\.json run-frontend true run-ui-tests true
            .*\.py run-backend true
            .circleci/.* run-backend true run-frontend true run-ui-tests true
