.search .algolia-docsearch-suggestion--highlight,
.algolia-autocomplete .algolia-docsearch-suggestion--highlight {
  color: #2980b9;
  background: #f1c40f;
}

.algolia-autocomplete {
  width: 100%;
}

#search-results a,
a.algolia-docsearch-suggestion {
  border-bottom: 0;
}
#search-results h2 {
  display: none;
}
