{% load wagtailadmin_tags i18n %}
<!-- Wagtail user bar embed code -->
<div class="wagtail-userbar-reset">
    <div class="wagtail-userbar wagtail-userbar--{{ position|default:'bottom-right' }}" data-wagtail-userbar>
        <link rel="stylesheet" href="{% versioned_static 'wagtailadmin/css/userbar.css' %}" type="text/css" />
        <div class="wagtail-userbar-nav">
            <div class="wagtail-userbar-trigger" data-wagtail-userbar-trigger>
                {% block branding_logo %}
                  <div style="display: none">
                    <svg>
                        <defs>
                          {% include "wagtailadmin/icons/wagtail.svg" %}
                          {% include "wagtailadmin/icons/folder-open-inverse.svg" %}
                          {% include "wagtailadmin/icons/edit.svg" %}
                          {% include "wagtailadmin/icons/plus.svg" %}
                          {% include "wagtailadmin/icons/tick.svg" %}
                          {% include "wagtailadmin/icons/cross.svg" %}
                        </defs>
                    </svg>
                  </div>
                  <svg class="wagtail-userbar-icon" aria-hidden="true" focusable="false">
                    <use href="#icon-wagtail-icon"></use>
                  </svg>
                {% endblock %}
                <span class="wagtail-userbar-help-text">{% trans 'Go to Wagtail admin interface' %}</span>
            </div>
            <div class='wagtail-userbar-items'>
                {% for item in items %}
                    {{ item|safe }}
                {% endfor %}
            </div>
        </div>
        <script src="{% versioned_static 'wagtailadmin/js/userbar.js' %}"></script>
    </div>
</div>
<!-- end Wagtail user bar embed code -->
