{% extends "wagtailadmin/userbar/item_base.html" %}
{% load i18n wagtailadmin_tags %}

{% block item_content %}
    <form action="{% url 'wagtailadmin_pages:reject_moderation' self.revision.id %}" target="_parent" method="post">
        {% csrf_token %}
        <div class="wagtail-action">
          <button type="submit" value="{% trans 'Reject' %}" class="button">
            {% icon name="cross" class_name="wagtail-action-icon" %}
            {% trans 'Reject' %}
          </button>
        </div>
    </form>
{% endblock %}
