$icon-size: 1em;

.TooltipEntity {
  cursor: pointer;

  &:hover {
    color: $color-teal;
  }

  .icon-warning {
    color: $color-red;
  }

  .icon {
    width: $icon-size;
    height: $icon-size;
    margin-inline-end: 0.2em;
    vertical-align: middle;
  }
}
