{% load i18n %}

<li>
    <div class="field choice_field select">
        <label for="collection_chooser_collection_id">{% trans "Collection" %}:</label>
        <div class="field-content">
            <div class="input">
                <select id="collection_chooser_collection_id" name="collection_id">
                    <option value="">{% trans "All collections" %}</option>
                    {% for collection in collections %}
                        <option value="{{ collection.id }}" {% if collection == current_collection %}selected="selected"{% endif %}>{{ collection.name }}</option>
                    {% endfor %}
                </select>
                <span></span>
            </div>
        </div>
    </div>
</li>
