{% load wagtailadmin_tags %}
<li class="{{ field.css_classes }} {{ field|fieldtype }} {{ li_classes }} {% if field.errors %}error{% endif %}">
    <div class="field">
        {{ field.label_tag }}
        <div class="field-content">
            <div class="input {{ input_classes }} ">
                {% block form_field %}
                    {{ field }}
                {% endblock %}
            </div>
            {% if field.help_text %}
                <p class="help">{{ field.help_text }}</p>
            {% endif %}

            {% if field.errors %}
                <p class="error-message">
                    {% for error in field.errors %}
                        <span>{{ error|escape }}</span>
                    {% endfor %}
                </p>
            {% endif %}
        </div>
    </div>
</li>