<header class="nice-padding {% if merged %}merged{% endif %} {% if tabbed %}tab-merged{% endif %} {% if form %}hasform{% endif %}">
    <div class="row row-flush">
        <div class="left col{% if form %}6{% else %}9{% endif %}">
            <h1>{{ title }} <span>{{ subtitle }}</span></h1>
        </div>
        {% if form %}
            <div class="left col3">
                <form class="search-bar" action="{% url search_url %}" method="get">
                    <ul class="fields">
                        {% for field in form %}
                            {% include "wagtailadmin/shared/field_as_li.html" with field=field %}
                        {% endfor %}
                        <li class="submit"><input type="submit" value="Search" /></li>
                    </ul>
                </form>
            </div>
        {% endif %}
        <div class="right col3">
        	{% if add_link %}
        		<a href="{% url add_link %}" class="button bicolor icon icon-plus">{{ add_text }}</a>
        	{% endif %}
        </div>
    </div>
</header>