$color-teal: #007d7e;
$color-teal-darker: darken(adjust-hue($color-teal, 1), 4);
$color-teal-dark: darken(adjust-hue($color-teal, 1), 7);

$color-blue: #71b2d4;
$color-red: #cd3238;
$color-red-dark: #b4191f;
$color-red-very-dark: #901419;
$color-orange: #e9b04d;
$color-orange-dark: #bb5b03;
$color-green: #189370;
$color-green-dark: #157b57;
$color-salmon: #f37e77;
$color-salmon-light: #fcf2f2;
$color-white: #fff;
$color-black: #000;

// darker to lighter
$color-grey-1: darken($color-white, 80);
$color-grey-2: darken($color-white, 70);
$color-grey-25: #626262;
$color-grey-3: darken($color-white, 15);
$color-grey-4: darken($color-white, 10);
$color-grey-5: darken($color-white, 2);
$color-grey-7: #f2f2f2;
$color-grey-8: #fbfbfb;

$color-fieldset-hover: $color-grey-5;
$color-input-border: $color-grey-4;
$color-input-focus: lighten(desaturate($color-teal, 40), 72);
$color-input-focus-border: lighten(saturate($color-teal, 12), 10);
$color-input-error-bg: lighten(saturate($color-red, 28), 45);

$color-link: $color-teal-darker;
$color-link-hover: $color-teal-dark;

// The focus outline color is defined without reusing a named color variable
// because it shouldn’t be reused for anything else in the UI.
$color-focus-outline: #ffbf47;

$color-text-base: darken($color-white, 85);
$color-text-input: darken($color-white, 90);

// Color states
$color-state-live: #59b524;
$color-state-draft: #808080;
$color-state-absent: #ff8f11;
$color-state-live-draft: #43b1b0;

$color-box-background: $color-white;
$color-box-border: $color-grey-3;
$color-box-border-focused: $color-grey-2;
$color-box-text: $color-black;
$color-textarea-background: $color-grey-8;
$color-textarea-background-focused: #f2fcfc;
$color-textarea-border: #ccc;
$color-textarea-border-focused: #00b0b1;
$color-textarea-placeholder-text: $color-grey-2;

@mixin focus-outline {
  outline: $color-focus-outline solid 3px;
}

@mixin box {
  background-color: $color-box-background;
  border: 1px solid $color-box-border;
  padding: 25px;
  font-size: 16px;
  border-radius: 10px;
  color: $color-box-text;

  &--focused {
    border: 1px solid $color-box-border-focused;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.10);
  }

  textarea {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
    border: none;
    margin: 0;
    margin-top: 5px;
    padding: 10px;
    width: 100%;
    background-color: $color-textarea-background;
    border: 2px solid $color-textarea-border;
    box-sizing: border-box;
    border-radius: 7px;
    -moz-outline-radius: 10px;
    color: $color-box-text;

    &::placeholder {
      font-style: italic;
      color: $color-textarea-placeholder-text;
      opacity: 1;
    }

    &:focus {
      background-color: $color-textarea-background-focused;
      border-color: $color-textarea-border-focused;
      outline: unset;
    }
  }

  *:focus {
    @include focus-outline;
  }
}

@mixin button {
  background-color: inherit;
  border: 1px solid $color-grey-3;
  border-radius: 5px;
  -moz-outline-radius: 7px;
  color: $color-teal;
  cursor: pointer;
  text-transform: uppercase;
  font-family: inherit;
  font-size: 16px;
  font-weight: bold;
  height: 35px;
  padding-left: 10px;
  padding-right: 10px;

  &--primary {
    color: $color-white;
    border: 1px solid $color-teal;
    background-color: $color-teal;
  }

  &--red {
    color: $color-white;
    border: 1px solid $color-red-very-dark;
    background-color: $color-red-very-dark;
  }

  // Disable Firefox's focus styling becase we add our own.
  &::-moz-focus-inner {
    border: 0;
  }
}

.comments-list {
  height: 100%;
  width: 400px;
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 1000;
  font-family: 'Open Sans', sans-serif;
  pointer-events: none;
}

@import 'components/CommentHeader/style.scss';
@import 'components/Comment/style.scss';
@import 'components/CommentReply/style.scss';
@import 'components/TopBar/style.scss';
@import 'components/widgets/Checkbox/style.scss';
@import 'components/widgets/Radio/style.scss';
