$item-padding-start: theme('spacing.7');

.w-minimap {
  @include transition(transform 0.3s ease);
  position: absolute;
  top: var(--offset-top, calc(theme('spacing.slim-header') * 2));
  right: 0;
  max-height: calc(100vh - 100%);
  overflow-y: auto;
  z-index: calc(theme('zIndex.header') - 20);
  padding-inline-start: theme('spacing.8');
  transform: translateX(75%);

  &--expanded,
  &:hover {
    transform: translateX(0);
    padding-inline-start: theme('spacing.2');
  }
}

.w-minimap__toggle {
  color: theme('colors.primary.DEFAULT');

  .icon {
    width: theme('spacing.4');
    height: theme('spacing.4');
  }
}

.w-minimap__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: theme('colors.white.DEFAULT');

  > li {
    display: flex;
  }
}

@import './MinimapItem';
