.w-minimap-item {
  @apply w-label-3;
  display: inline-flex;
  align-items: center;
  width: 300px;
  padding-inline-start: $item-padding-start;
  padding-top: theme('spacing.2');
  padding-bottom: theme('spacing.2');
  gap: theme('spacing[2.5]');
  font-weight: theme('fontWeight.normal');
  border-inline-start: 1px solid theme('colors.grey.100');

  .icon {
    width: theme('spacing.4');
    height: theme('spacing.4');
  }

  .icon-minus {
    padding: theme('spacing.1');
  }

  .w-minimap-item__icon {
    display: none;
  }

  .w-minimap-item__placeholder {
    color: theme('colors.grey.200');
  }

  &:hover {
    color: currentColor;

    .w-minimap-item__label {
      text-decoration: underline;
    }
  }

  &--h2 {
    font-weight: theme('fontWeight.bold');
  }

  &--active {
    border-color: theme('colors.primary.DEFAULT');
  }

  &--error {
    color: theme('colors.critical.200');
  }

  .w-minimap--expanded & {
    .w-minimap-item__icon {
      display: block;
    }

    .w-minimap-item__placeholder {
      display: none;
    }
  }
}

.w-minimap-item__errors {
  $border-width: 1px;
  $badge-size: theme('spacing.4');
  width: $badge-size;
  height: $badge-size;
  line-height: calc($badge-size - $border-width * 2);
  // Improve the alignment of "1".
  padding-inline-end: theme('spacing.px');
  text-align: center;
  margin-inline-start: calc(-1 * ($item-padding-start + $badge-size / 2));
  margin-inline-end: theme('spacing[2.5]');
  font-size: 0.5625rem;
  font-weight: theme('fontWeight.bold');
  border-radius: theme('borderRadius.full');
  background-color: theme('colors.critical.200');
  border: $border-width solid theme('colors.grey.50');
  color: theme('colors.white.DEFAULT');
}
