{% load i18n l10n wagtailadmin_tags %}

{# Page listing include, customised for 'choose' mode #}

<table class="listing chooser">
    {% if show_ordering_column or show_bulk_actions %}
        <col width="10px" />
    {% endif %}
    <col />
    {% if show_parent %}
        <col />
    {% endif %}
    <col width="12%" />
    <col width="12%" />
    <col width="12%" />
    <col width="10%" />
    <thead>
        <tr class="table-headers">
            <th class="title">{% trans 'Title' %}</th>
            {% if show_parent %}
                <th class="parent">{% trans 'Parent' %}</th>
            {% endif %}
            <th class="updated">{% trans 'Updated' %}</th>
            <th class="type">{% trans 'Type' %}</th>
            <th class="status">{% trans 'Status' %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% if parent_page %}
            {% page_permissions parent_page as parent_page_perms %}
            <tr class="parent-page {% if not parent_page.live %} unpublished{% endif %} {% if not parent_page.can_choose %}disabled{% endif %}">
                <td class="title">
                    {% include "wagtailadmin/pages/listing/_page_title_choose.html" with page=parent_page %}
                </td>
                <td class="updated">{% if parent_page.latest_revision_created_at %}<div class="human-readable-date" title="{{ parent_page.latest_revision_created_at|date:"DATETIME_FORMAT" }}">{% blocktrans trimmed with time_period=parent_page.latest_revision_created_at|timesince %}{{ time_period }} ago{% endblocktrans %}</div>{% endif %}</td>
                <td class="type">
                    {% if not parent_page.is_root %}
                        {{ parent_page.content_type.model_class.get_verbose_name }}
                    {% endif %}
                </td>
                <td class="status">
                    {% if not parent_page.is_root %}
                        {% include "wagtailadmin/shared/page_status_tag.html" with page=parent_page %}
                    {% endif %}
                </td>
                <td></td>
            </tr>
        {% endif %}
        {% if pages %}
            {% for page in pages %}
                <tr class="{% if not page.live %}unpublished{% endif %} {% if not page.can_choose %}disabled{% endif %}">
                    <td class="title">
                        {% include "wagtailadmin/pages/listing/_page_title_choose.html" with page=page show_locale_labels=show_locale_labels %}
                    </td>
                    {% if show_parent %}
                        <td class="parent">
                            {% with page.get_parent as parent %}
                                {% if parent %}
                                    <a href="{% url 'wagtailadmin_choose_page_child' parent.id %}" class="navigate-parent">{{ parent.get_admin_display_title }}</a>
                                    {% if show_locale_labels %}<span class="status-tag status-tag--label">{{ parent.locale.get_display_name }}</span>{% endif %}
                                {% endif %}
                            {% endwith %}
                        </td>
                    {% endif %}
                    <td class="updated">{% if page.latest_revision_created_at %}<div class="human-readable-date" title="{{ page.latest_revision_created_at|date:"DATETIME_FORMAT" }}">{% blocktrans trimmed with time_period=page.latest_revision_created_at|timesince %}{{ time_period }} ago{% endblocktrans %}</div>{% endif %}</td>
                    <td class="type">{{ page.content_type.model_class.get_verbose_name }}</td>
                    <td class="status">
                        {% include "wagtailadmin/shared/page_status_tag.html" with page=page %}
                    </td>
                    <td class="{% if allow_navigation and page.can_descend %}children{% endif %}">
                        {% if allow_navigation and page.can_descend %}
                            <a href="{% url 'wagtailadmin_choose_page_child' page.id %}{% querystring p=None %}" class="icon text-replace icon-arrow-right navigate-pages" title="{% blocktrans trimmed with title=page.get_admin_display_title %}Explore subpages of '{{ title }}'{% endblocktrans %}">{% trans 'Explore' %}</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            {% block no_results %}{% endblock %}
        {% endif %}
    </tbody>
</table>
