{% load l10n wagtailadmin_tags %}
<td {% if column.classname %}class="{{ column.classname }}"{% endif %} data-listing-page-title>
    {% include "wagtailadmin/pages/listing/_page_title_explore.html" with page=instance show_locale_labels=show_locale_labels actions_next_url=actions_next_url %}
    {% if parent_page %}
        <div>
            <a href="{% url 'wagtailadmin_explore' parent_page.id %}">{% icon name="arrow-right" classname="default" %}{{ parent_page.get_admin_display_title }}</a>
        </div>
    {% endif %}
</td>
