{% extends "wagtailadmin/base.html" %}
{% load i18n wagtailadmin_tags %}

{% block bodyclass %}collection-explorer{% endblock %}

{% block titletag %}{{ parent_collection.name }} {% trans 'Collection' %}{% endblock %}

{% block content %}
    <header class="merged no-border no-v-padding">
        {% collection_breadcrumb parent_collection %}
    </header>
    <div class="listing full-width">
        {% include 'wagtailadmin/collections/listing/_header.html' with collection=parent_collection collection_perms=parent_perms %}
        {% include 'wagtailadmin/collections/listing/_list_explore.html' with collections=collections parent_collection=parent_collection %}
    </div>

    {% url 'wagtailadmin_collections:parent_index' parent_collection.pk as pagination_base_url %}
    {% paginate collections base_url=pagination_base_url %}
{% endblock %}
