{% load i18n wagtailcore_tags wagtailadmin_tags %}
{% wagtail_version as current_version %}
<div class="w-panel-upgrade w-hidden w-flex w-mb-[-2rem] sm:w-mb-0 w-gap-5 w-items-center w-pl-slim-header w-pr-5 sm:w-px-[3.5rem] w-py-5 w-color-text-content w-bg-surface-info-panel w-border-b w-border-transparent"
     data-controller="w-upgrade"
     data-w-upgrade-current-version-value="{{ current_version }}"
     {% if lts_only %}data-w-upgrade-lts-only-value="true"{% endif %}
     data-w-upgrade-hidden-class="w-hidden">
    {% icon name='info-circle' classname='w-w-5 w-h-5 w-shrink-0 w-fill-text-link-info w-ml-5 sm:w-ml-0' %}
    <div>
        <p class="w-mb-1 w-font-bold">{% trans "Wagtail upgrade available" %}</p>
        <p class="w-mb-0">
            {% blocktrans trimmed %}
                Your version: <strong>{{ current_version }}</strong>. New version: <strong data-w-upgrade-target="latestVersion"></strong>.
            {% endblocktrans %}
            <a href=""
               data-w-upgrade-target="link"
               class="w-text-text-link-info w-underline w-underline-offset-[3px]">{% trans "Read the release notes." %}</a>
        </p>
    </div>
</div>
