

{% load i18n wagtailadmin_tags %}
{% if workflow_states %}
    {% trans "Your pages and snippets in a workflow" as heading %}
    {% panel id="objects-in-workflow" heading=heading %}
        <table class="listing">
            <col />
            <col width="30%"/>
            <col width="15%"/>
            <thead class="w-sr-only">
                <tr>
                    <th class="title">{% trans "Title" %}</th>
                    <th>{% trans "Task" %}</th>
                    <th>{% trans "Task started" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for workflow_state in workflow_states %}
                    {% with obj=workflow_state.content_object %}
                        {% is_page obj as is_page %}
                        {% if is_page %}
                            {% page_permissions obj as page_perms %}
                        {% endif %}
                        <tr>
                            <td class="title" valign="top">
                                <div class="title-wrapper">
                                    {% admin_edit_url obj as edit_url %}
                                    {% if page_perms.can_edit or not is_page and edit_url %}
                                        <a href="{{ edit_url }}" title="{% trans 'Edit' %}">{% latest_str obj %}</a>
                                    {% else %}
                                        {% latest_str obj %}
                                    {% endif %}

                                    {% i18n_enabled as show_locale_labels %}
                                    {% if show_locale_labels and obj.locale_id %}
                                        {% locale_label_from_id obj.locale_id as locale_label %}
                                        {% status locale_label classname="w-status--label" %}
                                    {% endif %}
                                    {% if is_page %}
                                        {% include "wagtailadmin/pages/listing/_privacy_indicator.html" with page=obj %}
                                    {% endif %}
                                    {% include "wagtailadmin/pages/listing/_locked_indicator.html" with page=obj %}
                                </div>
                            </td>
                            <td class="task" valign="top">
                                {% if workflow_state.current_task_state.status == 'rejected' %}
                                    {% icon name="warning" classname="default" %}
                                    {% trans "Changes requested at" %}
                                {% elif workflow_state.current_task_state.status == 'in_progress' %}
                                    {% trans "Awaiting" %}
                                {% endif %}
                                {{ workflow_state.current_task_state.task.name }}
                            </td>
                            <td valign="top">{% human_readable_date workflow_state.current_task_state.started_at %}</td>
                        </tr>
                    {% endwith %}
                {% endfor %}
            </tbody>
        </table>
    {% endpanel %}
{% endif %}
