{% load i18n wagtailadmin_tags %}
{% if states %}
    <div class="panel nice-padding">{# TODO try moving these classes onto the section tag #}
        <section>
            <h2>{% trans 'Pages you can moderate' %}</h2>
            <table class="listing">
                <col />
                <col width="30%"/>
                <col width="15%"/>
                <col width="15%"/>
                <thead>
                    <tr>
                        <th class="title">{% trans "Title" %}</th>
                        <th>{% trans "Task" %}</th>
                        <th>{% trans "Task started" %}</th>
                        <th>{% trans "Edited" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for state, actions in states %}
                        {% with state.page_revision as revision %}
                        {% page_permissions revision.page as page_perms %}
                        <tr>
                            <td class="title" valign="top">
                                <div class="title-wrapper">
                                    {% if page_perms.can_edit %}
                                        <a href="{% url 'wagtailadmin_pages:edit' revision.page.id %}" title="{% trans 'Edit this page' %}">{{ revision.page.get_admin_display_title }}</a>
                                    {% else %}
                                        {{ revision.page.get_admin_display_title }}
                                    {% endif %}

                                    {% include "wagtailadmin/pages/listing/_privacy_indicator.html" with page=revision.page %}
                                    {% include "wagtailadmin/pages/listing/_locked_indicator.html" with page=revision.page %}
                                </div>
                                {% if actions %}
                                <form action="{% url 'wagtailadmin_pages:workflow_action' revision.page.id %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="next" value="{% url 'wagtailadmin_home' %}">
                                <ul class="actions">
                                    {% for action_name, action_label in actions %}
                                    <li>
                                        <button type="submit" class="button button-small button-secondary" name="action" value="{{ action_name }}">{{ action_label }}</button>
                                    </li>
                                    {% endfor %}
                                    {% if page_perms.can_edit %}
                                    <li>
                                        <a href="{% url 'wagtailadmin_pages:edit' revision.page.id %}" class="button button-small button-secondary">{% trans 'Edit' %}</a>
                                    </li>
                                    {% endif %}
                                </ul>
                                </form>
                                {% endif %}
                            </td>
                            <td class="task" valign="top">
                                {{ state.task.name }}
                            </td>
                            <td valign="top">
                                <div class="human-readable-date" title="{{ state_type_started_at|date:"d M Y H:i" }}">{% blocktrans with time_period=state.task_type_started_at|timesince %}{{ time_period }} ago{% endblocktrans %} </div>
                            </td>
                            <td valign="top">
                                <div class="human-readable-date" title="{{ revision.created_at|date:"d M Y H:i" }}">{% blocktrans with time_period=revision.created_at|timesince %}{{ time_period }} ago{% endblocktrans %} </div>
                            </td>
                        </tr>
                        {% endwith %}
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </div>
{% endif %}
