{% extends "wagtailadmin/base.html" %}
{% block titletag %}Search Terms{% endblock %}
{% block bodyclass %}menu-editorspicks{% endblock %}

{% block extra_js %}
    <script>
        window.headerSearch = {
            url: "{% url 'wagtailsearch_editorspicks_index' %}",
            termInput: "#id_q",
            targetOutput: "#editorspicks-results"
        }
    </script>
{% endblock %}

{% block content %}
    {% include "wagtailadmin/shared/header.html" with title="Editor's search picks" add_link="wagtailsearch_editorspicks_add" add_text="Add new editor's pick" search_url="wagtailsearch_editorspicks_index" %}

     <div class="nice-padding">
        <div id="editorspicks-results" class="redirects">
            {% include "wagtailsearch/editorspicks/results.html" %}
        </div>
    </div>
{% endblock %}