{% load i18n %}
{% include "wagtailadmin/shared/header.html" with title=page_title subtitle=page_subtitle merged=1 icon=header_icon %}

<div class="w-tabs" data-tabs data-tabs-disable-url>
    <div class="tab-content nice-padding">
        <section
            id="tab-search"
            class="w-tabs__panel"
            role="tabpanel"
            aria-labelledby="tab-label-search"
        >

            {% if filter_form.fields %}
                <form data-chooser-modal-search class="search-bar" action="{% url results_url_name %}" method="GET" novalidate>
                    {% if filter_form.hidden_fields %}
                        {% for field in filter_form.hidden_fields %}{{ field }}{% endfor %}
                    {% endif %}

                    {% if filter_form.visible_fields %}
                        <ul class="fields">
                            {% for field in filter_form.visible_fields %}
                                {% include "wagtailadmin/shared/field_as_li.html" with field=field %}
                            {% endfor %}
                            <li class="submit"><input type="submit" value="{% trans 'Search' %}" class="button" /></li>
                        </ul>
                    {% endif %}
                </form>
            {% endif %}

            <div id="search-results" class="listing">
                {% include view.results_template_name %}
            </div>
        </section>
    </div>
</div>
