{% load i18n wagtailadmin_tags %}
<div
    id="creation-form-{{ view.creation_tab_id }}"
    class="w-chooser-creation-form"
    data-chooser-creation-form-wrapper
    aria-hidden="true"
>
    <header class="w-chooser-header">
        <div class="w-chooser-header__wrapper">
            <button data-chooser-form-back class="w-chooser-header__back-button" aria-label="{% trans 'Back to choose' %}">{% icon name='chevron-left' class_name="w-w-3 w-h-3" %}</button>
            {{ create_action_label }}
        </div>
    </header>

    {% include "wagtailadmin/shared/non_field_errors.html" with form=creation_form %}
    <form data-chooser-creation-form action="{{ create_action_url }}" method="POST" {% if creation_form.is_multipart %}enctype="multipart/form-data"{% endif %} novalidate>
        {% csrf_token %}
        {% for field in creation_form.hidden_fields %}{{ field }}{% endfor %}

        <ul class="fields">
            {% for field in creation_form.visible_fields %}
                {% include "wagtailadmin/shared/field_as_li.html" with field=field %}
            {% endfor %}
            <li>
                {% if create_action_clicked_label %}
                    <button type="submit" class="button button-longrunning" data-clicked-text="{{ create_action_clicked_label }}">{% icon name="spinner" %}<em>{{ create_action_label }}</em></button>
                {% else %}
                    <button type="submit" class="button">{{ create_action_label }}</button>
                {% endif %}
            </li>
        </ul>
    </form>
</div>
