// The wagtail font isn't available in WOFF2, so a @font-face is set here without a mixin.
@font-face {
    font-family: 'wagtail';
    src: url('#{$font-root}wagtail.eot');
    src: url('#{$font-root}wagtail.eot?#iefix') format('embedded-opentype'),
        url('#{$font-root}wagtail.ttf') format('truetype'),
        url('#{$font-root}wagtail.svg#wagtail') format('svg'),
        url('#{$font-root}wagtail.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// One exception to the limited font formats used above is the Wagtail icon font for Windows, where using the SVG version improves antialiasing
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: 'wagtail';
        src: url('#{$font-root}wagtail.svg#wagtail') format('svg');
    }
}
