@mixin unlist(){
    &, ul, li{
        list-style-type:none;
        font-style: normal;
    }
    &, ul{
        margin-top:0;
        margin-bottom:0;
        padding-left:0;
    }
}

@mixin visuallyhidden{
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

    &:active, &:focus {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;
    }
}

@mixin visuallyvisible{
    clip:none;
    height:auto;
    width:auto;
    margin:auto;
    overflow:visible;
    position:initial;
}

/* only used in places where padding not applied to same elements as row or row-flush
 * most of the time this class should be applied directly to the html elements */
@mixin nice-padding {
    padding-left: $mobile-nice-padding;
    padding-right: $mobile-nice-padding;

    @media screen and (min-width: $breakpoint-mobile){
        padding-left: $desktop-nice-padding;
        padding-right: $desktop-nice-padding;
    }
}
