@import 'wagtailadmin/scss/variables';
@import 'wagtailadmin/scss/mixins';
@import 'wagtailadmin/scss/components/icons';
@import 'wagtailadmin/scss/fonts';

$size-home-button: 3.5em;

.wagtail-userbar {
    position: fixed;
    z-index: 9999;
    bottom: 2em;
    right: 2em;
}

    .wagtail-userbar__trigger {
        width: $size-home-button;
        height: $size-home-button;
        overflow: hidden;

        background-color: $color-white;
        border-radius: 50%;
        color: $color-black;
        padding: 0;

        cursor: pointer;

        &.icon:before {
            @include transition(color .2s ease);
            font-size: 35px;
            margin: .25em .15em .2em .175em;
            display: block;
        }

        box-shadow: 0 0 1px 0 rgba(107, 214, 230, 1), 0 1px 10px 0 rgba(107, 214, 230, .7);
        transition: all 0.2s ease-in-out;

        .wagtail-userbar.touch.is-active &,
        .no-touch &:hover {
            box-shadow: 0 0 1px 0 rgba(107, 214, 230, 1), 0 3px 15px 0 rgba(107, 214, 230, .95);
        }
    }

    .wagtail-userbar__nav {
        $width-arrow: .5em;

        ul {
            list-style: none;
            position: absolute;
            bottom: 100%;
            right: 0;
            margin: 0;
            padding-bottom: $width-arrow * 2;
            min-width: 17em;

            visibility: hidden;

            .wagtail-userbar.is-active & {
                visibility: visible;
            }
        }

        // bottom array
        ul:after {
            content: "";
            position: absolute;
            bottom: $width-arrow;
            right: $size-home-button/2 - $width-arrow/2;
            width: 0;
            height: 0;
            border-left: $width-arrow solid transparent;
            border-right: $width-arrow solid transparent;
            border-top: $width-arrow solid $color-grey-1;

            opacity: 0;
            transform: translateY(-$width-arrow);
            transition-duration: .15s;
            transition-timing-function: cubic-bezier(.55,0,.1,1);

            .wagtail-userbar.is-active & {
                opacity: 1;
                transform: translateY(0);
                transition-delay: .3s;
            }
        }

        li {
            background-color: $color-grey-1;

            &:first-child {
                border-top-left-radius: .5em;
                border-top-right-radius: .5em;
            }

            &:last-child {
                border-bottom-right-radius: .5em;
                border-bottom-left-radius: .5em;
            }

            & + li {
                border-top: 1px solid darken($color-grey-1, 3%);
            }

            transform: translateY(1em);
            opacity: 0;
            transition-duration: .125s;
            transition-timing-function: cubic-bezier(.55,0,.1,1);

            .wagtail-userbar.is-active & {
                transform: translateY(0);
                opacity: 1;

                @for $i from 1 through 10 {
                    &:nth-last-child(#{$i}) {
                        transition-delay: .05s * $i;
                    }
                }
            }
        }

        li a,
        li .action {
            color: #aaa;
            display: block;
            text-decoration: none;

            &:hover,
            &:focus {
                outline: none;
                color: $color-white;
                background-color: rgba(100, 100, 100, 0.15);
            }
        }

        li .icon {
            position: relative;

            &:before {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 1.5em;
            }
        }

        li a,
        li input {
            font-size: 0.95em;
            font-weight: 300;
            text-align: left;
            padding: 0.8em 1.7em 0.8em 3.5em;
        }

        li input {
            border: 0;
            background: none;
            width: 100%;
        }

    }
