@import 'wagtailadmin/scss/variables';

.wagtail-userbar {
    background: transparent;
    position: fixed;
    top: 0;
    right: 0;
    z-index: map-get($z-indexes, user-fe-css-trump);
    border: 0;
    width: 150px;
    height: 300px;
    transition: opacity 0.2s ease;
}
