{% extends "wagtailadmin/base.html" %}
{% load i18n %}
{% block titletag %}{% blocktrans count counter=pages|length %}Unpublish 1 page {% plural %}Unpublish {{ counter }} pages{% endblocktrans %}{% endblock %}
{% block content %}
    {% trans "Unpublish" as unpublish_str %}
    {% include "wagtailadmin/shared/header.html" with title=unpublish_str icon="doc-empty-inverse" %}

    <div class="nice-padding">
        {% if pages %}
        <p>{% trans "Are you sure you want to unpublish these pages?" %}</p>
        <ul>
            {% for page in pages %}
            <li>
                <a href="{% url 'wagtailadmin_pages:edit' page.page.id %}" target="_blank" rel="noopener noreferrer">{{ page.page.title }}</a>
                <p>
                    {% if page.live_descendant_count %}
                        {% blocktrans count counter=page.live_descendant_count %}
                        This page has one subpage
                        {% plural %}
                        This page has {{ counter }} subpages
                        {% endblocktrans %}
                    {% endif %}
                </p>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if pages_with_no_access %}
        <p>{% blocktrans count counter=pages_with_no_access|length %}You don't have permission to unpublish this page{% plural %}You don't have permission to unpublish these pages{% endblocktrans %}</p>
        <ul>
            {% for page in pages_with_no_access %}
            <li>
                {% if page.can_edit %}
                <a href="{% url 'wagtailadmin_pages:edit' page.page.id %}" target="_blank" rel="noopener noreferrer">{{ page.page.title }}</a>
                {% else %}
                {{ page.page.title }}
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if pages %}
        <form action="{{ submit_url }}" method="POST">
            {% csrf_token %}
            {% if has_live_descendants %}
            <ul class="fields">
                {% include "wagtailadmin/shared/field_as_li.html" with field=form.include_descendants %}
            </ul>                
            {% endif %}
            <input type="submit" value="{% trans 'Yes, unpublish' %}" class="button" />
            <a href="{{ next }}" class="button button-secondary">{% trans "No, don't unpublish" %}</a>
        </form>
        {% else %}
        <a href="{{ next }}" class="button button-secondary">{% trans "Go back" %}</a>
        {% endif %}
    </div>
{% endblock %}
