{% extends "wagtailadmin/base.html" %}
{% load i18n %}
{% block titletag %}{% blocktrans count counter=pages|length %}Publish 1 page {% plural %}Publish {{ counter }} pages{% endblocktrans %}{% endblock %}
{% block content %}
    {% trans "Publish" as publish_str %}
    {% include "wagtailadmin/shared/header.html" with title=publish_str icon="doc-empty-inverse" %}

    <div class="nice-padding">
        {% if pages %}
            <p>{% trans "Are you sure you want to publish these pages?" %}</p>
            <ul>
                {% for page in pages %}
                <li>
                    <a href="{% url 'wagtailadmin_pages:edit' page.page.id %}" target="_blank" rel="noopener noreferrer">{{ page.page.title }}</a>
                    {% if page.draft_descendant_count %}
                    <p>
                        {% blocktrans count counter=page.draft_descendant_count %}
                        This page has one unpublished subpage
                        {% plural %}
                        This page has {{ counter }} unpublished subpages
                        {% endblocktrans %}
                    </p>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if pages_with_no_access %}
        <p>{% blocktrans count counter=pages_with_no_access|length %}The following page cannot be published{% plural %}The following pages cannot be published{% endblocktrans %}</p>
        <ul>
            {% for page in pages_with_no_access %}
            <li>
                <a href="{% url 'wagtailadmin_pages:edit' page.id %}" target="_blank" rel="noopener noreferrer">{{ page.title }}</a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if pages %}
        <form action="{{ submit_url }}" method="POST">
            {% csrf_token %}
            {% if has_draft_descendants %}
            <ul class="fields">
                <li>
                    <div class="field boolean_field checkbox_input">
                        <div class="field-content">
                            <div class="input">
                                <input id="id_include_descendants" name="include_descendants" type="checkbox">
                                <label for="id_include_descendants" class="plain-checkbox-label">{% trans "Publish subpages" %}</label>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            {% endif %}
            <input type="submit" value="{% trans 'Yes, publish' %}" class="button" />
            <a href="{{ next }}" class="button button-secondary">{% trans "No, don't publish" %}</a>
        </form>
        {% else %}
        <a href="{{ next }}" class="button button-secondary">{% trans "Go back" %}</a>
        {% endif %}
    </div>
{% endblock %}
