{% extends "wagtailadmin/base.html" %}
{% load i18n %}
{% block titletag %}{% blocktrans count counter=pages|length with title=page.get_admin_display_title %}Unpublish 1 page {% plural %}Unpublish {{ counter }} pages{% endblocktrans %}{% endblock %}
{% block content %}
    {% trans "Unpublish" as unpublish_str %}
    {% include "wagtailadmin/shared/header.html" with title=unpublish_str subtitle=page.get_admin_display_title icon="doc-empty-inverse" %}

    <div class="nice-padding">
        <p>{% trans "Are you sure you want to unpublish these pages?" %}</p>
        <ul>
            {% for page in pages %}
            <li>
                <a href="{% url 'wagtailadmin_pages:edit' page.page.id %}" target="_blank" rel="noopener noreferrer">{{ page.page.title }}</a>
                <ul>
                    {% if page.live_descendant_count %}
                        {% blocktrans count counter=page.live_descendant_count %}
                            <li>This page has one subpage</li>
                        {% plural %}
                            <li>This page has {{ counter }} subpages</li>
                        {% endblocktrans %}
                    {% endif %}
                </ul>
            </li>
            {% endfor %}
        </ul>
        {% if pages_with_no_access %}
        <span>{% blocktrans count counter=pages_with_no_access|length %}The following page cannot be unpublished{% plural %}The following pages cannot be unpublished{% endblocktrans %} </span>
        <ul>
            {% for page in pages_with_no_access %}
            <li>
                <a href="{% url 'wagtailadmin_pages:edit' page.id %}" target="_blank" rel="noopener noreferrer">{{ page.title }}</a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        <form action="{{ submit_url }}" method="POST">
            {% csrf_token %}
            {% if has_live_descendants %}
            <ul class="fields">
                <li>
                    <div class="field boolean_field checkbox_input">
                        <div class="field-content">
                            <div class="input">
                                <input id="id_include_descendants" name="include_descendants" type="checkbox">
                                <label for="id_include_descendants" class="plain-checkbox-label">{% trans "Unpublish subpages" %}</label>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>                
            {% endif %}
            <input type="submit" value="{% trans 'Yes, unpublish' %}" class="button" />
            <a href="{{ next }}" class="button button-secondary">{% trans "No, don't unpublish" %}</a>
        </form>
    </div>
{% endblock %}
