{% extends "wagtailadmin/base.html" %}
{% load i18n %}
{% block titletag %}{% blocktrans count counter=pages|length %}Move 1 page{% plural %}Move {{ counter }} pages{% endblocktrans %}
{% endblock %}
{% block content %}
    
    {% trans "Move" as move_str %}
    {% include "wagtailadmin/shared/header.html" with title=move_str icon="doc-empty-inverse" %}
    <div class="nice-padding">
        {% if pages %}
        <p>{% trans "Are you sure you want to move these pages?" %}</p>
        <ul>
            {% for page in pages %}
            <li>
                <a href="{% url 'wagtailadmin_pages:edit' page.page.id %}" target="_blank" rel="noopener noreferrer">{{ page.page.title }}</a>
                {% if not page.page.is_leaf %}
                <p>
                    {% blocktrans count counter=page.child_pages %}
                    This page has one child page
                    {% plural %}
                    This page has {{ counter }} child pages
                    {% endblocktrans %}
                </p>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if pages_with_no_access %}
        <p>{% blocktrans count counter=pages_with_no_access|length %}You don't have permission to move this page{% plural %}You don't have permission to move these pages{% endblocktrans %}</p>
        <ul>
            {% for page in pages_with_no_access %}
            <li>
                {% if page.can_edit %}
                <a href="{% url 'wagtailadmin_pages:edit' page.page.id %}" target="_blank" rel="noopener noreferrer">{{ page.page.title }}</a>
                {% else %}
                {{ page.page.title }}
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        {% endif %}

        {% if pages_without_destination_access %}
        <p>{% blocktrans with dest_title=destination.title count counter=pages_with_no_access|length %}The following page cannot be moved to {{dest_title}} {% plural %}The following pages cannot be moved to {{dest_title}}{% endblocktrans %}</p>
        <ul>
            {% for page in pages_without_destination_access %}
            <li>
                <a href="{% url 'wagtailadmin_pages:edit' page.id %}" target="_blank" rel="noopener noreferrer">{{ page.title }}</a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}

        {% if pages_with_duplicate_slugs %}
        <p>{% blocktrans count counter=pages_with_duplicate_slugs|length %}The following page cannot be moved due to duplicate slug{% plural %}The following pages cannot be moved due to duplicate slugs{% endblocktrans %}</p>
        <ul>
            {% for page in pages_with_duplicate_slugs %}
            <li>
                <a href="{% url 'wagtailadmin_pages:edit' page.id %}" target="_blank" rel="noopener noreferrer">{{ page.title }}</a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}

        {% if pages %}
        <form action="{{ submit_url }}" method="POST">
            {% csrf_token %}
            <ul class="fields">
            {% include "wagtailadmin/shared/field_as_li.html" with field=form.chooser %}
            {% if pages_without_destination_access or pages_with_duplicate_slugs %}
            {% include "wagtailadmin/shared/field_as_li.html" with field=form.move_applicable %}
            {% endif %}
            </ul>
            <input type="submit" value="{% trans 'Yes, move these pages' %}" class="button">
            <a href="{{ next }}" class="button button-secondary">{% trans "No, don't move" %}</a>
        </form>
        {% else %}
        <a href="{{ next }}" class="button button-secondary">{% trans "Go back" %}</a>
        {% endif %}
    </div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    {% include "wagtailadmin/pages/_editor_js.html" %}
    {{ form.media.js }}
{% endblock %}
