{% extends "wagtailadmin/base.html" %}

{% block content %}
    {% include "wagtailadmin/shared/header.html" with title="Account" %}

    <div class="nice-padding">
        <ul class="listing">
            <li class="row row-flush">
                <div class="col6">
                    <a href="http://gravatar.com" class="button button-primary">Set gravatar</a>
                </div>

                <small class="col6">
                    Your avatar image is provided by Gravatar and is connected to your email address. With a Gravatar account you can set an avatar for any number of other email addresses you use.
                </small>
                
            </li>
            {% if show_change_password %}
                <li class="row row-flush">
                    <div class="col6">
                        <a href="{% url 'wagtailadmin_account_change_password' %}" class="button button-primary">Change password</a>
                    </div>

                    <small class="col6">
                        Change the password you use to log in.
                    </small>
                </li>
            {% endif %}
        </ul>
    </div>
{% endblock %}