@import '../scss/settings';
@import '../scss/tools';

body {
  font-size: 1rem;
}

h1,
h2 {
  text-transform: initial;
}

// Fix compatibility issue with Wagtail’s tag implementation.
.sbdocs .tag,
.sbdocs .tag::before {
  all: revert;
}

.icon {
  @include svg-icon(1.5em);
}
