{% extends "wagtailadmin/generic/base.html" %}
{% load i18n wagtailadmin_tags %}

{% block main_content %}
    {% block before_form %}{% endblock %}
    <form action="{{ action_url }}" method="POST" novalidate{% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
        {% csrf_token %}

        {% if panel %}
            {{ panel.render_form_content }}
        {% else %}
            {% block hidden_fields %}
                {% for field in form.hidden_fields %}{{ field }}{% endfor %}
            {% endblock %}

            <ul class="fields">
                {% block visible_fields %}
                    {% for field in form.visible_fields %}
                        <li>
                            {% include "wagtailadmin/shared/field.html" %}
                        </li>
                    {% endfor %}
                {% endblock %}
            </ul>
        {% endif %}

        {% block actions %}
            <button type="submit" class="button">{{ submit_button_label }}</button>
        {% endblock %}
    </form>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    {{ form.media.js }}
{% endblock %}

{% block extra_css %}
    {{ block.super }}
    {{ form.media.css }}
{% endblock %}
