{% extends "wagtailadmin/generic/listing.html" %}
{% load i18n wagtailadmin_tags %}

{% block main_header %}
    {% fragment as extra_actions %}
        {% if view.list_export %}
            {% include view.export_buttons_template_name %}
        {% endif %}
    {% endfragment %}
    {% include "wagtailadmin/shared/header.html" with title=page_title subtitle=page_subtitle action_url=header_action_url action_text=header_action_label action_icon=header_action_icon extra_actions=extra_actions icon=header_icon search_url=search_url search_form=search_form search_results_url=index_results_url only %}
{% endblock %}

{% block listing %}
    <div class="nice-padding{% if filters %} filterable{% endif %}">
        <div id="listing-results">
            {% include view.results_template_name|default:"wagtailadmin/generic/listing_results.html" %}
        </div>
        {% if filters %}
            {% include "wagtailadmin/shared/filters.html" %}
        {% endif %}
    </div>
{% endblock %}
