{% extends "wagtailadmin/base.html" %}
{% load i18n %}
{% load localize %}
{% block titletag %}{% blocktrans with form_title=form_page.title|capfirst %}Submissions of {{ form_title }}{% endblocktrans %}{% endblock %}
{% block bodyclass %}menu-snippets{% endblock %}
{% block extra_js %}
    {% get_localized_datepicker_js %}
    {% get_date_format_override as format_override %}
    
    <script>
        window.overrideDateInputFormat ='{{ format_override }}';
        $(function() {
            if(window.overrideDateInputFormat && window.overrideDateInputFormat !='') {
                $('#id_date_from').datepicker({
                    dateFormat: window.overrideDateInputFormat, constrainInput: false, /* showOn: 'button', */ firstDay: 1
                });
                $('#id_date_to').datepicker({
                    dateFormat: window.overrideDateInputFormat, constrainInput: false, /* showOn: 'button', */ firstDay: 1
                });
            } else {
                $('#id_date_from').datepicker({
                    constrainInput: false, /* showOn: 'button', */ firstDay: 1
                });
                $('#id_date_to').datepicker({
                    constrainInput: false, /* showOn: 'button', */ firstDay: 1
                });
            }
        });
    </script>
{% endblock %}
{% block content %}
    <header class="nice-padding">
        <form action="" method="get">
            <div class="row">
                <div class="left">
                    <div class="col">
                        <h1 class="icon icon-form">
                        {% blocktrans with form_title=form_page.title|capfirst %}Form data <span>{{ form_title }}</span>{% endblocktrans %}
                        </h1>
                    </div>
                    <div class="col search-bar">
                        <ul class="fields row">
                            {% for field in select_date_form %}
                                {% include "wagtailadmin/shared/field_as_li.html" with field=field input_classes="field-small iconfield icon-date" li_classes="col4" %}
                            {% endfor %}
                            <li class="submit col2">
                                <button name="action" value="filter" class="button">{% trans 'Filter' %}</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="right">
                   <button name="action" value="CSV" class="button bicolor icon icon-download">{% trans 'Download CSV' %}</button>
                </div>
            </div>
        </form>
    </header>
    <div class="nice-padding">
        {% if submissions %}
            {% include "wagtailforms/list_submissions.html" %}

            {% include "wagtailadmin/shared/pagination_nav.html" with items=submissions is_searching=False linkurl='-' %}
            {# Here we pass an invalid non-empty URL name as linkurl to generate pagination links with the URL path omitted #}
        {% else %}
            <p class="no-results-message">{% blocktrans with title=form_page.title %}There have been no submissions of the '{{ title }}' form.{% endblocktrans %}</p>
        {% endif %}
    </div>
{% endblock %}
