{% load i18n %}
<table class="listing">
    <col />
    <col />
    <col width="75%" />
    <thead>
        <tr class="table-headers">
            <th>{% trans "Submission Date" %}</th>
            <th>{% trans "User" %}</th>
            <th>{% trans "Data" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for submission in submissions %}
            <tr>
                <td class="title">
                    {{ submission.submit_time }}
                </td>
                <td class="title">
                    {{ submission.user }}
                </td>
                <td class="title">
                    {% for data in submission.get_data.items %}
                        {{ data.0 }}: {{ data.1 }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>