{% extends "wagtailadmin/base.html" %}
{% load i18n %}
{% block titletag %}{% trans "Snippets" %}{% endblock %}
{% block content %}
    {% trans "Snippets" as snippets_str %}
    {% include "wagtailadmin/shared/header.html" with title=snippets_str icon="snippet" %}

    <div class="nice-padding">
        <ul class="listing">
            {% for snippet in snippet_types %}
                <li>
                    <div class="row row-flush title">
                        <div class="title-wrapper">
                            <a href="{% url snippet.model.get_admin_url_namespace|add:':list' %}" class="col6">
                                {{ snippet.model_opts.verbose_name_plural|capfirst }}
                            </a>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
