{% load i18n wagtailadmin_tags %}
<table class="listing">
    {% if can_delete_snippets %}<col width="5%" />{% endif %}
    <col />
    <col />
    <col width="16%" />
    <thead>
        <tr class="table-headers">
            {% if can_delete_snippets %}<th><input type="checkbox" class="toggle-select-all"/></th>{% endif %}
            <th>{% trans "Title" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for snippet in items %}
            <tr id="snippet-row-{{ snippet.pk }}">
                {% if can_delete_snippets %}
                    <td class="select"><input type="checkbox" name="select_snippet" value="{{ snippet.pk }}" class="toggle-select-row"/></td>
                {% endif %}
                <td class="title">
                    {% if choosing %}
                        <h2><a class="snippet-choice" href="{% url 'wagtailsnippets:chosen' model_opts.app_label model_opts.model_name snippet.pk|admin_urlquote %}">{{ snippet }}</a></h2>
                    {% else %}
                        <h2><a href="{% url 'wagtailsnippets:edit' model_opts.app_label model_opts.model_name snippet.pk|admin_urlquote %}">{{ snippet }}</a></h2>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
