{% load wagtailadmin_tags i18n %}

<div id="layout-toggle-button-wrapper">
    {% if layout == "list" %}
        <a href="?layout=grid">
            <button
                type="button"
                class="w-slim-header-action-button"
                data-controller="w-tooltip"
                data-w-tooltip-content-value="Toggle layout"
            >
                {% icon name="grip" %}
            </button>
        </a>

    {% else %}
        <a href="?layout=list">
            <button
                type="button"
                class="w-slim-header-action-button"
                data-controller="w-tooltip"
                data-w-tooltip-content-value="Toggle layout"
            >
                {% icon name="list-ul" %}
            </button>
        </a>
    {% endif %}
</div>
