{% load wagtailadmin_tags i18n %}


<div class="w-layout-segmented" role="radiogroup" aria-label="{% translate 'Layout' %}">
  <!-- Grid button -->
  <label class="w-slim-header-action-button w-layout-toggle-button" title="{% translate 'Grid view' %}" data-controller="w-tooltip" data-w-tooltip-content-value="{% translate 'Grid view' %}">
    <input type="radio" name="layout" value="" {% if layout != 'list' %}checked{% endif %} />
    {% icon name="grid" %}
  </label>

  <!-- List button -->
  <label class="w-slim-header-action-button w-layout-toggle-button" title="{% translate 'List view' %}" data-controller="w-tooltip" data-w-tooltip-content-value="{% translate 'List view' %}">
    <input type="radio" name="layout" value="list" {% if layout == 'list' %}checked{% endif %} />
    {% icon name="list-ul" %}
  </label>
</div>

