{% load wagtailadmin_tags i18n %}

<label class="w-layout-toggle-button w-layout-toggle-button-right" tabindex="0">
    {% icon name="grid" %}
    <input type="radio" aria-label="{% translate 'Grid layout' %}" name="layout" value="grid" {% if layout == "grid" %}checked{% endif %} data-controller="w-tooltip" data-w-tooltip-content-value="{% translate 'Grid layout' %}">
</label>
<label class="w-layout-toggle-button w-layout-toggle-button-left" tabindex="0">
    {% icon name="list-ul" %}
    <input type="radio" aria-label="{% translate 'List layout' %}" name="layout" value="list" {% if layout == "list" %}checked{% endif %} data-controller="w-tooltip" data-w-tooltip-content-value="{% translate 'List layout' %}">
</label>

