{% extends "wagtailadmin/base.html" %}
{% load wagtailimages_tags wagtailadmin_tags i18n %}

{% block titletag %}{% blocktrans trimmed with title=image.title %}Editing image {{ title }}{% endblocktrans %}{% endblock %}

{% block extra_css %}
    <style>
        .loading-mask {
            max-height: clamp(25rem, 50vh, 50rem);
        }
    </style>
{% endblock %}

{% block content %}
    {% trans "Generating URL" as title_str %}
    {% include "wagtailadmin/shared/header.html" with title=title_str subtitle=image.title icon="image" %}

    <div class="w-image-url-generator nice-padding" data-generator-url="{% url 'wagtailimages:generate_url' image.id '__filterspec__' %}">
        <form class="w-image-url-generator__form w-mb-5">
            {% formattedfield form.filter_method %}
            {% field_row max_content=True %}
                {% formattedfield form.width %}
                {% formattedfield form.height %}
                {% formattedfield form.closeness %}
            {% endfield_row %}
        </form>

        {% trans "Preview" as heading %}
        {% panel id="preview" icon="view" heading=heading %}
            <div class="w-image-url-generator__preview">
                <div class="loading-mask w-block w-border-2 w-border-border-furniture w-overflow-scroll w-p-4 w-rounded-sm">
                    <img class="preview w-max-w-none" src="" alt="{% trans 'Preview' %}" />
                </div>
            </div>
        {% endpanel %}

        {% trans "URL" as heading %}
        {% panel id="url" icon="link" heading=heading %}
            <textarea class="w-image-url-generator__url" id="result-url" aria-labelledby="url-heading" rows="1" data-controller="w-action" data-action="focus->w-action#select"></textarea>
        {% endpanel %}
    </div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}

    <script src="{% versioned_static 'wagtailadmin/js/vendor/jquery.ba-throttle-debounce.min.js' %}"></script>
    <script src="{% versioned_static 'wagtailimages/js/image-url-generator.js' %}"></script>
{% endblock %}
