{% load wagtailadmin_tags i18n %}

<div>
    {% if view_mode == "list" %}
        <a href="?view=grid">
            <button
                type="button"
                class="w-view-toggle-button"
                data-controller="w-tooltip"
                data-w-tooltip-content-value="Toggle layout"
            >
                {% icon name="grip" %}
            </button>
        </a>

    {% else %}
        <a href="?view=list">
            <button
                type="button"
                class="w-view-toggle-button"
                data-controller="w-tooltip"
                data-w-tooltip-content-value="Toggle layout"
            >
                {% icon name="list-ul" %}
            </button>
        </a>
    {% endif %}
</div>
