html {
    background: $color-grey-4;
    height: 100%;
}

body {
    overflow-x: hidden;
    position: relative;

    &:after {
        content: '';
        position: fixed;
        transition: visibility 0s linear 0s, opacity 0.2s ease-out;
        background: rgba(255, 255, 255, 0.5);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 5;
        opacity: 0;
        visibility: hidden;
    }
}

hr {
    border: 1px solid $color-grey-4;
    border-width: 1px 0 0;
    margin: 1.5em 0;
}

// general image style
img {
    max-width: 100%;
    height: auto;
}
