@use 'sass:map';
// These are the generic stylings for forms of any type.
// If you're styling something specific to the page editing interface,
// it probably ought to go in layouts/page-editor.scss
form {
  ul,
  li {
    list-style-type: none;
  }

  ul {
    margin: 0;
    padding: 0;
  }
}

fieldset {
  border: 0;
  padding: 0 0 2em;
  margin: 0;
}

// Special styles to counteract Firefox's completely unwarranted assumptions about button styles
input[type='submit'],
input[type='reset'],
input[type='button'],
button {
  padding: 0 1em;

  @include media-breakpoint-up(sm) {
    &.button-small {
      height: 2em;
    }
  }
}
