body {
  -webkit-font-smoothing: antialiased; // Do not remove!
  font-family: $font-sans;
  font-size: 85%;
  line-height: 1.5em;
  color: $color-text-base;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

h1 {
  line-height: 1.3em;
  font-size: 1.5em;
  color: $color-grey-1;
  font-weight: 700;

  span {
    font-weight: 300;
  }
}

h2 {
  font-size: 1.3em;
  font-family: $font-sans;
  font-weight: 600;
  color: $color-grey-2;
}

p {
  margin-top: 0;
}

a {
  color: $color-link;
  text-decoration: none;

  &:hover {
    color: $color-link-hover;
  }
}

code {
  box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.2);
  background-color: $color-fieldset-hover;
  font-family: $font-mono;
  padding: 2px 5px;
}

kbd {
  border-radius: 3px;
  font-family: $font-sans;
  border: 1px solid $color-grey-2;
  border-color: rgba(0, 0, 0, 0.2);
  padding: 0.3em 0.5em;
}

pre {
  font-family: $font-mono;
}

dl,
dt,
dd {
  padding: 0;
  margin: 0;
}

dl {
  margin-top: 1em;
}

dt {
  color: $color-grey-2;
  font-size: 0.9em;
}

dd {
  margin-bottom: 1em;
}
