.ImageBlock__field {
    display: block;
    cursor: pointer;
    margin-bottom: $button-spacing;

    > [type='text'] {
        background-color: $color-white;
        color: $color-text-base;
    }
}
