{% extends "wagtailadmin/base.html" %}
{% block titletag %}Delete {{ snippet_type_name}} - {{ instance }}{% endblock %}
{% block bodyclass %}menu-snippets{% endblock %}
{% block content %}

    {% include "verdantadmin/shared/header.html" with title="Delete" subtitle=instance %}

    <div class="nice-padding">
        <p>Are you sure you want to delete this {{ snippet_type_name }}?</p>
        <form action="{% url 'wagtailsnippets_delete' content_type.app_label content_type.model instance.id %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="Yes, delete" class="serious" />
        </form>
    </div>
    
{% endblock %}
