{% extends "wagtailadmin/base.html" %}
{% block titletag %}New  {{ snippet_type_name}}{% endblock %}
{% block bodyclass %}menu-snippets{% endblock %}
{% block content %}
    <header class="nice-padding">
        <h1>New <span>{{ snippet_type_name }}</span></h1>
    </header>


    <form action="{% url 'wagtailsnippets_create' content_type.app_label content_type.model %}" method="POST">
        {% csrf_token %}
        {{ edit_handler.render_form_content }}
        
        <footer>
            <ul>
                <li class="actions">
                    <div class="dropdown dropup match-width">
                        <div><input type="submit" value="Save" /></div>
                    </div>
                </li>
            </ul>
        </footer>
    </form>
   
{% endblock %}

{% block extra_css %}
    {% include "wagtailadmin/pages/_editor_css.html" %}
{% endblock %}
{% block extra_js %}
    {% include "wagtailadmin/pages/_editor_js.html" %}
{% endblock %}
