{% load i18n %}
<table class="listing">
    <col width="5%" />
    <col />
    <col />
    <col width="16%" />
    <thead>
        <tr class="table-headers">
            <th><input type="checkbox" class="toggle-select-all"/></th>
            <th>{% trans "Title" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for snippet in items %}
            <tr>
                <td class="select"><input type="checkbox" class="toggle-select-row"/></td>
                <td class="title">
                    {% if choosing %}
                        <h2><a class="snippet-choice" href="{% url 'wagtailsnippets:chosen' model_opts.app_label model_opts.model_name snippet.id %}">{{ snippet }}</a></h2>
                    {% else %}
                        <h2><a href="{% url 'wagtailsnippets:edit' model_opts.app_label model_opts.model_name snippet.id %}">{{ snippet }}</a></h2>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{# need to check where this should actually go #}
<script>
  $( document ).ready(function() {
      $('table.listing input[type="checkbox"]').on('click', function(event) {
          $target = $(event.target);
          value = $target.prop('checked');
          if ( $target.hasClass('toggle-select-row') ) {
            $row = $($target.closest('tr')[0]);
            $selectAllCheckbox = $('table.listing input[type="checkbox"].toggle-select-all');
            if (value === true) {
              $row.addClass('selected');
              unchekedCheckboxes = $('table.listing tbody input[type=checkbox]:not(:checked)').length;
              if (unchekedCheckboxes === 0) {
                $checkboxes.prop('checked', false);
              }
            } else {
              $selectAllCheckbox.prop('checked', false);
              $row.removeClass('selected');
            }
          } else if ( $target.hasClass('toggle-select-all') ) {
            $rows = $('table.listing tr');
            $checkboxes = $('table.listing input[type="checkbox"]');
            if (value === true) {
              $rows.addClass('selected');
              $checkboxes.prop('checked', true);
            } else {
              $rows.removeClass('selected');
              $checkboxes.prop('checked', false);
            }
          }
      });
  });
</script>
