{% extends "wagtailadmin/base.html" %}
{% block titletag %}Snippets {{ snippet_type_name_plural|capfirst }}{% endblock %}
{% block bodyclass %}menu-snippets{% endblock %}
{% block content %}

    <header class="nice-padding">
        <div class="row row-flush">
            <div class="left col9">
                <h1>Snippets <span>{{ snippet_type_name_plural|capfirst }}</span></h1>
            </div>
            <div class="right col3">
                <a href="{% url 'wagtailsnippets_create' content_type.app_label content_type.model %}" class="button bicolor icon icon-plus">Add {{ snippet_type_name }}</a>
                {# TODO: figure out a way of saying "Add a/an [foo]" #}
            </div>
        </div>
    </header>
    <div class="nice-padding">
        {% if items %}
            {% include "wagtailsnippets/snippets/list.html" %}
        {% else %}
            <p class="no-results-message">No {{ snippet_type_name_plural }} have been created. Why not <a href="{% url 'wagtailsnippets_create' content_type.app_label content_type.model %}">add one</a>?</p>
        {% endif %}
    </div>
{% endblock %}
