.sidebar-custom-branding {
    display: block;
    align-items: center;
    color: #aaa;
    -webkit-font-smoothing: auto;
    position: relative;
    transition: padding 150ms ease;

    &:hover {
        color: $color-white;
    }

    @at-root .sidebar--slim #{&} {
        padding: 40px 0;
    }
}
