// stylelint-disable declaration-no-important
.sidebar-search {
    $root: &;
    position: relative;
    box-sizing: border-box;
    padding: 0 20px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    height: 42px;

    .sidebar--slim & {
        padding: 0;
    }

    &__label {
        @include visuallyhidden;
    }

    // Beat specificity
    input:not([type='submit']) {
        position: absolute;
        left: 0;
        top: 0;
        // Need !important to override body.ready class
        transition: background-color $menu-transition-duration ease, opacity $menu-transition-duration ease !important;
        font-size: 13px;
        font-weight: 400;
        background-color: transparent;
        border: 0;
        color: $color-menu-text;
        -webkit-font-smoothing: auto;

        .sidebar--slim & {
            opacity: 0;
        }

        &::placeholder {
            color: $color-menu-text;
        }
    }

    &__submit {
        position: absolute;
        right: 0;
        top: 0;
        background-color: transparent;
        border: 0;
        color: #ccc;
        padding: 0;
        width: 35px;
        height: 35px;
        transition: opacity $menu-transition-duration ease, width $menu-transition-duration ease;

        svg {
            margin-right: 15px;
            transition: margin-right $menu-transition-duration ease;
        }

        .sidebar--slim & {
            width: 100%;

            svg {
                margin-right: 0;
            }
        }

        &:hover {
            background-color: transparent;
        }
    }
}
