@import 'wagtailadmin/scss/helpers';

.typed-table-block {
    table {
        margin-top: 1.5em;
        margin-left: 1.5em;
    }

    th {
        position: relative;

        button.prepend-column {
            position: absolute;
            left: -1.2em;
            top: -2.2em;
        }

        button.delete-column {
            position: absolute;
            right: 8px;
            top: 1em;
        }

        button.append-column {
            margin-left: 1em;
        }
    }

    tbody tr {
        position: relative;

        button.prepend-row {
            left: -2.5em;
            position: absolute;
            top: -1em;
        }

        button.delete-row {
            margin-left: 1em;
        }
    }

    ul.add-column-menu {
        position: absolute;
        top: 0;
        z-index: 100;
        min-width: 10em;
        background-color: $color-white;

        button {
            width: 100%;
            margin: 1px;
        }
    }

    .control-cell ul.add-column-menu {
        top: 3em;
        left: -5em;
    }
}
