{% extends "wagtailadmin/base.html" %}
{% load i18n %}3
{% block titletag %}{% trans "Publish all scheduled pages" %}{% endblock %}

{% block content %}
    {% trans "Publish all" as title %}
    {% trans "scheduled pages" as subtitle %}
    {% include "wagtailadmin/shared/header.html" with title=title subtitle=subtitle icon="time" %}

    <div class="nice-padding">
        <p>{% trans "Are you sure you want to publish all scheduled pages? The pages listed below will be immediately published." %}</p>
        <ul>
            {% for revision in revisions_to_publish %}
                <li>{{ revision.title }}</li>
            {% endfor %}
        </ul>
        <form action="{% url 'wagtailadmin_scheduled_pages:publish_all' %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="{% trans 'Yes, publish all now' %}" class="button" />
        </form>
    </div>
{% endblock %}