{% load i18n wagtailadmin_tags %}
<td class="ord">
    <button
        class="w-orderable__item__handle button button-small text-replace button--icon"
        type="button"
        aria-live="polite"
        data-w-orderable-target="handle"
        data-action="keydown.up->w-orderable#up:prevent keydown.down->w-orderable#down:prevent keydown.enter->w-orderable#apply"
    >
        {% icon name="grip" classname="default" %}
        <span class="w-sr-only">
            {% trans 'Drag' %}
            <span>
                {% blocktranslate trimmed with index=row.index|add:1|intcomma total=table.row_count|intcomma %}Item {{ index }} of {{ total }}{% endblocktranslate %}
            </span>
        </span>
    </button>
</td>
