{% extends "wagtailadmin/base.html" %}

{% block titletag %}Delete redirect {{ redirect.title }}{% endblock %}
{% block content %}
    <header class="nice-padding">
        <h1>Delete <span>{{ redirect.title }}</span></h1>
    </header>
    <div class="row row-flush nice-padding">       
        <p>Are you sure you want to delete this redirect?</p>
        <form action="{% url 'wagtailredirects_delete_redirect' redirect.id %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="Yes, delete" class="serious" />
        </form>
    </div>
{% endblock %}
