{% extends "wagtailadmin/base.html" %}
{% block bodyclass %}menu-redirects{% endblock %}
{% block titletag %}Editing {{ redirect.title }}{% endblock %}
{% block content %}

    {% include "wagtailadmin/shared/header.html" with title="Editing" subtitle=redirect.title %}

    <form action="{% url 'wagtailredirects_edit_redirect' redirect.id %}" method="POST" class="nice-padding">>
        {% csrf_token %}
        {{ edit_handler.render_form_content }}

        <div>
            <input type="submit" value="Save" />
            <a href="{% url 'wagtailredirects_delete_redirect' redirect.id %}" class="button button-secondary no">Delete redirect</a>
        </div>
    </form>
    
{% endblock %}

{% block extra_js %}
    {% include "wagtailadmin/pages/_editor_js.html" %}
{% endblock %}