{% extends "wagtailadmin/base.html" %}
{% block titletag %}Redirects{% endblock %}
{% block bodyclass %}menu-redirects{% endblock %}

{% block extra_js %}
    <script>
        window.headerSearch = {
            url: "{% url 'wagtailredirects_index' %}",
            termInput: "#id_q",
            targetOutput: "#redirects-results"
        }
    </script>
{% endblock %}

{% block content %}
    {% include "wagtailadmin/shared/header.html" with title="Redirects" add_link="wagtailredirects_add_redirect" add_text="Add redirect" search_url="wagtailredirects_index" %}

    <div class="nice-padding">
        <div id="redirects-results" class="redirects">
            {% include "wagtailredirects/results.html" %}
        </div>
    </div>
    
{% endblock %}
