{% load i18n l10n wagtailadmin_tags %}
<td class="{% if column.classname %}{{ column.classname }} {% endif %}title">
    <div class="title-wrapper">
        {% if page.can_choose %}
            {% if column.is_multiple_choice %}
                <label for="chooser-modal-select-{{ page.id|unlocalize }}">{{ value }}</label>
            {% else %}
                <button
                    class="choose-page"
                    type="button"
                    aria-description="{% trans "Select page" %}"
                    data-admin-title="{{ page.get_admin_display_title }}"
                    data-choose-item
                    data-edit-url="{% url 'wagtailadmin_pages:edit' page.id %}"
                    data-id="{{ page.id|unlocalize }}"
                    data-parent-id="{{ page.get_parent.id|unlocalize }}"
                    data-title="{{ page.title }}"
                    data-url="{{ page.url }}"
                >
                    {{ value }}
                </button>
            {% endif %}
        {% else %}
            {{ value }}
        {% endif %}
        {% if column.show_locale_labels and page.depth == 2 %}
            {% status page.locale.get_display_name classname="status-tag--label" %}
        {% endif %}

        {% include "wagtailadmin/pages/listing/_privacy_indicator.html" with page=page %}
        {% include "wagtailadmin/pages/listing/_locked_indicator.html" with page=page %}
    </div>
</td>
