{% extends "wagtailadmin/base.html" %}
{% load i18n %}

{% block titletag %}{% trans "Add site" %} {{ site.hostname }}{% endblock %}

{% block content %}

    {% trans "Add site" as add_site_str %}
    {% include "wagtailadmin/shared/header.html" with title=add_site_str icon="site" %}

    <form action="{% url 'wagtailsites:add' %}" method="POST">
        {% csrf_token %}
        <div class="nice-padding">
            <ul class="fields">
                {% include "wagtailsites/_form.html" %}
                <li><input type="submit" value="{% trans 'Save' %}" /></li>
            </ul>
        </div>
    </form>
{% endblock %}
{% block extra_js %}
    {% include "wagtailadmin/pages/_editor_js.html" %}
{% endblock %}
