{% extends "wagtailadmin/base.html" %}
{% load i18n %}

{% block titletag %}{% trans "Editing" %} {{ site.hostname }}{% endblock %}

{% block content %}

    {% trans "Editing" as editing_str %}
    {% include "wagtailadmin/shared/header.html" with title=editing_str subtitle=site.hostname icon="site" %}

    <div class="nice-padding">
        <form action="{% url 'wagtailsites:edit' site.id %}" method="POST">
            {% csrf_token %}
        
            <ul class="fields">
                {% include "wagtailsites/_form.html" %}
                
                <li>
                    <input type="submit" value="{% trans 'Save' %}" />
                    {% if perms.wagtailcore.delete_site %}
                        <a href="{% url 'wagtailsites:delete' site.id %}" class="button button-secondary no">{% trans "Delete site" %}</a>
                    {% endif %}
                </li>
            </ul>
        </form>
    </div>
{% endblock %}

{% block extra_js %}
    {% include "wagtailadmin/pages/_editor_js.html" %}
{% endblock %}
