{% load wagtailadmin_tags i18n %}
<div id="{{ self.prefix }}-field" class="w-field {% if field.errors %}w-field--error{% endif %}" data-contentpath="{{ field.name }}">
    {% if errors %}
        <p id="{{ error_message_id }}" class="w-error"><svg width="16" height="16"><use href="#icon-cross"></use></svg>{% for error in errors %}{{ error }} {% endfor %}</p>
    {% endif %}

    {{ rendered_field }}
    {% if help_text %}
        <p id="{{ help_text_id }}" class="w-help-text">{{ help_text }}</p>
    {% endif %}

    {% if show_add_comment_button %}
        <div class="field-comment-control">
            <button type="button" data-component="add-comment-button" data-comment-add class="u-hidden" aria-label="{% trans 'Add comment' %}">
                {% icon name="comment-add" class_name="initial icon-default" %}
                {% icon name="comment-add-reversed" class_name="initial icon-reversed" %}
            </button>
        </div>
    {% endif %}
</div>
