{% load i18n l10n wagtailadmin_tags %}

{{ self.formset.management_form }}

{% if self.formset.non_form_errors %}
    <div class="error-message">
        {% for error in self.formset.non_form_errors %}
            <span>{{ error|escape }}</span>
        {% endfor %}
    </div>
{% endif %}

{% if self.help_text %}
    {% help_block status="info" %}{{ self.help_text }}{% endhelp_block %}
{% endif %}

<div id="id_{{ self.formset.prefix }}-FORMS"
     data-formset-prefix="id_{{ self.formset.prefix }}"
     data-empty-child-form-prefix="{{ self.empty_child.form.prefix }}"
     data-can-order="{% if can_order %}true{% else %}false{% endif %}"
     data-max-forms="{{ self.formset.max_num|unlocalize }}">

    {% for child in self.children %}
        {% include "wagtailadmin/panels/inline_panel_child.html" %}
    {% endfor %}
</div>

<template id="id_{{ self.formset.prefix }}-EMPTY_FORM_TEMPLATE">
    {% include "wagtailadmin/panels/inline_panel_child.html" with child=self.empty_child %}
</template>

{# Align with guiding line of the preceding child panel. #}
<div class="w-mb-4 -w-ml-4">
    {% block add_button %}
        <button type="button" class="button button-small button-secondary chooser__choose-button"
                id="id_{{ self.formset.prefix }}-ADD">
            {% icon name=icon|default:"plus-inverse" %}
            {% blocktrans trimmed with label=self.label|lower %}Add {{ label }}{% endblocktrans %}
        </button>
    {% endblock %}
</div>


{% block js_init %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.querySelectorAll("[id$='-FORMS']").forEach((panelElement) => {
                const formsetPrefix = panelElement.dataset.formsetPrefix;
                const emptyChildFormPrefix = panelElement.dataset.emptyChildFormPrefix;
                const canOrder = panelElement.dataset.canOrder === "true";
                const maxForms = parseInt(panelElement.dataset.maxForms, 10);

                new InlinePanel({
                    formsetPrefix,
                    emptyChildFormPrefix,
                    canOrder,
                    maxForms,
                });
            });
        });
    </script>
{% endblock %}
