{% load i18n wagtailadmin_tags %}

<div data-contentpath="{{ self.field_name }}">
    <fieldset>
        <legend>{{ self.heading }}</legend>
        <ul class="fields">
            <li>
                {% include "wagtailadmin/shared/field.html" with show_label=False show_help_text=False show_add_comment_button=False include_contentpath=False %}
            </li>
        </ul>
    </fieldset>

    {% if show_add_comment_button %}
        <div class="field-comment-control field-comment-control--object">
            <button type="button" data-component="add-comment-button" data-comment-add class="u-hidden" aria-label="{% trans 'Add comment' %}">
                {% icon name="comment-add" class_name="initial icon-default" %}
                {% icon name="comment-add-reversed" class_name="initial icon-reversed" %}
            </button>
        </div>
    {% endif %}
</div>
