{% load wagtailadmin_tags i18n %}
<div class="tab-nav merged">
    <ul data-tab-nav role="tablist" data-current-tab="{{ self.children.0.heading|cautious_slugify }}">
        {% for child in self.children %}
            <li class="{{ child.classes|join:" " }} {% if forloop.first %}active{% endif %}" role="tab" aria-controls="tab-{{ child.heading|cautious_slugify }}">
                <a href="#tab-{{ child.heading|cautious_slugify }}" class="{% if forloop.first %}active{% endif %}" data-tab="{{ child.heading|cautious_slugify }}">{{ child.heading }}</a>
            </li>
        {% endfor %}
    </ul>
    {% if self.form.show_comments_toggle %}
        <div class="right wide">
            <div class="comments-controls" hidden data-comment-notifications>
                <div class="comment-notifications-toggle">
                    <label class="switch switch--teal-background">
                        {% trans "Comment notifications" %}
                        {{ self.form.comment_notifications }}
                        <span class="switch__toggle"></span>
                    </label>
                </div>
            </div>
        </div>
    {% endif %}
</div>

<div class="tab-content">
    {% for child in self.children %}
        <section id="tab-{{ child.heading|cautious_slugify }}" class="{{ child.classes|join:" " }} {% if forloop.first %}active{% endif %}" role="tabpanel" aria-labelledby="tab-label-{{ child.heading|cautious_slugify }}" data-tab="{{ child.heading|cautious_slugify }}">
            {{ child.render_as_object }}
        </section>
    {% endfor %}
</div>
