{% extends "wagtailadmin/base.html" %}
{% load i18n %}
{% block titletag %}{% blocktrans with module.model_verbose_name.lower as model_name %}Delete {{ model_name }}{% endblocktrans %}{% endblock %}

{% block content %}
    {% trans "Delete " as del_str %}
    {% with del_str|add:module.model_verbose_name.lower as del_model_str %}
        {% include "wagtailadmin/shared/header.html" with title=del_model_str subtitle=object icon=module.icon_class %}
    {% endwith %}
    <div class="nice-padding">
        <p>{% blocktrans with module.model_verbose_name.lower as model_name %}Are you sure you want to delete this {{ model_name }}?{% endblocktrans %}</p>
        <form action="{% url module.name|add:':delete' object.id %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="{% trans 'Yes, delete' %}" class="serious" />
        </form>
    </div>
{% endblock %}
