.listing {
    color: #666;
}

.result-list {

    tbody { 
        overflow: auto;
    }

    tr.odd { 
        background-color: #f2f2f2; 
    }

    tr.odd:hover {
        background-color: #f4f4f4;
    }

    tr.even {
        background-color: #fafafa;
    }

    tr.even:hover {
        background-color: #fcfcfc;
    }

    tr > td { 
        background-color: inherit;
    }

    tr.ui-sortable-helper {
        background-color: #fff;

        .visible-on-drag {
            display: table-cell;
        }
    }
}
