.o-pill {
  display: inline-block;
  padding: 0.2em 0.5em;
  border-radius: 0.25em;
  vertical-align: middle;
  line-height: 1.5;
}

// For dropdowns
.o-icon {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  margin-top: -0.25rem;
}
