.sidebar-panel {
    // With CSS variable allows panels with different widths to animate properly
    --menu-width: #{$menu-width};
    --width: #{$menu-width};
    --offset: calc(var(--menu-width) - var(--width));

    visibility: hidden;
    transform: translate3d(0, 0, 0);
    position: fixed;
    height: 100vh;
    padding: 0;
    top: 0;
    left: var(--offset);
    display: flex;
    flex-direction: column;
    overflow: hidden;

    @include transition(left $menu-transition-duration ease, right $menu-transition-duration ease);

    &--visible {
        visibility: visible;
        box-shadow: 2px 0 2px rgba(0, 0, 0, 0.35);
    }

    @at-root .sidebar--slim #{&} {
        --menu-width: $menu-width-slim;
    }
    // Don't apply this to nested submenus though
    @at-root .sidebar--slim .sidebar-panel #{&} {
        --menu-width: $menu-width;
    }

    [dir='rtl'] & {
        right: var(--offset);
        left: unset;
    }

    &--open {
        --offset: var(--menu-width);

        // Don't apply this to nested submenus though
        @at-root .sidebar--slim .sidebar-panel #{&} {
            --offset: var(--menu-width);
        }
    }
}
