{% load i18n wagtailadmin_tags %}

{% auto_update_preview as auto_update %}

<div class="preview-panel preview-panel--mobile" data-preview-panel data-action="{{ preview_url }}" data-auto-update="{{ auto_update|yesno:'true,false' }}">
    <div class="preview-panel__sizes">
        <button class="preview-panel__size-button preview-panel__size-button--mobile" data-preview-size="mobile" aria-label="{% trans 'Preview in mobile size' %}" aria-current="true">
            {% icon name="mobile-alt" %}
        </button>
        <button class="preview-panel__size-button preview-panel__size-button--tablet" data-preview-size="tablet" aria-label="{% trans 'Preview in tablet size' %}" aria-current="false">
            {% icon name="tablet-alt" %}
        </button>
        <button class="preview-panel__size-button preview-panel__size-button--desktop" data-preview-size="desktop" aria-label="{% trans 'Preview in desktop size' %}" aria-current="false">
            {% icon name="desktop" %}
        </button>

        <button class="preview-panel__size-button preview-panel__size-button--new-tab" data-preview-new-tab aria-label="{% trans 'Preview in new tab' %}">{% icon name="link-external" %}</button>
    </div>

    <button class="button button-small button-secondary button--icon preview-panel__refresh-button" data-refresh-preview>{% icon name="rotate" %} Refresh</button>

    <div class="preview-panel__area">
        <div class="preview-panel__wrapper">
            <iframe title="Preview" class="preview-panel__iframe" data-preview-iframe src="{{ preview_url }}?in_preview_panel=true"></iframe>
        </div>

        {% if object.preview_modes|length > 1 %}
            <div class="preview-panel__modes choice_field">
                {% trans 'Preview mode' %}
                <div class="input">
                    <select name="preview_mode" class="preview-panel__mode-select" data-preview-mode-select>
                        {% for internal_name, display_name in object.preview_modes %}
                            <option value="{{ internal_name }}">{{ display_name }}</option>
                        {% endfor %}
                    </select>
                    <span>
                    </span>
                </div>
            </div>
        {% endif %}
    </div>
</div>
