{% extends "wagtailadmin/shared/header.html" %}

{% block right_column_classname %}right col w-flex w-items-center{% endblock %}
{% block right_column %}
    {% if site %}
        <div class="col">
            {% include 'wagtailadmin/shared/site_selector.html' with class='c-dropdown--large' %}
        </div>
    {% endif %}
    {% if locale %}
        <div class="col">
            {% include 'wagtailadmin/shared/locale_selector.html' with class='c-dropdown--large' %}
        </div>
    {% endif %}
{% endblock %}
