// stylelint-disable declaration-no-important
.u-hidden {
    display: none !important;
}

.u-hidden\@medium {
    @include media-breakpoint-up(sm) {
        display: none !important;
    }
}

.u-hidden\@small {
    @include media-breakpoint-down(xs) {
        display: none !important;
    }
}

.u-inline\@medium {
    @include media-breakpoint-up(sm) {
        display: inline !important;
    }
}

.u-inline\@small {
    @include media-breakpoint-down(xs) {
        display: inline !important;
    }
}

.u-block\@medium {
    @include media-breakpoint-up(sm) {
        display: block !important;
    }
}

.u-block\@small {
    @include media-breakpoint-down(xs) {
        display: block !important;
    }
}
