{% load i18n wagtailadmin_tags %}
{% trans "Add an anchor link" as anchor_str %}
{% include "wagtailadmin/shared/header.html" with title=anchor_str %}

<div class="nice-padding">
    {% include 'wagtailadmin/chooser/_link_types.html' with current='anchor' %}

    <form action="{% url 'wagtailadmin_choose_page_anchor_link' %}{% querystring %}" method="post" novalidate>
        {% csrf_token %}
        <ul class="fields">
            {% for field in form %}
                {% include "wagtailadmin/shared/field_as_li.html" %}
            {% endfor %}
            <li><input type="submit" value="{% trans 'Insert anchor' %}"  class="button" /></li>
        </ul>
    </form>
</div>
