.breadcrumb {
    @include unlist();
    @include clearfix();
    overflow: hidden;
    box-sizing: border-box;
    padding-top: 1.4em;
    font-size: 0.85em;

    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }

    li {
        display: block;
        float: left;
        position: relative;
        text-decoration: none;
        white-space: nowrap;
        line-height: 1.5em;

        a {
            @include show-focus-outline-inside;
            padding: 0.5em 1.3em;
            color: $color-white;
            display: block;
            max-width: 16em;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            line-height: 1.6em;
            padding-right: 2em;

            &:after {
                right: 0;
                position: absolute;
                font-family: wagtail;
                content: map-get($icons, 'arrow-right');
                width: 20px;
                font-size: 2em;
                color: $color-teal-darker;
                line-height: 0.9em;
            }

            &:hover,
            &:focus {
                background: $color-teal-dark;
                color: $color-white;
            }

            &:after {
                border-left-color: $color-teal-dark;
            }
        }

        &.home {
            a {
                // stylelint-disable max-nesting-depth
                width: 6em;
                font-size: 1em;

                &::before {
                    font-size: 1.15rem;
                    line-height: 0.85em;
                    padding-top: 0.1em;
                }
            }
        }
    }

    header & li {
        &::before {
            border-left: 1em solid $color-white;
            position: absolute;
            left: 0;
            top: 0;
        }
    }

    &.single {
        li a {
            white-space: nowrap;
            text-overflow: inherit;
            max-width: 100%;
        }
    }

    @include media-breakpoint-up(sm) {
        padding-top: 0;
        background: $color-teal-darker;
        margin-left: -($desktop-nice-padding);
        margin-right: -($desktop-nice-padding);

        li a {
            &::after {
                color: $color-teal;
            }
        }
    }
}
