// stylelint-disable max-nesting-depth

// Core button styles

@use 'sass:color';

.button {
  border-radius: theme('borderRadius.sm');
  width: auto;
  height: 2.25em;
  padding: 0 1em;
  font-size: theme('fontSize.14');
  font-weight: theme('fontWeight.normal');
  line-height: calc(2.25em - 2px); // account for border
  vertical-align: middle;
  display: inline-block;
  background-color: theme('colors.surface-button-default');
  border: 1px solid theme('colors.surface-button-default');
  outline-offset: $focus-outline-width;
  color: theme('colors.text-button');
  text-decoration: none;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  transition: background-color 0.1s ease;
  // stylelint-disable-next-line property-no-vendor-prefix
  -moz-appearance: none;
  -webkit-font-smoothing: auto;

  + .button {
    // ensure buttons can sit next to each other with a nice margin
    margin-inline-start: theme('spacing.4');
  }

  &.button-small {
    padding: 0 theme('spacing.3');
    height: 2em;
    font-size: calc(theme('fontSize.14') * 0.87);
    line-height: calc(2em - 2px); // account for border
  }

  &.button--icon {
    .icon {
      @include svg-icon();
    }
  }

  &.button-secondary {
    color: theme('colors.text-button-outline-default');
    background-color: transparent;

    &:hover {
      background-color: theme('colors.surface-page');
      border-color: currentColor;
      color: theme('colors.surface-button-default');
    }
  }

  &.warning {
    background-color: theme('colors.surface-alert-warning');
    border-color: theme('colors.surface-alert-warning');

    &.button-secondary {
      border-color: theme('colors.surface-alert-warning');
      color: theme('colors.surface-alert-warning');
      background-color: transparent;
    }

    &:hover {
      color: theme('colors.text-button');
      border-color: transparent;
      background-color: theme('colors.surface-alert-warning');
    }
  }

  // no/serious is not compatible with the button-secondary class
  &.no,
  &.serious {
    background-color: theme('colors.surface-page');
    border: 1px solid theme('colors.surface-alert-danger');
    color: theme('colors.surface-alert-danger');

    &:hover {
      color: theme('colors.surface-alert-danger');
      border-color: theme('colors.surface-alert-danger');
      background-color: theme('colors.critical.50');
    }
  }

  &.bicolor {
    padding-inline-start: 3.5em;

    &:before {
      // iconfont
      font-size: theme('fontSize.15');
      position: absolute;
      inset-inline-start: 0;
      top: 0;
      width: 2em;
      line-height: inherit;
      height: 100%;
      text-align: center;
      background-color: theme('colors.black-20');
      display: block;
      // Remove once we drop support for Safari 14.
      // stylelint-disable-next-line property-disallowed-list
      border-top-left-radius: inherit;
      border-start-start-radius: inherit;
      // Remove once we drop support for Safari 14.
      // stylelint-disable-next-line property-disallowed-list
      border-bottom-left-radius: inherit;
      border-end-start-radius: inherit;
    }

    .icon-wrapper {
      background-color: theme('colors.black-20');
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      inset-inline-start: 0;
      top: 0;
      width: 3em;
      height: 100%;
      box-sizing: content-box;
      text-align: center;
      // Remove once we drop support for Safari 14.
      // stylelint-disable-next-line property-disallowed-list
      border-top-left-radius: inherit;
      border-start-start-radius: inherit;
      // Remove once we drop support for Safari 14.
      // stylelint-disable-next-line property-disallowed-list
      border-bottom-left-radius: inherit;
      border-end-start-radius: inherit;
    }

    &.button--icon {
      &:before {
        display: none; // TODO: remove once the icon font styles are gone
      }

      .icon {
        @include svg-icon();
      }
    }

    &.button--icon-flipped {
      .icon {
        transform: scaleX(-1);
      }
    }

    &.button-secondary {
      .icon-wrapper {
        border-inline-end: 1px solid theme('colors.surface-button-default');
        background-color: transparent;
      }

      &:hover {
        background-color: theme('colors.text-button');
      }

      &:disabled,
      &[disabled],
      &.disabled {
        .icon-wrapper {
          border-color: theme('colors.surface-button-inactive');
        }
      }
    }

    &.button-small {
      padding-inline-start: 3.5em;

      .icon-wrapper {
        width: theme('spacing.8');
      }

      &.button--icon .icon {
        @include svg-icon(0.9rem);
        padding: 0.25em;
      }

      &.button-secondary {
        border: 0;
        padding-inline-start: 2.2em;

        .icon-wrapper {
          border: 1px solid theme('colors.surface-button-default');
          border-radius: 50%;
          height: fit-content;
          width: fit-content;
        }

        &:hover {
          background-color: transparent;

          .icon-wrapper {
            background-color: theme('colors.surface-button-default');
            color: theme('colors.text-button');
          }
        }

        &:disabled,
        &[disabled],
        &.disabled {
          .icon-wrapper {
            background-color: transparent;
          }
        }
      }
    }
  }

  &.button-longrunning {
    span {
      // iconfont
      @include transition(all 0.3s ease);
      transform: scale(0.9);
      display: inline-block;
      height: 1em;
      position: relative;
      opacity: 0;
      width: 0;
      visibility: hidden;
      text-align: center;
      padding-inline-end: 0;
    }

    em {
      font-style: normal;
    }

    span.icon-spinner:after {
      // iconfont
      text-align: center;
      position: absolute;
      inset-inline-start: 0;
      margin: 0;
      line-height: 1em;
      display: inline-block;
      font-size: 1em;
    }

    svg.icon-spinner {
      @include transition(all 0.3s ease);
      display: none;
    }
  }

  &.button-longrunning-active {
    display: inline-flex;
    align-items: center;

    span {
      // iconfont
      transform: scale(1);
      visibility: visible;
      width: 1em;
      height: 1em;
      opacity: 0.8;
      padding-inline-end: 0.5em;
    }

    svg.icon-spinner {
      @include svg-icon();
      display: inline-block;
      opacity: 0.8;
      padding: 0;
      margin-inline-end: 0.5em;
    }

    .button-longrunning__icon {
      display: none;
    }
  }

  // Base hover state
  &:hover {
    background-color: theme('colors.surface-button-hover');
    color: theme('colors.text-button');
    border-color: transparent;
  }

  // Disabled state
  &:disabled,
  &[disabled],
  &.disabled {
    background-color: theme('colors.surface-button-inactive');
    border-color: theme('colors.surface-button-inactive');
    color: theme('colors.text-button');
    cursor: default;
    pointer-events: none;

    &:hover {
      background-color: theme('colors.surface-button-inactive');
      border-color: theme('colors.surface-button-inactive');
      color: theme('colors.text-button');
      cursor: default;
    }

    @media (forced-colors: active) {
      color: GrayText;
      border-color: GrayText;
      border-style: dashed;
    }
  }

  &.button-secondary:disabled,
  &.button-secondary[disabled],
  &.button-secondary.disabled {
    background-color: theme('colors.surface-page');
    border-color: theme('colors.surface-button-inactive');
    color: theme('colors.text-placeholder');
  }

  // Buttons which are only an icon
  &.text-replace {
    &.icon {
      // iconfont
      font-size: 0; // unavoidable duplication of setting in icons.scss
      height: inherit;
      width: inherit;
      box-sizing: content-box;

      &:before {
        line-height: 1.7em;
      }
    }

    &.button--icon {
      background-color: transparent;
      color: theme('colors.icon-secondary');
      border-color: transparent;
      font-size: 0;
      text-align: center;
      height: inherit;
      width: inherit;

      &:hover {
        color: theme('colors.icon-secondary-hover');
      }

      .icon {
        @include svg-icon(1rem, middle);

        font-size: initial;
        padding: 0.5em;
        box-sizing: content-box;
      }

      &.button-small {
        line-height: 1.75em;

        .icon {
          padding: 0.25em;
        }
      }
    }

    @include media-breakpoint-up(sm) {
      &.icon {
        &:before {
          line-height: 2.1em;
        }

        &.button-small {
          width: 1.75em;
          height: 1.75em;

          &:before {
            line-height: 1.7em;
          }
        }
      }
    }
  }

  // Larger viewport width adjustments

  @include media-breakpoint-up(sm) {
    font-size: theme('fontSize.14');
    padding: 0 1.4em;
    height: 3em;
    line-height: calc(3em - 2px); // account for border

    &.bicolor {
      padding-inline-start: 3.5em;

      &:before {
        width: 2em;
        font-size: theme('fontSize.16');
      }

      &.button-small {
        padding-inline-start: 3em;

        &:before {
          width: 1.75em;
        }
      }
    }
  }

  // Ensure visual consistency between button and a elements in WHCM

  @media (forced-colors: active) {
    &:not(:disabled):not(.disabled):not([disabled]) {
      color: ButtonText;
      border-color: ButtonText;

      &:hover {
        border-color: Highlight;
      }
    }
  }
}
