.comment-notifications-dropdown {
  position: absolute;
  display: none;
  bottom: -92px;
  z-index: 51;
  background-color: $color-text-base;
  padding: 20px;
  border-radius: 6px;
  min-width: 260px;
  box-sizing: border-box;
  border: 1px solid $color-text-base;

  &__title {
    font-size: 12px;
    font-weight: 700;
    color: $color-white;
  }

  &--active {
    display: block;
  }

  &::before {
    content: '';
    position: absolute;
    top: -8px;
    width: 0;
    height: 0;
    z-index: 2;
    // Remove once we drop support for Safari 13.
    // stylelint-disable-next-line property-disallowed-list
    right: 18px;
    inset-inline-end: 18px;
    border-style: solid;
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent $color-text-base transparent;
  }
}
