.comments-controls {
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding-inline-end: 2px;
  height: 42px;
  box-sizing: border-box;

  @include media-breakpoint-up(sm) {
    padding-inline-end: 30px;
    height: 43px;
  }
}

// Tis to beat specificity
.comments-controls[hidden] {
  display: none;
}

.comment-notifications-toggle {
  label {
    padding: 0;
    margin: 0;
    padding-top: 5px;
    font-weight: normal;
    font-size: 13px;
    color: $color-black;
    display: flex;
    justify-content: space-between;
  }

  .switch__toggle {
    margin-inline-start: 15px;
  }
}
