// =============================================================================
// Listing view smaller dropdowns
// =============================================================================

@keyframes dropdownIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.c-dropdown {
    $root: &;

    &__button {
        display: inline-block;
        box-sizing: border-box;
        padding-left: 0.5rem;
        padding-right: 0.25rem;
        // Make this the same as the other buttons
        line-height: 1.85;
        border: solid 1px transparent;
        border-radius: 2px;
        font-size: 0.95em;
        cursor: pointer;
        -webkit-font-smoothing: subpixel-antialiased;
        user-select: none;
    }

    &__toggle {
        display: inline-block;
    }

    &__menu {
        margin-top: 0.75rem;
        padding: 0.75rem 1rem;
        min-width: 8rem;
        text-transform: none;
        position: absolute;
        z-index: 1;
        animation: dropdownIn 0.1s ease-out backwards;
        list-style: none;
    }

    &__item {
        margin-bottom: 0.375rem;

        &:hover {
            #{$root}__indicator {
                opacity: 0.6;
            }
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__divider {
        border-color: #555;
        border-style: dotted;
        margin-top: 12px;
        margin-bottom: 12px;
    }
}
