// Help text formatters
.c-help-block {
    padding: 1em;
    margin: 1em 0;
    clear: both;
    color: $color-text-base;
    border-radius: 3px;
    padding-left: 3.5em;
    position: relative;

    &:before {
        font-family: wagtail;
        position: absolute;
        left: 1em;
        top: 0.7em;
        content: map-get($icons, 'help');
        font-size: 1.4em;
    }


}

.c-help-block__text {
    margin-top: 0;

    &:last-child {
        margin-bottom: 0;
    }
}


.c-help-block--info {
    background-color: lighten($color-blue, 30%);

    &:before {
        color: $color-blue;
    }
}

.c-help-block--warning {
    background-color: lighten($color-orange, 30%);

    &:before {
        color: $color-orange;
        content: map-get($icons, 'warning');
    }
}

.c-help-block--critical {
    background-color: lighten($color-red, 40%);

    &:before {
        color: $color-red;
        content: map-get($icons, 'warning');
    }
}
