.indicator {
  margin-inline-end: 0;
  opacity: theme('opacity.70');

  .icon {
    padding: 2px;
    vertical-align: middle; // reset vertical-align set by icon.initial
  }

  &--is-dimmed {
    opacity: theme('opacity.50');
  }
}

.privacy-indicator {
  &.public {
    .label-private {
      display: none;
    }
  }

  &.private {
    .label-public {
      display: none;
    }
  }
}
