.privacy-indicator {
  .label-private,
  .label-public {
    &:before {
      font-size: 1.5em;
    }
  }

  &.public {
    .label-private {
      display: none;
    }
  }

  &.private {
    .label-public {
      display: none;
    }
  }
}

.indicator {
  margin-inline-end: 0;
  font-size: 1em;
  opacity: 0.7;
}
