// makes a link look like regular text
.nolink {
    color: $color-text-base;
    color: var(--color-text-base);

    &:hover {
        color: $color-teal;
        color: var(--color-primary);
    }
}

a.underlined {
    border-bottom: 1px solid currentColor;
}
