// makes a link look like regular text
.nolink {
  color: $color-text-base;

  &:hover {
    color: $color-teal;
  }

  @media (forced-colors: $media-forced-colours) {
    color: GrayText;
  }
}

a.underlined {
  border-bottom: 1px solid currentColor;
}
