.media-placeholder {
  width: 600px;
  height: 400px;
  background-color: #ccc;
  padding: 5px;

  h3,
  p {
    margin: 0;
  }

  img {
    max-width: 350px;
    max-height: 350px;
    margin: 20px;
  }
}
