.capabilitymessage {
  display: block;
  background-color: theme('colors.critical.200');
  color: $color-white;
  padding: 1em 2em;
  margin: 0;
  position: relative;
  text-align: center;

  a {
    color: $color-white;
    text-decoration: underline;
  }
}
