.capabilitymessage {
    display: block;
    background-color: var(--color-red);
    color: var(--color-white);
    padding: 1em 2em;
    margin: 0;
    position: relative;
    text-align: center;

    a {
        color: var(--color-white);
        text-decoration: underline;
    }
}
