.preview-panel {
  height: 100%;
  display: flex;
  flex-direction: column;

  --preview-width-ratio: min(
    1,
    calc(var(--preview-area-width, 450) / var(--preview-device-width, 375))
  );
  --preview-iframe-width: calc(1px * var(--preview-device-width, 375));

  &__area {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  }

  &__error-banner {
    @apply w-bg-warning-50 w-rounded-md;
    position: absolute;
    display: none;
    top: 0;
    z-index: 1;
    padding: 1rem;
  }

  &--has-errors &__error-banner {
    display: block;
  }

  &__error-title {
    @apply w-label-2;
  }

  &__error-details {
    margin: 0;
  }

  &__wrapper {
    width: calc(var(--preview-iframe-width) * var(--preview-width-ratio));
    height: 100%;
    margin-inline-start: auto;
    margin-inline-end: auto;
  }

  &__iframe {
    transform-origin: 0 0;
    width: var(--preview-iframe-width);
    height: calc(100% / var(--preview-width-ratio));
    transform: scale(var(--preview-width-ratio));
    display: block;
  }

  &__sizes {
    @apply w-border-grey-100 w-border-b;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }

  &__size-button {
    @apply w-text-grey-400 w-transition hover:w-transform hover:w-scale-110 hover:w-text-primary focus:w-text-primary;

    width: 2rem;
    height: 2rem;
    background: transparent;
    box-sizing: border-box;
    padding: 0;
    border-radius: 5px;
    display: grid;
    place-items: center;
    cursor: pointer;

    &:focus-within {
      @include focus-outline;
    }

    .icon {
      @include svg-icon(1rem);

      &.icon-tablet-alt,
      &.icon-desktop {
        @include svg-icon(1.25rem);
      }

      &.icon-link-external {
        @include svg-icon(0.9rem);
      }
    }

    input[type='radio'] {
      position: absolute;
      width: 0;
      height: 0;
      opacity: 0;
    }
  }

  &--mobile &__size-button--mobile,
  &--tablet &__size-button--tablet,
  &--desktop &__size-button--desktop {
    @apply w-bg-primary w-text-white w-transform-none w-border w-border-transparent;
  }

  &__modes {
    @apply w-border-grey-100 w-border-t;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-top: 1rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  &__mode-label {
    padding: 0;
    width: auto;
  }

  &__mode-select {
    @apply w-bg-white;
    font-size: 1em;
    padding: 0.6rem 0.75rem;
    padding-inline-end: 2.5rem;
    width: auto;
  }

  &__modes.choice_field &__mode-select ~ span:after {
    @apply w-text-grey-400;
    border: 0;
    font-size: 1.5em;
    line-height: 1.65em;
    top: auto;
    width: 2.5rem;
  }
}
