.skiplink {
  display: block;
  position: fixed;
  top: -1000rem;
  inset-inline-start: 1rem;
  z-index: 3000;

  &:focus {
    top: 1rem;
  }

  &.button {
    background: $color-green-darker;
    border: $color-green-darker;
  }
}
