.tab-content {
  .page-locked & {
    cursor: not-allowed;
    user-select: none;

    > * {
      pointer-events: none;
    }
  }
}

.w-tabs {
  &__wrapper {
    @apply w-mb-10;
  }

  &__list {
    @apply w-flex w-space-x-6 w-border-b w-border-grey-100 w-w-fit w-px-[20px] sm:w-px-[40px] md:w-px-[80px];
  }

  &__tab {
    @apply w-label-3
    w-outline-offset-inside
    w-inline-flex
    w-text-grey-400
    hover:w-text-primary
    w-whitespace-nowrap
    w-py-4
    w-font-medium
    w-relative
    after:w-block
    after:w-w-0
    after:w-h-[2px]
    after:w-bg-primary
    after:w-absolute
    after:w-left-0
    after:-w-bottom-px
    after:w-transition-all
    motion-reduce:after:w-transition-none
    hover:after:w-w-full;

    &[aria-selected='true'] {
      @apply after:w-w-full w-text-primary;
    }
  }

  &__errors {
    @apply w-hidden
    w-box-border
    w-w-[16px]
    w-h-[16px]
    w-text-[10px]
    w-flex
    w-justify-center
    w-items-center
    w-font-bold
    w-bg-critical-200
    w-text-white
    w-border
    w-border-white
    w-rounded-full
    w-absolute
    w-top-[7px]
    -w-right-[15px];

    &--active {
      @apply w-flex;
    }
  }

  // Optional animate attr for tabs to animate in
  &[data-tabs-animate] &__panel {
    @apply motion-reduce:w-transition-none w-transition w-duration-150 w-translate-y-2 w-opacity-0;

    &.animate-in {
      @apply w-translate-y-0 w-opacity-100;
    }
  }
}
