.workflow-tasks {
  $task-width: 7.313rem;
  $task-height: 3.5rem;

  list-style-type: none;

  &__task {
    display: inline-block;
    background-color: theme('colors.secondary.50');
    border: 0.125rem solid theme('colors.secondary.100');
    border-radius: 0.313rem;
    color: $color-teal;
    box-sizing: border-box;
    min-width: $task-width;
    height: $task-height;
    margin: 0.438rem;
    padding-inline-start: 0.563rem;
    padding-inline-end: 0.563rem;
  }

  &__step {
    font-size: 0.625rem;
    margin-top: 0.188rem;
  }

  &__name {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__extra-tasks {
    display: inline-block;
    height: $task-height;
    vertical-align: middle;
  }
}
