{% load wagtailadmin_tags i18n %}
<footer class="footer bulk-actions-choices hidden">
    <div class="footer__container">
        <div class="bulk-actions-filter-checkbox">
            <input type="checkbox" aria-label='{% trans "Bulk action checkbox" %}' />
        </div>
        <ul>{% bulk_action_choices bulk_action_register_hook %}</ul>
        <span class="num-objects"></span>
        {% if select_all_obj_text %}
        <a class="num-objects-in-listing u-hidden" href='#'>{{ select_all_obj_text }}</a>
        {% endif %}
    </div>
</footer>
