# Minimal requirements
Django>=1.7.1,<1.8
wagtail==1.0b1

# Recommended components (require additional setup):
# psycopg2==2.5.2
# elasticsearch==1.1.1

# Recommended components to improve performance in production:
# django-redis==3.8.2
