@import 'wagtailadmin/scss/variables';
@import 'wagtailadmin/scss/mixins';
@import 'wagtailadmin/scss/grid';

body {
    font-family: $font-sans;
    color: $color-white;

    .page404__bg {
        position: fixed;

        .page404__wagtail-logo {
            position: fixed;
            right: 50%;
            transform: translateX(-130px);
            top: 16%;
            width: 425px;
            height: auto;
            z-index: 10;
            transition: all 0.25s cubic-bezier(0.28, 0.15, 0, 2.1);
            -webkit-filter: drop-shadow(4px 4px 4px #1d4d4d);
            filter: drop-shadow(4px 4px 4px #1d4d4d);
            opacity: 1;

            &:hover {
                transform: translateX(-130px) rotate(4deg);
            }
        }

        .page404__text-container {
            position: fixed;
            left: 50%;
            top: 25%;
            height: 50%;
            text-align: center;
            z-index: 50;
            width: 600px;
            transform: translateX(-130px);

            .page404__text--header {
                position: relative;
                top: -80px;
                color: $color-white; // override default h1 color
                font-size: 100px;
                padding-bottom: 0;
                text-shadow: 4px 4px 4px #1d4d4d;
            }

            .page404__text--info {
                position: relative;
                font-size: 30px;
                top: -130px;
                line-height: 125%;
                text-shadow: 2px 2px 2px #1d4d4d;
            }

            .page404__link--goback {
                position: relative;
                font-size: 25px;
                top: -125px;
                background-color: #2d7878; // slightly lighter than shadow
                text-decoration: none;
                color: #fff;
                padding-left: 12px;
                padding-right: 12px;
                padding-top: 3px;
                padding-bottom: 3px;
                border-radius: 20px;
                cursor: pointer;
                filter: drop-shadow(3px 3px 3px #1d4d4d);
            }
        }
    }

    // Subtle vignette:
    .page404__bg::after {
        -moz-box-shadow: inset 0 0 10em #333;
        -webkit-box-shadow: inset 0 0 10em #333;
        box-shadow: inset 0 0 10em #333;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color-teal-darker;
        content: '';
    }
}

// MOBILE CHANGES:
@media screen and (max-width: $breakpoint-mobile) {
    body {
        .page404__bg {
            .page404__wagtail-logo {
                opacity: 0;
            }

            .page404__text-container {
                width: 300px;
                transform: translateX(-150px);

                .page404__text--header {
                    font-size: 50px;
                    padding-bottom: 30px;
                    text-shadow: none;
                }

                .page404__text--info {
                    text-shadow: none;
                }

                .page404__link--goback {
                    -webkit-filter: none;
                    filter: none;
                }
            }
        }
    }
}
