{% load i18n %}

<td>
    {% if form.instance.page %}
        {% include "wagtailadmin/edit_handlers/page_chooser_panel.html" with field=form.page page=form.instance.page is_chosen=True only %}
    {% else %}
        {% include "wagtailadmin/edit_handlers/page_chooser_panel.html" with field=form.page is_chosen=False only %}
    {% endif %}
</td>
<td>
    {% include "wagtailadmin/edit_handlers/field_panel_field.html" with field=form.permission_type only %}

    {{ form.id }}
    {{ form.ORDER }}
    {{ form.DELETE }}
</td>

<td>
    <button class="button-secondary button-small no" id="{{ form.DELETE.id_for_label }}-button">{% trans "Delete" %}</button>
</td>

