.w-combobox-preview {
  padding: theme('spacing.5');
  display: flex;
  flex-direction: column;
  gap: theme('spacing.5');
}

.w-combobox-preview__iframe {
  width: 100%;
  height: 100%;
  border: 1px solid transparent;
  border-radius: theme('borderRadius.sm');

  @include more-contrast() {
    border-color: theme('colors.border-furniture-more-contrast');
  }
}

.w-combobox-preview__label {
  @apply w-label-1;
}

.w-combobox-preview__description {
  @apply w-help-text;
  margin-bottom: 0;
}
