{% load i18n %}
<table class="listing">
    <col width="25%"/>
    <col width="25%"/>
    <col width="50%"/>
    <thead>
        <tr>
            <th class="title">{% trans "Title" %}</th>
            <th class="title">{% trans "Location" %}</th>
            <th class="type">{% trans "Actions" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for fp in form_pages %}
            <tr>
                <td class="title">
                    <div class="title-wrapper"> {{ fp|capfirst }}</div>
                </td>
                <td class="location">
                    <div class="location-wrapper"><small>({{ fp.url_path }})</small></div>
                </td>
                <td class="action_buttons">
                    <a href="{% url 'wagtailforms:list_submissions' fp.id %}" class="button">View <small>Submissions</small></a>
                    <a href="{% url 'wagtailadmin_pages:edit' fp.id %}" class="button nolink">
                        {% if user.is_superuser %}
                            Edit  <small>(Page {{ fp.id }})</small>
                        {% else %}
                            Edit <small>(Page {{ fp|capfirst }})</small>
                        {% endif %}
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
