{% load wagtailadmin_tags i18n %}
{% with id=title|cautious_slugify %}
    <template data-dialog>
        <div
            id="{{ id }}"
            aria-labelledby="title-{{ id }}"
            aria-hidden="true"
            class="{{ class_name }} dialog"
        >
            <div data-a11y-dialog-hide class="dialog__overlay"></div>
            <div class="dialog__box">
                <button type="button" data-a11y-dialog-hide aria-label="{% trans 'Close dialog' %}" class="dialog__close-button">
                    {% icon name='cross' class_name="dialog__close-icon" %}
                </button>

                {# Message #}
                {% if message_heading and message_icon_name %}
                    <div class="dialog__message dialog__message--{{ message_status }}">
                        {% icon name=message_icon_name class_name="dialog__message-icon "|add:message_icon_color %}
                        <div class="w-text-grey-600 w-pr-8">
                            <strong class="w-text-14 w-text-grey-600">{{ message_heading }}</strong>
                            {% if message_description %}<p class="w-text-14 w-mb-0 w-text-grey-600 ">{{ message_description }}</p>{% endif %}
                        </div>
                    </div>
                {% endif %}

                <div class="w-p-8 sm:w-p-12 md:w-px-20 w-max-h-dialog w-overflow-auto w-scrollbar-thin">
                    {# Title #}
                    <h2 class="w-h1 w-relative sm:w-ml-12 md:w-ml-0 w-mt-0 w-mb-1" id="title-{{ id }}">
                        {% if icon_name %}{% icon name=icon_name class_name="w-hidden sm:w-block w-w-5 w-h-5 w-text-primary w-absolute w-top-1/2 -w-translate-y-1/2 -w-left-10" %}{% endif %}
                        {{ title }}
                    </h2>

                    {# Subtitle #}
                    {% if subtitle %}
                        <p class="w-help-text w-mb-4">{{ subtitle }}</p>
                    {% endif %}

                    {# Content #}
                    <div>

{% endwith %}

{% comment %}
    This markup is intentionally left without closing div tags so that the contents can be populated with child elements between dialog and enddialog
    For the end tags please see end-dialog.html
{% endcomment %}
