{% load wagtailadmin_tags %}
<div class="dialog-{{ status }} {{ background_color }} w-flex w-items-center w-p-5 w-space-x-2.5">
    {% with icon_classes="w-w-5 w-h-5 w-flex-shrink-0 " %}
        {% if icon_color %}
            {% icon name=icon_name class_name=icon_classes|add:icon_color %}
        {% else %}
            {% icon name=icon_name class_name=icon_classes %}
        {% endif %}
    {% endwith %}
    <div class="w-text-grey-600 w-pr-8">
        <span class="w-text-14 w-font-bold w-text-grey-600">{{ heading }}</span>
        {% if description %}<p class="w-text-14 w-mb-0 w-text-grey-600 ">{{ description }}</p>{% endif %}
    </div>
</div>
