{% extends "wagtailadmin/skeleton.html" %}
{% load i18n staticfiles wagtailadmin_tags %}

{% block css %}
    <link rel="stylesheet" href="{% static 'wagtailadmin/css/vendor/jquery-ui/jquery-ui-1.10.3.verdant.css' %}" />
    <link rel="stylesheet" href="{% static 'wagtailadmin/css/vendor/jquery.tagit.css' %}">
    <link rel="stylesheet" href="{% static 'wagtailadmin/css/core.css' %}" type="text/css" />
    {% hook_output 'insert_global_admin_css' %}

    {% block extra_css %}{% endblock %}
{% endblock %}

{% block branding_favicon %}
    <link rel="shortcut icon" href="{% static 'wagtailadmin/images/favicon.ico' %}" />
{% endblock %}

{% block js %}
    <script>
        (function(document, window) {
            window.wagtailConfig = window.wagtailConfig || {};
            wagtailConfig.ADMIN_API = {
                PAGES: '{% url "wagtailadmin_api_v1:pages:listing" %}',
                DOCUMENTS: '{% url "wagtailadmin_api_v1:documents:listing" %}',
                IMAGES: '{% url "wagtailadmin_api_v1:images:listing" %}',
                {# // Use this to add an extra query string on all API requests. #}
                {# // Example value: '&order=-id' #}
                EXTRA_CHILDREN_PARAMETERS: '',
            };

            wagtailConfig.STRINGS = {
                EDIT: "{% trans 'Edit' %}",
                DELETE: "{% trans 'Delete' %}",
                PAGE: "{% trans 'Page' %}",
                PAGES: "{% trans 'Pages' %}",
                LOADING: "{% trans 'Loading…' %}",
                NO_RESULTS: "{% trans 'No results' %}",
                SERVER_ERROR: "{% trans 'Server Error' %}",
                SEE_CHILDREN: "{% trans 'See children' %}",
                SEE_ALL: "{% trans 'See all' %}",
                CLOSE_EXPLORER: "{% trans 'Close explorer' %}",
                ALT_TEXT: "{% trans 'Alt text' %}",
                WRITE_HERE: "{% trans 'Write here…' %}",
                HORIZONTAL_LINE: "{% trans 'Horizontal line' %}",
                LINE_BREAK: "{% trans 'Line break' %}",
                UNDO: "{% trans 'Undo' %}",
                REDO: "{% trans 'Redo' %}",
                RELOAD_PAGE: "{% trans 'Reload the page' %}",
                RELOAD_EDITOR: "{% trans 'Reload saved content' %}",
                SHOW_LATEST_CONTENT: "{% trans 'Show latest content' %}",
                SHOW_ERROR: "{% trans 'Show error' %}",
                EDITOR_CRASH: "{% trans 'The editor just crashed. Content has been reset to the last saved version.' %}",
            };

            wagtailConfig.ADMIN_URLS = {
                PAGES: '{% url "wagtailadmin_explore_root" %}'
            };
        })(document, window);
    </script>
    <script src="{% static 'wagtailadmin/js/vendor/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'wagtailadmin/js/vendor/jquery-ui-1.12.1.min.js' %}"></script>
    <script src="{% static 'wagtailadmin/js/vendor/jquery.datetimepicker.js' %}"></script>
    <script src="{% static 'wagtailadmin/js/vendor/jquery.autosize.js' %}"></script>
    <script src="{% static 'wagtailadmin/js/vendor/bootstrap-transition.js' %}"></script>
    <script src="{% static 'wagtailadmin/js/vendor/bootstrap-modal.js' %}"></script>
    <script src="{% static 'wagtailadmin/js/vendor/bootstrap-tab.js' %}"></script>
    <script src="{% static 'wagtailadmin/js/vendor/tag-it.js' %}"></script>
    <script src="{% static 'wagtailadmin/js/core.js' %}"></script>
    <script src="{% static 'wagtailadmin/js/vendor.js' %}"></script>
    <script src="{% static 'wagtailadmin/js/wagtailadmin.js' %}"></script>
    {% hook_output 'insert_global_admin_js' %}



    {% main_nav_js %}

    {% block extra_js %}{% endblock %}
{% endblock %}
