{% extends "wagtailadmin/generic/base.html" %}
{% load wagtailadmin_tags i18n %}
{% block bodyclass %}homepage{% endblock %}

{% block extra_css %}
    {{ block.super }}
    {{ media.css }}
{% endblock %}

{% block content %}
    {% fragment as header_title %}
        {% block branding_welcome %}{% blocktrans trimmed %}{{ site_name }} Wagtail CMS{% endblocktrans %}{% endblock %}
    {% endfragment %}

    {% avatar_url user as avatar %}
    <header class="nice-padding w-pt-20 sm:w-pt-16 w-flex w-flex-row w-items-start w-gap-5">
        {% if avatar %}<div class="w-header__glyph avatar sm:w-w-20 sm:w-h-20 w-flex-shrink-0"><img src="{{ avatar }}" alt=""/></div>{% endif %}
        <div>
            <h1 id="header-title" class="w-h1 md:w-text-[3.125rem] w-my-0 w-font-extrabold w-leading-none">
                {{ header_title }}
            </h1>
            <span class="w-body-text-large w-text-primary">{{ user|user_display_name }}</span>
        </div>
    </header>

    <div class="homepage-panels">
        {% if panels %}
            {% for panel in panels %}
                {% component panel fallback_render_method=True %}
            {% endfor %}
        {% else %}
            <p>{% trans "This is your dashboard on which helpful information about content you've created will be displayed." %}</p>
        {% endif %}
    </div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    {{ media.js }}
{% endblock %}
