{% extends "wagtailadmin/admin_base.html" %}
{% load i18n wagtailadmin_tags %}
{% block titletag %}{% trans "Sign in" %}{% endblock %}
{% block bodyclass %}login{% endblock %}

{% block furniture %}
    <main class="content-wrapper">
        {% if messages or form.errors %}
            <div class="messages">
                <ul>
                    {% if form.errors %}
                        <li class="error">{% blocktrans trimmed %}Your {{ username_field }} and password didn't match. Please try again.{% endblocktrans %}</li>
                    {% endif %}
                    {% for message in messages %}
                        <li class="{{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% block above_login %}{% endblock %}

        <form action="{% url 'wagtailadmin_login' %}" method="post" autocomplete="off" novalidate>
            {% block login_form %}
                {% csrf_token %}

                {% url 'wagtailadmin_home' as home_url %}
                <input type="hidden" name="next" value="{{ next|default:home_url }}" />

                <h1>{% block branding_login %}{% trans "Sign in to Wagtail" %}{% endblock %}</h1>

                {% block fields %}
                    <div class="login-fields">
                        {% field field=form.username icon="user" sr_only_label=True %}{% endfield %}
                        {% field field=form.password icon="password" sr_only_label=True %}{% endfield %}

                        {% block extra_fields %}
                            {% for field_name, field in form.extra_fields %}
                                {% field field=field %}{% endfield %}
                            {% endfor %}
                        {% endblock extra_fields %}
                    </div>

                    {% trans "Remember me" as checkbox_text %}
                    {% include "wagtailadmin/shared/forms/single_checkbox.html" with name="remember" label_classname="w-label=3 w-mb-4" text=checkbox_text %}
                {% endblock %}

                <div class="w-mt-4 w-mb-4">
                    {% block submit_buttons %}
                        <button type="submit" class="button button-longrunning" data-clicked-text="{% trans 'Signing in…' %}">{% icon name="spinner" %}<em>{% trans 'Sign in' %}</em></button>
                    {% endblock %}
                </div>

                {% if show_password_reset %}
                    <a class="reset-password" href="{% url 'wagtailadmin_password_reset' %}" aria-label="{% trans 'Reset your password' %}">{% trans "Forgotten password?" %}</a>
                {% endif %}
            {% endblock %}
        </form>

        {% block below_login %}{% endblock %}

    </main>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script>
        $(function(){
            $('form input[name=username]').trigger('focus');
        })
    </script>
{% endblock %}
