<div class="wagtail-moderator-controls">
    <div class="message">
        <p>Previewing '{{ revision.page.title }}', submitted by {{ revision.user.get_full_name|default:revision.user.username }} on {{ revision.created_at|date:"d M Y H:i" }}.</p>
    </div>
    <div class="actions">
        <a href="{% url 'wagtailadmin_pages_edit' revision.page.id %}" class="button">Edit</a>
        <form action="{% url 'wagtailadmin_pages_approve_moderation' revision.id %}" method="POST">
            {% csrf_token %}
            <input type="submit" class="button yes" value="Approve" />
        </form>

        <form action="{% url 'wagtailadmin_pages_reject_moderation' revision.id %}" method="POST">
            {% csrf_token %}
            <input type="submit" class="button no" value="Reject" />
        </form>
    </div>
</div>
