{% extends "wagtailadmin/base.html" %}
{% load i18n %}
{% block titletag %}{% blocktrans with title=page.title %}Copy {{ title }}{% endblocktrans %}{% endblock %}
{% block bodyclass %}menu-explorer{% endblock %}
{% block content %}
    {% trans "Copy" as copy_str %}
    {% include "wagtailadmin/shared/header.html" with title=copy_str subtitle=page.title icon="doc-empty-inverse" %}

    <div class="nice-padding">
        <form action="{% url 'wagtailadmin_pages_copy' page.id %}" method="POST">
            {% csrf_token %}

            <ul class="fields">
                {% include "wagtailadmin/shared/field_as_li.html" with field=form.new_title %}
                {% include "wagtailadmin/shared/field_as_li.html" with field=form.new_slug %}

                {% if pages_to_copy.count > 1 %}
                    {% include "wagtailadmin/shared/field_as_li.html" with field=form.copy_subpages %}
                    <li class="help">
                        {% blocktrans with copy_page_count=pages_to_copy.count|add:'-1' %}This will copy {{ copy_page_count }} subpages.{% endblocktrans %}
                    </li>
                {% endif %}

                {% if can_publish %}
                    {% include "wagtailadmin/shared/field_as_li.html" with field=form.publish_copies %}
                    <li class="help">
                        {% blocktrans with live_page_count=pages_to_copy.live.count %}{{ live_page_count }} of the pages being copied are live. Would you like to publish their copies?{% endblocktrans %}
                    </li>
                {% endif %}
            </ul>

            <input type="submit" value="{% trans 'Yes, copy this page' %}">
        </form>
    </div>
{% endblock %}
