{% load i18n %}
{% load page_permissions %}
<table class="listing{% if full_width %} full-width{% endif %}{% if moving or choosing %} chooser{% endif %}">
    {% if orderable %}
        <col width="50px" />
    {% endif %}
    <col />
    {% if show_parent %}
        <col />
    {% endif %}
    <col width="12%" />
    <col width="12%" />
    <col width="10%" />
    <thead>
        {% if moving or choosing %}
            <tr class="table-headers">
                {% if orderable %}
                    <th></th>
                {% endif %}
                <th class="title">Title</th>
                {% if show_parent %}
                    <th class="parent">{% trans 'Parent' %}</th>
                {% endif %}
                <th class="type">{% trans 'Type' %}</th>
                <th class="status">{% trans 'Status' %}</th>
                <th class="children"></th>
            </tr>
        {% endif %}
        {% if parent_page %}
            {% page_permissions parent_page as parent_page_perms %}
            <tr class="index {% if not parent_page.live %} inactive{% endif %} {% if moving or choosing %}{% if parent_page.can_choose %}can-choose{% endif %}{% endif %}">
                <td class="title" {% if orderable %}colspan="2"{% endif %}>
                    {% if moving %}
                        {% if parent_page.can_choose %}
                            <h2><a href="{% url 'wagtailadmin_pages_move_confirm' page_to_move.id parent_page.id %}">{{ parent_page.title }}</a></h2>
                        {% else %}
                            <h2>{{ parent_page.title }}</h2>
                        {% endif %}
                    {% elif choosing %}
                        {% if parent_page.can_choose %}
                            <h2><a class="choose-page" href="#{{ parent_page.id }}" data-id="{{ parent_page.id }}" data-title="{{ parent_page.title }}" data-url="{{ parent_page.url }}">{{ parent_page.title }}</a></h2>
                        {% else %}
                            <h2>{{ parent_page.title }}</h2>
                        {% endif %}
                    {% else %}
                        {% if parent_page_perms.can_edit and 'edit' not in hide_actions|default:'' %}
                            <h2><a href="{% url 'wagtailadmin_pages_edit' parent_page.id %}">{{ parent_page.title }}</a></h2>
                        {% else %}
                            <h2>{{ parent_page.title }}</h2>
                        {% endif %}
                        <ul class="actions">
                            {% if parent_page_perms.can_add_subpage and 'add_subpage' not in hide_actions|default:'' %}
                                <li><a href="{% url 'wagtailadmin_pages_add_subpage' parent_page.id %}" class="button button-small bicolor icon white icon-plus">{% trans 'Add child page' %}</a></li>
                            {% endif %}
                            {% if parent_page_perms.can_edit and 'edit' not in hide_actions|default:'' %}
                                <li><a href="{% url 'wagtailadmin_pages_edit' parent_page.id %}">{% trans 'Edit' %}</a></li>
                            {% endif %}
                            {% if parent_page.has_unpublished_changes and 'view_draft' not in hide_actions|default:'' %}
                                <li><a href="{% url 'wagtailadmin_pages_view_draft' parent_page.id %}" target="_blank">{% trans 'View draft' %}</a></li>
                            {% endif %}
                            {% if parent_page.live and not parent_page.is_root and 'view_live' not in hide_actions|default:'' %}
                                <li><a href="{{ parent_page.url }}" target="_blank">{% trans 'View live' %}</a></li>
                            {% endif %}
                            {% if parent_page_perms.can_move and 'move' not in hide_actions|default:'' %}
                                <li><a href="{% url 'wagtailadmin_pages_move' parent_page.id %}">{% trans 'Move' %}</a></li>
                            {% endif %}
                            {% if parent_page_perms.can_delete and 'delete' not in hide_actions|default:'' %}
                                <li><a href="{% url 'wagtailadmin_pages_delete' parent_page.id %}">{% trans 'Delete' %}</a></li>
                            {% endif %}
                            {% if parent_page_perms.can_unpublish and 'unpublish' not in hide_actions|default:'' %}
                                <li><a href="{% url 'wagtailadmin_pages_unpublish' parent_page.id %}">{% trans 'Unpublish' %}</a></li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </td>
                <td class="type">{{ parent_page.content_type.model_class.get_verbose_name }}</td>
                <td class="status">
                    {% if not choosing and not moving and parent_page.live and not parent_page.is_root and 'view_live' not in hide_actions|default:'' %}
                        <a href="{{ parent_page.url }}" target="_blank" class="status-tag {% if parent_page.status_string != "draft" %}primary{% endif %}">{{ parent_page.status_string|capfirst }}</a>
                    {% else %}
                        <span class="status-tag {% if parent_page.status_string != "draft" %}primary{% endif %}">{{ parent_page.status_string|capfirst }}</span>
                    {% endif %}
                    
                </td>
                <td></td>
            </tr>
            <tr class="divider"><td colspan="100%">Child pages</td></tr>
        {% endif %}
    
        {% if not moving and not choosing %}
            <tr class="table-headers">
                {% if orderable %}
                    <th class="ord">
                        {% if ordering == "ord" %}
                            <a href="{% url 'wagtailadmin_explore' parent_page.id %}" class="icon icon-order text-replace" title="{% trans 'Disable ordering of child pages' %}">{% trans 'Order' %}</a></th> 
                        {% else %}
                            <a href="{% url 'wagtailadmin_explore' parent_page.id %}?ordering=ord" class="icon icon-order text-replace" title="{% trans 'Enable ordering of child pages' %}">{% trans 'Order' %}</a></th>
                        {% endif %}
                    </th>
                {% endif %}
                <th class="title">
                    {% trans 'Title' %}
                    {% if sortable %}
                        {% if ordering == "title" %}
                            <a href="{% url 'wagtailadmin_explore' parent_page.id %}?ordering=-title" class="icon icon-arrow-down-after teal"></a>
                        {% elif ordering == "-title" %}
                            <a href="{% url 'wagtailadmin_explore' parent_page.id %}?ordering=title" class="icon icon-arrow-up-after teal"></a>
                        {% else %}
                            <a href="{% url 'wagtailadmin_explore' parent_page.id %}?ordering=title" class="icon icon-arrow-down-after"></a>
                        {% endif %}
                    {% endif %}
                </th>
                {% if show_parent %}
                    <th class="parent">Parent</th>
                {% endif %}
                <th class="type">
                    {% trans 'Type' %}
                    {% if sortable %}
                        {% if ordering == "content_type" %}
                            <a href="{% url 'wagtailadmin_explore' parent_page.id %}?ordering=-content_type" class="icon icon-arrow-down-after teal"></a>
                        {% elif ordering == "-content_type" %}
                            <a href="{% url 'wagtailadmin_explore' parent_page.id %}?ordering=content_type" class="icon icon-arrow-up-after teal"></a>
                        {% else %}
                            <a href="{% url 'wagtailadmin_explore' parent_page.id %}?ordering=content_type" class="icon icon-arrow-down-after"></a>
                        {% endif %}
                    {% endif %}
                </th>
                <th class="status">
                    {% trans 'Status' %}
                    {% if sortable %}
                        {% if ordering == "live" %}
                            <a href="{% url 'wagtailadmin_explore' parent_page.id %}?ordering=-live" class="icon icon-arrow-down-after teal"></a>
                        {% elif ordering == "-live" %}
                            <a href="{% url 'wagtailadmin_explore' parent_page.id %}?ordering=live" class="icon icon-arrow-up-after teal"></a>
                        {% else %}
                            <a href="{% url 'wagtailadmin_explore' parent_page.id %}?ordering=live" class="icon icon-arrow-down-after"></a>
                        {% endif %}
                    {% endif %}
                </th>
                <th class="children"></th>
            </tr>
        {% endif %}
    </thead>
    <tbody>
        {% if pages %}
            {% for page in pages %}
                {% page_permissions page as page_perms %}
                <tr {% if ordering == "ord" %}id="page_{{ page.id }}" data-page-title="{{ page.title }}"{% endif %} class="{% if not page.live %} inactive{% endif %}{% if moving and page.can_choose %} can-choose{% elif choosing and page.can_choose %} can-choose{% else %} cant-choose{% endif %}">
                    {% if orderable %}
                        <td class="ord">{% if ordering == "ord" %}<div class="handle icon icon-grip text-replace">{% trans 'Drag' %}</div>{% endif %}</td>
                    {% endif %}
                    <td class="title">
                        <h2>
                            {% if moving %}
                                {% if page.can_choose %}
                                    <a href="{% url 'wagtailadmin_pages_move_confirm' page_to_move.id page.id %}">{{ page.title }}</a>
                                {% else %}
                                    {{ page.title }}
                                {% endif %}
                            {% elif choosing %}
                                {% if page.can_choose %}
                                    <a class="choose-page" href="#{{ page.id }}" data-id="{{ page.id }}" data-title="{{ page.title }}" data-url="{{ page.url }}">{{ page.title }}</a>
                                {% else %}
                                    {{ page.title }}
                                {% endif %}
                            {% else %}
                                {% if page_perms.can_edit and 'edit' not in hide_actions|default:'' %}
                                    <a href="{% url 'wagtailadmin_pages_edit' page.id %}" title="{% trans 'Edit this page' %}">{{ page.title }}</a>
                                {% else %}
                                    {{ page.title }}
                                {% endif %}
                            {% endif %}
                        </h2>
                        {% if not moving and not choosing %}
                            <ul class="actions">
                                {% if page_perms.can_edit and 'edit' not in hide_actions|default:'' %}
                                    <li><a href="{% url 'wagtailadmin_pages_edit' page.id %}" title="{% trans 'Edit this page' %}">{% trans 'Edit' %}</a></li>
                                {% endif %}
                                {% if page.has_unpublished_changes and 'view_draft' not in hide_actions|default:'' %}
                                    <li><a href="{% url 'wagtailadmin_pages_view_draft' page.id %}" target="_blank">{% trans 'View draft' %}</a></li>
                                {% endif %}
                                {% if page.live and 'view_live' not in hide_actions|default:'' %}
                                    <li><a href="{{ page.url }}" target="_blank">{% trans 'View live' %}</a></li>
                                {% endif %}
                                {% if page_perms.can_move and 'move' not in hide_actions|default:'' %}
                                    <li><a href="{% url 'wagtailadmin_pages_move' page.id %}">{% trans 'Move' %}</a></li>
                                {% endif %}
                                {% if page_perms.can_delete and 'delete' not in hide_actions|default:'' %}
                                    <li><a href="{% url 'wagtailadmin_pages_delete' page.id %}">{% trans 'Delete' %}</a></li>
                                {% endif %}
                                {% if page_perms.can_unpublish and 'unpublish' not in hide_actions|default:'' %}
                                    <li><a href="{% url 'wagtailadmin_pages_unpublish' page.id %}">{% trans 'Unpublish' %}</a></li>
                                {% endif %}
                                {% if page_perms.can_add_subpage and 'add_subpage' not in hide_actions|default:'' %}
                                    <li><a href="{% url 'wagtailadmin_pages_add_subpage' page.id %}">{% trans 'Add child page' %}</a></li>
                                {% endif %}
                            </ul>
                        {% endif %}
                    </td>
                    {% if show_parent %}
                        {% with page.get_parent as parent %}
                            <td class="parent">
                                {% if parent %}
                                    <a href="{% url 'wagtailadmin_explore' parent.id %}">{{ parent.title }}</a>
                                {% endif %}
                            </td>
                        {% endwith %}
                    {% endif %}
                    <td class="type">{{ page.content_type.model_class.get_verbose_name }}</td>
                    <td class="status">
                        {% if not choosing and not moving and page.live and 'view_live' not in hide_actions|default:'' %}
                             <a href="{{ page.url }}" target="_blank" class="status-tag {% if page.status_string != "draft" %}primary{% endif %}">{{ page.status_string }}</a>
                        {% else %}
                             <span class="status-tag {% if page.status_string != "draft" %}primary{% endif %}">{{ page.status_string }}</span>
                        {% endif %}
                    </td>
                    <td class="{% if allow_navigation %}{% if choosing %}{% if page.can_descend %} children{% endif%}{% elif moving %}{% if page.can_descend %} children{% endif%}{% elif allow_navigation and page.is_navigable %} children{% else %}no-children{% endif %}{% endif %}">
                        {% if allow_navigation %}
                            {% if moving %}
                                {% if page.can_descend %}
                                    <a href="{% url 'wagtailadmin_pages_move_choose_destination' page_to_move.id page.id %}" class="icon text-replace icon-arrow-right navigate-pages" title="{% blocktrans with title=page.title %}Explorer subpages of '{{ title }}'{% endblocktrans %}">{% trans 'Explore' %}</a>
                                {% endif %}
                            {% elif choosing %}
                                {% if page.can_descend %}
                                    <a href="{% url 'wagtailadmin_choose_page_child' page.id %}?{{ querystring }}" class="icon text-replace icon-arrow-right navigate-pages" title="{% blocktrans with title=page.title %}Explorer subpages of '{{ title }}'{% endblocktrans %}">{% trans 'Explore' %}</a>
                                {% endif %}
                            {% else %}
                                {% if page.is_navigable %}
                                    <a href="{% url 'wagtailadmin_explore' page.id %}" class="icon text-replace icon-arrow-right" title="{% blocktrans with title=page.title %}Explorer child pages of '{{ title }}'{% endblocktrans %}">{% trans "Explore" %}</a>
                                {% elif page_perms.can_add_subpage %}
                                    <a href="{% url 'wagtailadmin_pages_add_subpage' page.id %}" class="icon text-replace icon-plus-inverse" title="{% blocktrans with title=page.title %}Add a child page to '{{ title }}'{% endblocktrans %}">{% trans 'Add subpage' %}</a>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                     </td>
                </tr>
            {% endfor %}
        {% else %}
            {% url 'wagtailadmin_pages_add_subpage' parent_page.id as add_page_url%}
            <tr><td colspan="3" class="no-results-message"><p>{% trans "No pages have been created." %}{% if parent_page and parent_page_perms.can_add_subpage %} {% blocktrans %}Why not <a href="{{ add_page_url }}">add one</a>?{% endblocktrans %}{% endif %}</td></tr>
        {% endif %}
    </tbody>
</table>