{% extends "wagtailadmin/base.html" %}
{% load i18n %}
{% block titletag %}{% trans "Create a new page" %}{% endblock %}
{% block bodyclass %}menu-explorer{% endblock %}
{% block content %}
    {% trans "Create a new page" as create_str %}
    {% include "wagtailadmin/shared/header.html" with title=create_str icon="doc-empty-inverse" %}

    <div class="nice-padding">
        <p>{% trans "Your new page will be saved in the <em>top level</em> of your website. You can move it after saving." %}</p>
        
        {% if all_page_types %}
            <ul class="listing">
                {% for content_type in all_page_types %}
                    <li><a href="{% url 'wagtailadmin_pages_select_location' content_type.app_label content_type.model %}" class="icon icon-plus-inverse">{{ content_type.model_class.get_verbose_name }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}
