/*
NB: Due to Wagtail's browser support the following @font-face formats are required:
- WOFF2 For modern browsers

This example is all we need now:

@font-face {
  font-family: 'MyWebFont';
  src: url('myfont.woff2') format('woff2');
}

See https://css-tricks.com/snippets/css/using-font-face/ for more information.

*/

@mixin webfont($fontname, $filestub, $weight, $style:normal) {
    @font-face {
        font-family: '#{$fontname}';
        src: url('#{$font-root}#{$filestub}.woff2') format('woff2');
        font-weight: $weight;
        font-style: $style;
    }
}
