{% load i18n wagtailadmin_tags %}

<form action="{% url 'wagtailadmin_pages:set_privacy' page.id %}" method="POST" novalidate>
    {% csrf_token %}
    <ul class="fields">
        {% include "wagtailadmin/shared/field_as_li.html" with field=form.restriction_type %}
        {% include "wagtailadmin/shared/field_as_li.html" with field=form.password li_classes="password-field" %}
    </ul>
    <ul class="fields" id="groups-fields">
        {% include "wagtailadmin/shared/field_as_li.html" with field=form.groups %}
    </ul>

    <div class="w-flex w-gap-2">
        <input type="submit" value="{% trans "Set page privacy" %}" class="button button-primary"/>
        <button type="button" class="button button-secondary" data-a11y-dialog-hide aria-label="{% trans 'Close dialog' %}">
            {% trans "Cancel" %}
        </button>
    </div>

</form>

