{% templatetag openblock %} extends "base.html" {% templatetag closeblock %}
{% templatetag openblock %} load static {% templatetag closeblock %}

{% templatetag openblock %} block body_class {% templatetag closeblock %}template-homepage{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block extra_css {% templatetag closeblock %}

{% templatetag openblock %} comment {% templatetag closeblock %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% templatetag openblock %} endcomment {% templatetag closeblock %}
<link rel="stylesheet" href="{% templatetag openblock %} static 'css/welcome_page.css' {% templatetag closeblock %}">
{% templatetag openblock %} endblock extra_css {% templatetag closeblock %}

{% templatetag openblock %} block content {% templatetag closeblock %}

{% templatetag openblock %} comment {% templatetag closeblock %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% templatetag openblock %} endcomment {% templatetag closeblock %}
{% templatetag openblock %} include 'home/welcome_page.html' {% templatetag closeblock %}

{% templatetag openblock %} endblock content {% templatetag closeblock %}
