{% templatetag openblock %} extends "base.html" {% templatetag closeblock %}
{% templatetag openblock %} load static wagtailcore_tags {% templatetag closeblock %}

{% templatetag openblock %} block body_class {% templatetag closeblock %}
template-homepage
{% templatetag openblock %} endblock {% templatetag closeblock %}


{% templatetag openblock %} block extra_css {% templatetag closeblock %}



{% templatetag openblock %} comment {% templatetag closeblock %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% templatetag openblock %} endcomment {% templatetag closeblock %}
<link rel="stylesheet" href="{% templatetag openblock %} static 'css/welcome_page.css' {% templatetag closeblock %}">
{% templatetag openblock %} endblock extra_css {% templatetag closeblock %}

{% templatetag openblock %} block content {% templatetag closeblock %}

{% templatetag openblock %} comment {% templatetag closeblock %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% templatetag openblock %} endcomment {% templatetag closeblock %}
<div style="max-width: 800px; margin: 40px auto; padding: 20px;">
    {% templatetag openvariable %} page.body|richtext {% templatetag closevariable %}
</div>


{% templatetag openblock %} endblock content {% templatetag closeblock %}