{% extends 'wagtailsnippets/snippets/side_panels/includes/action_list_item.html' %}
{% load wagtailadmin_tags i18n %}

{% comment %}
    This template is used to show Live, Draft, Live and Draft, In Moderation or Live and In Moderation.
    Sometimes {{ block.super }} will be called two times in the instances where the object is in multiple states eg. Live + Draft
{% endcomment %}

{% block content %}
    <div class="w-space-y-3">
        {% trans 'Object status: ' as screen_reader_title_prefix %}
        {% with latest_revision=object.get_latest_revision live_revision=object.live_revision %}

            {# Live section #}
            {% if not draftstate_enabled or object.live %}
                {% trans 'Live' as title %}

                {% if draftstate_enabled and live_revision %}
                    {% timesince_last_update live_revision.created_at user_display_name=live_revision.user|user_display_name use_shorthand=True as help_text %}
                {% elif revision_enabled and latest_revision %}
                    {# RevisionMixin enabled without DraftStateMixin, latest revision is assumed to be live #}
                    {% timesince_last_update latest_revision.created_at user_display_name=latest_revision.user|user_display_name use_shorthand=True as help_text %}
                {% elif latest_log_entry %}
                    {# Mixins are not applied or revisions can't be found #}
                    {# Get last updated at from log entry, object assumed to be live #}
                    {% timesince_last_update latest_log_entry.timestamp user_display_name=latest_log_entry.user_display_name use_shorthand=True as help_text %}
                {% endif %}

                {% with icon_name='doc-full-inverse' %}
                    {% if draftstate_enabled and object.has_unpublished_changes %}
                        {% with hide_action=True %}
                            {{ block.super }}
                        {% endwith %}
                    {% else %}
                        {{ block.super }}
                    {% endif %}
                {% endwith %}
            {% endif %}

            {# Draft settings #}
            {% if draftstate_enabled and object.has_unpublished_changes %}
                {% trans 'Draft' as title %}
                {% if latest_revision.created_at %}
                    {% timesince_last_update latest_revision.created_at user_display_name=latest_revision.user|user_display_name use_shorthand=True as help_text %}
                {% endif %}

                {# Icon #}
                {% with icon_name='draft' %}
                    {{ block.super }}
                {% endwith %}
            {% endif %}
        {% endwith %}
    </div>
{% endblock %}

{% block action %}
    {% with action_url=history_url %}
        {% trans 'View history' as action_text %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block bottom %}
    {# Workflow Status #}
    {% with latest_revision=object.get_latest_revision %}
        {# Scheduled publishing #}
        {% if draftstate_enabled and latest_revision and latest_revision.approved_go_live_at %}
            <div class="w-flex w-space-x-3">
                {% icon name='info-circle' class_name='w-w-4 w-h-4 w-text-info-100 w-shrink-0' %}
                <div class="w-label-3 w-flex-1">
                    {% trans 'This will publish at ' %}{{ latest_revision.approved_go_live_at }}
                </div>
            </div>
        {% endif %}
    {% endwith %}
{% endblock %}
