.comments-topbar {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: $color-box-background;
  color: white;
  padding: 5px;
  font-family: 'Open Sans', sans-serif;
  position: sticky;
  top: 0;

  &__settings {
    list-style-type: none;
    margin: 0;

    li {
      float: left;
      margin-left: 20px;
    }
  }
}
