{% extends "wagtailadmin/admin_base.html" %}
{% load staticfiles i18n %}
{% block titletag %}{% trans "Reset password" %}{% endblock %}
{% block bodyclass %}login{% endblock %}

{% block extra_css %}
    {{ block.super }}

    <link rel="stylesheet" href="{% static 'wagtailadmin/css/layouts/login.css' %}" type="text/css" />
{% endblock %}

{% block furniture %}
    <div class="content-wrapper">
        {% if form.non_field_errors %}
            <div class="messages">
                <ul>
                    {% for error in form.non_field_errors %}
                        <li class="error">{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <form method="post" novalidate>
            {% csrf_token %}
            <h1>{% trans "Reset your password" %}</h1>

            <ul class="fields">
                <li>
                    <div class="field">
                        {{ form.email.label_tag }}
                        {{ form.email }}
                    </div>
                </li>
                <li class="submit">
                    <input type="submit" value="{% trans 'Reset password' %}"/>
                </li>
            </ul>
        </form>
    </div>
{% endblock %}
