{# HT START #}
<div style="text-align:left; font-size:1em; padding: 1em; background-color:grey; color:white">
	<p>
	please pass a template to the SelectCropBlock constructor... e.g: 
	</p>
	<p style="font-size:1.2em">
	my_image_field = SelectCropBlock(required=True, <span style="font-style: italic"> template="my_folder/my_image_spec.html"</span>)
	</p>
	<p>
	In the template at a minimum you need only define an image specification... e.g:
	</p>
	<p style="font-size:1.2em">
	{% templatetag openblock %} image value.my_image_field max-600x600 {% templatetag closeblock %}
	</p>
</div>
{# HT END #}