{% load wagtailadmin_tags i18n %}

<div class="w-divide-y w-divide-grey-100">
    {% if object.pk %}
        {% include 'wagtailsnippets/snippets/side_panels/includes/workflow_status.html' %}
    {% endif %}
    {% include 'wagtailsnippets/snippets/side_panels/includes/locale_status.html' %}

    <div class="w-pt-5 w-space-y-1">
        <div class="w-label-3">
            <strong>{{ model_opts.verbose_name|capfirst }}</strong>

            {% with description=model_opts.description %}
                {% if description %}
                    ({{ description }})
                {% endif %}
            {% endwith %}
        </div>
        {% if draftstate_enabled and object.first_published_at %}
            <div class="w-help-text">
                {% trans 'First published ' %}{% timesince_last_update object.first_published_at use_shorthand=True %}
            </div>
        {% endif %}
    </div>
</div>
