{% load i18n %}

<td {% if column.classname %}class="{{ column.classname }}"{% endif %}>
    <a class="w-label-1" href="{{ link_url }}">
        {% blocktrans trimmed count counter=instance.all_pages.count %}
            1 page
        {% plural %}
            {{ counter }} pages
        {% endblocktrans %}
    </a>

    {# Only show snippet type count if there's a model with workflows enabled #}
    {% if workflow_enabled_models %}
        <div>
            {% blocktrans trimmed count counter=instance.content_types %}
                1 snippet type
            {% plural %}
                {{ counter }} snippet types
            {% endblocktrans %}
        </div>
    {% endif %}
</td>
