{% extends "wagtailadmin/generic/index.html" %}
{% load i18n wagtailadmin_tags %}
{% block extra_js %}
    {{ block.super }}
    <script defer src="{% versioned_static 'wagtailadmin/js/bulk-actions.js' %}"></script>
{% endblock %}

{% block bulk_actions %}
    {% trans "Select all users in listing" as select_all_text %}
    {% include 'wagtailadmin/bulk_actions/footer.html' with select_all_obj_text=select_all_text app_label=model_opts.app_label model_name=model_opts.model_name objects=page_obj item_type="USER" %}
{% endblock %}
