// overrides default nice padding defined in variables.scss
$custom-nice-padding: 100px;
$input-text-vertical-padding: theme('spacing.12');

.login,
.login .content-wrapper {
  background-color: $color-grey-1;
  color: $color-grey-3;
}

.login {
  margin-inline-start: 0;
  height: 100vh;

  .content-wrapper {
    border: 0;

    @include media-breakpoint-up(sm) {
      float: none;
      height: auto;
      width: 100%;
      display: inline-block;
      vertical-align: middle;
    }
  }

  .wrapper {
    padding-inline-start: $mobile-nice-padding;
    padding-inline-end: $mobile-nice-padding;
    margin-inline-start: 0;
    max-width: none;

    // centres login form vertically
    @include media-breakpoint-up(sm) {
      position: relative;
      height: 100%;
      padding: 0 $custom-nice-padding;

      &:before {
        content: '';
        width: 0;
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-inline-start: -0.4em;
      }
    }
  }

  h1 {
    font-weight: 300;
    font-size: 2em;
    line-height: 1em;
    color: $color-white;
    white-space: nowrap;

    @include media-breakpoint-up(sm) {
      font-size: 4em;
    }
  }

  label,
  .help {
    color: $color-white;
  }

  .reset-password {
    @apply w-help-text;
    display: block;
    margin-top: 0;
    padding: 10px 0;
    color: $color-white;
    text-decoration: underline;

    @include media-breakpoint-up(sm) {
      position: absolute;
      // This number is manually updated based on the position of the first field.
      top: 307px;
      inset-inline-end: 0;
      padding: 0;
      color: $color-link;
      text-decoration: none;
    }
  }

  .messages {
    margin: 1em 0;
    z-index: 5;

    ul {
      margin: 0;

      &:before {
        display: none;
      }

      li {
        border-radius: 3px;
      }
    }
  }

  .button,
  a.button {
    line-height: 1.2em;
    font-size: 1.5em;
    padding: 1.1em 2.4em;
    height: 3.5em;
  }
}

// Full-width fields for the login form only, rather than also password reset.
.login-fields {
  .w-field__wrapper {
    max-width: none;

    &:first-of-type {
      // Fields are separated by a thin dashed line rather than by empty space.
      border-bottom: 1px dashed #e6e6e6;
      margin-bottom: 0;
    }

    @include media-breakpoint-up(sm) {
      width: 100vw;
      margin-inline-start: -1 * $custom-nice-padding;
      margin-inline-end: -1 * $custom-nice-padding;
    }
  }

  // For the login form, we rely on the non-field error only.
  .w-field__errors {
    display: none;
  }

  // Special full-width, one-off fields i.e a single text or textarea input
  input:not([type='checkbox']) {
    @include show-focus-outline-inside();
    @apply w-h3;
    color: $color-input-text;
    border-radius: 0;
    font-weight: 300;
    border: 0;
    padding: $input-text-vertical-padding $mobile-nice-padding;

    @include media-breakpoint-up(sm) {
      padding-inline-start: $custom-nice-padding;
      padding-inline-end: $custom-nice-padding;
    }
  }

  .w-field__icon {
    $size: theme('spacing.9');
    display: none;
    pointer-events: none;
    color: theme('colors.grey.200');
    border: 2px solid theme('colors.grey.200');
    border-radius: theme('borderRadius.full');
    width: $size;
    height: $size;
    padding: theme('spacing.[1.5]');
    top: calc($input-text-vertical-padding - theme('spacing.[1.5]'));
    inset-inline-start: calc(
      $custom-nice-padding - ($size + theme('spacing.3'))
    );

    @include media-breakpoint-up(sm) {
      display: block;
    }
  }
}
