.redirects .listing-with-x-scroll {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

.redirects header .w-header__secondary {
  display: flex;
}

.redirects header .w-header__secondary .actionbutton {
  margin-inline-start: 10px;
}

.redirects header .w-header__secondary .dropdown {
  margin-inline-start: 10px;
}
