.report {
  display: grid;
  grid-column-gap: 50px;

  &:not(&--no-margin) {
    margin-inline-start: 50px;
    margin-inline-end: 50px;
  }

  &__results {
    grid-column-start: col-start 1 col-end 2;

    &--text {
      margin: 0 0.5em 0.5em 0;

      + .status-tag {
        margin-inline-start: 0;
      }
    }

    &--comment {
      display: block;
    }
  }

  &__actions > div {
    float: right;
    display: block;
    margin-inline-end: 10px;
  }

  @include media-breakpoint-down(sm) {
    form {
      margin-bottom: 1em;
    }
  }
}
