.Draftail-Toolbar {
    display: flex;
    flex-wrap: wrap;

    .Draftail-ToolbarGroup:last-child {
        flex-grow: 1;
    }

    .Draftail-CommentControl {
        float: right;
        color: $color-teal;

        button {
            span {
                &:last-of-type {
                    display: none;
                }
            }

            &:hover {
                border-color: transparent;

                span {
                    &:first-of-type {
                        display: none;
                    }

                    &:last-of-type {
                        display: block;
                    }
                }
            }
        }
    }
}
