@import "../variables.less";
@import "../mixins.less";
@import "../grid.less";
.page-editor .content-wrapper{
    margin-bottom:10em;
}

.objects{
    margin-top:-1em;
    padding-top:1em;
    background:url(@{static-root}bg-editor-diag.svg);
}
.object{  

    position:relative;
    /*border:1px solid @color-grey-4;
    border-width:1px 0 0 0;*/
    overflow:hidden;
    .nice-padding();

    &:first-child{
        border:0;
    }

    &.focused{
        border-color: darken(@color-input-focus, 40%);
    }        

    fieldset{
        padding-top:4em;
        padding-left:0;
        padding-right:0;
    }

    .object-help{
        display:block;
        position:relative;
        z-index:1;
        top:1em;
        padding-right:@grid-gutter-width/2;
        margin-top:4em;
        opacity:0;
        padding-left:3em;

        &:before{
            display:block;
            float:left;
            content:"?";
            border:1px solid @color-grey-2;
            color:@color-grey-2;
            .border-radius(100%);
            height:15px;
            width:15px;
            line-height:15px;
            text-align:center;
            font-size:1.1em;
            margin-left:-2em;
            margin-top:0.3em;
        }
    }

    &:hover .object-help{
        opacity:1;
    }

    > h2, &.single-field label{
        -webkit-font-smoothing: auto;
        .border-radius(2px);
        background-color:@color-grey-3; // lighten(@color-grey-4, 5%);
        text-transform:uppercase;
        padding:0.9em 0 0.9em 4em;
        font-size:1em;
        margin:0 25px 0.2em 25px;
        line-height:1.5em;
        font-weight:normal;
        position:absolute;
        top:0;
        left:0;
        right:0;
        z-index:1;

        &:before{
            font-family:verdant;
            text-transform:none;
            content:"q";
            text-align:center;
            display:block;
            position:absolute;
            z-index:2;
            font-size:2em;
            top:0px;
            line-height:1.7em;
            left:0px;
            width:1.7em;
            opacity:0.15;
            padding:0;
            margin:0;
            cursor:pointer;
        }
    }

    &.single-field{
        h2, .object-help{
            display:none; /* The field label is used instead */
        }
    }

    /* Special full-width, one-off fields i.e a single text or textarea input */
    &.full{
        h2{
            display:none; /* The field label is used instead */
        }

        .object-help{
            display:block;
        }
        
        fieldset{
            display:block;
            float:none;
            
            padding:3.2em 0 0 0;

            .help{
                display:none;
            }
        }
        li{
            padding:0;
        }

        .field{
            padding:0;
        }

        input, textarea, .richtext{
            .nice-padding();
            .pull-padding(2);
            font-family:Bitter, Georgia, serif;
            .border-radius(0px);
           
            padding-top:2em;
            padding-bottom:2em;
            font-size:1.2em;
            line-height:1.6em;
            border-width:0 1px;
        }

        .richtext{
            padding-top:3em; /* to provide space for editor buttons */
        }

        .error-message{
            .nice-padding();
            padding-bottom:2em;
        }

        .error,
        .error input,
        .error textarea,
        .error .richtext{
            background-color:@color-input-error-bg;
        }
    }

    &.title input,
    &.title textarea{
        font-size:2em;
        padding-top:2em;
    }

    &.title input{
        padding-top:1.5em;
        padding-bottom:1.5em;
    }
    
    .multiple{
        padding:4.5em 0 0 0;

        fieldset{
            padding-top:0;
            padding-bottom:0;
        }
    }

    .fields{
        max-width:100%;
    }

    /* removes top padding from multiples used within another panel */
    .fields .multiple{
        padding-top:0;
    }

    .add{
        padding-top:1em;
    }

    &.empty{
        border-bottom:1px solid white;

        > h2, &.single-field label{
            margin:0 25px;
            border-bottom:1px solid white;
        }

        /* wrapper around add button for mutliple objects. Default version is wordless plus button for contracted groups of fields */
        .add{
            .transition(background-color 0.2s ease);
            position:relative;
            z-index:2;
            top:0px;
            left:25px;
            width:3.3em;
            background-color:@color-teal;
            padding:0;
            margin:0 0 0 -50px;
            cursor:pointer;

            a{
                font-size: 0em;
                line-height: 0;
                overflow: visible;
                display:block;
            
                &:before{
                    position:relative;
                    color:white;
                    padding:0;
                    line-height:1.9em; /* specific height required as parent 'a' has no height */
                    font-size:1.4rem;
                    width:100%;
                    background-color:transparent;
                }
            }
        }

        .multiple{
            padding:0;
            max-height:0px;
        }
    }
}   

/* styles applied to an element as it is being reordered */
.preview{
    padding-top:1em;
    padding-bottom:0.5em;
}

@media screen and (min-width: @breakpoint-mobile){
    .object{
        fieldset{
            max-width:1024px;
            .column(10);
            padding-left:0;
            padding-right:0;
        }

        .object-help{
            .column(2);
            display:block;
            position:absolute;
            z-index:1;
            right:0;
            top:1em;
            padding-right:@grid-gutter-width/2;
            float:right;
            margin-top:4em;
            opacity:0;
            padding-left:3em;
        }

        &.full{
            fieldset{
                .column(11);
               
                padding-left:0;
                padding-right:0;
            }
        }
        .multiple{
            .column(10);
            padding-left:0;
            padding-right:0;
        }
    }
}
