.u-hidden {
  // stylelint-disable-next-line declaration-no-important
  display: none !important;
}

.nice-padding {
  padding-inline-start: $mobile-nice-padding;
  padding-inline-end: $mobile-nice-padding;

  @include media-breakpoint-up(sm) {
    padding-inline-start: $desktop-nice-padding;
    padding-inline-end: $desktop-nice-padding;
  }
}

// Show a transparency grid in background
.show-transparency {
  background: url('#{$images-root}transparency.svg');
}

// make a block-level element inline
.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}
