@use '../tools' as mixin;
@use '../settings' as variable;

.nice-padding {
  padding-inline-start: variable.$mobile-nice-padding;
  padding-inline-end: variable.$mobile-nice-padding;

  @include mixin.media-breakpoint-up(sm) {
    padding-inline-start: variable.$desktop-nice-padding;
    padding-inline-end: variable.$desktop-nice-padding;
  }
}

// Show a transparency grid in background
.show-transparency {
  background: url('#{variable.$images-root}transparency.svg');
}
