.u-scrollbar-thin {
  // Scrollbar styling for firefox
  // https://developer.mozilla.org/en-US/docs/Web/CSS/scrollbar-color
  scrollbar-color: theme('colors.grey.100') theme('colors.white.DEFAULT');
  scrollbar-width: thin;

  //Custom scrollbar styling for Safari & Chrome Windows / Mac / Android.
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-button {
    @apply w-hidden;
    // Hide the scrollbar arrows on windows
  }

  &::-webkit-scrollbar-thumb {
    @apply w-bg-grey-200 w-rounded-sm;
  }

  &::-webkit-scrollbar-track {
    @apply w-bg-white;
  }
}
