{% extends "wagtailadmin/admin_base.html" %}
{% load wagtailadmin_tags i18n %}
{% block titletag %}{% trans "Reset password" %}{% endblock %}
{% block bodyclass %}login{% endblock %}

{% block extra_css %}
    {{ block.super }}

    <link rel="stylesheet" href="{% versioned_static 'wagtailadmin/css/layouts/login.css' %}" type="text/css" />
{% endblock %}

{% block furniture %}
    <main class="content-wrapper" role="main">
        {% include "wagtailadmin/shared/non_field_errors.html" %}

        <form method="post" novalidate>
            {% csrf_token %}
            <h1>{% trans "Reset your password" %}</h1>

            <ul class="fields">
                <li>
                    <div class="field">
                        {{ form.email.label_tag }}
                        {{ form.email }}
                        <div class="messages">
                            <ul>
                                {% for error in form.email.errors %}
                                    <li class="error">{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="submit">
                    <button type="submit" class="button">{% trans 'Reset password' %}</button>
                </li>
            </ul>
        </form>
    </main>
{% endblock %}
