{% extends "wagtailadmin/admin_base.html" %}
{% load wagtailadmin_tags i18n %}
{% block titletag %}{% trans "Reset password" %}{% endblock %}
{% block bodyclass %}login{% endblock %}

{% block furniture %}
    <main class="content-wrapper">
        {% include "wagtailadmin/shared/non_field_errors.html" %}

        {% block above_form %}{% endblock %}

        <form method="post" novalidate>
            {% csrf_token %}
            <h1>{% trans "Reset your password" %}</h1>

            <ul class="fields">
                <li>
                    <div class="field">
                        {{ form.email.label_tag }}
                        {{ form.email }}
                        <div class="messages">
                            <ul>
                                {% for error in form.email.errors %}
                                    <li class="error">{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </li>

                {% block extra_fields %}
                    {% for field_name, field in form.extra_fields %}
                        <li class="full">
                            {{ field.label_tag }}
                            <div class="field iconfield">
                                {{ field }}
                            </div>
                        </li>
                    {% endfor %}
                {% endblock extra_fields %}

                <li class="submit">
                    {% block submit_buttons %}
                        <button type="submit" class="button">{% trans 'Reset password' %}</button>
                    {% endblock %}
                </li>
            </ul>
        </form>
    </main>
{% endblock %}
