{% load i18n wagtailadmin_tags %}

{% trans "Promoted search results" as heading %}
{% panel id="promoted-search-results" heading=heading heading_size="label" classname="w-panel--nested" attrs=formset.attrs %}
    {{ formset.management_form }}
    <div id="id_{{ formset.prefix }}-FORMS" data-controller="w-orderable" data-w-formset-target="forms" data-w-orderable-name-value="formset-panel" data-action="w-formset:removed->w-orderable#resetControls">
        {% for form in formset.forms %}
            {% include "wagtailsearchpromotions/includes/searchpromotion_form.html" with form=form only %}
        {% endfor %}
    </div>
    {# Align with guiding line of the preceding child panel. #}
    <div class="w-mb-4 -w-ml-4">
        <button type="button" class="button button-small button-secondary chooser__choose-button" id="id_{{ formset.prefix }}-ADD" value="Add" data-action="w-formset#add" data-w-formset-target="add">
            {% icon name="plus-inverse" %}{% trans "Add a recommended result" %}
        </button>
    </div>
    <template id="id_{{ formset.prefix }}-EMPTY_FORM_TEMPLATE" data-w-formset-target="template">
        {% include "wagtailsearchpromotions/includes/searchpromotion_form.html" with form=formset.empty_form only %}
    </template>
{% endpanel %}
