// General listings, like for pages, images or snippets
// scss-lint:disable QualifyingElement
ul.listing {
    @include unlist();
}
// scss-lint:enable QualifyingElement

.listing {
    margin-bottom: 2em;
    color: lighten($color-text-base, 20%);
    font-size: .95em;

    ul {
        @include unlist();
    }

    > li {
        padding: 1em 0;
        border-bottom: 1px dashed $color-input-border;
    }

    h3 {
        margin: 0;
        font-size: 1em;
    }

    td,
    th {
        padding: 1.2em 1em;
    }

    &.small td,
    th {
        padding: .6em 1em;
    }

    thead {
        font-size: 1.1em;
        color: $color-text-base;
        border-bottom: 1px solid $color-grey-4;

        th {
            font-size: .85em;
            text-align: left;
            font-weight: normal;
            white-space: nowrap;
            text-transform: uppercase;
        }

        // scss-lint:disable QualifyingElement
        th.children {
            border: 0;
        }
        // scss-lint:enable QualifyingElement

        // scss-lint:disable SelectorDepth
        th a {
            text-decoration: none;
            color: inherit;
            position: relative;

            &.icon:after {
                opacity: .5;
                right: 0;
            }
        }
        // scss-lint:enable SelectorDepth
    }

    &.full-width td:first-child,
    &.full-width th:first-child {
        padding-left: 20px;
    }

    &.full-width {
        margin-bottom: -3em; // this negates the padding added to the bottom of .content
    }

    &.full-width th {
        background-color: $color-thead-bg;
    }

    .table-headers {
        border-bottom: 1px solid  $color-grey-4;
    }

    tbody {
        border-bottom: 1px dashed $color-input-border;

        tr {
            border-top: 1px dashed $color-input-border;

            &:first-child {
                border-top: 1px dashed $color-input-border;
            }
        }
    }

    &.full-width tbody {
        border: 0;
    }

    &.full-width tbody tr:hover {
        background-color: $color-grey-5;
    }

    &.chooser {
        // scss-lint:disable QualifyingElement,SelectorDepth
        tbody .title a {
            @include transition(none);
            display: block;
        }

        tbody tr:hover {
            background-color: $color-teal;
            color: $color-white;

            .title a,
            .title a:hover {
                color: $color-white;
            }

            .status-tag {
                border-color: $color-white;
            }
        }

        tbody tr.disabled td {
            opacity: .25;
        }

        tbody tr.disabled td.children {
            opacity: 1;
        }

        tbody tr.disabled:hover {
            background-color: inherit;
            color: inherit;

            .title {
                cursor: not-allowed;
            }

            .status-tag {
                border-color: inherit;
            }
        }
        // scss-lint:enable QualifyingElement,SelectorDepth
    }

    &.small tbody tr {
        font-size: 1em;
    }

    &.full-width .divider td {
        padding-left: 20px;
    }

    // specific columns
    .bulk {
        padding-right: 0;

        label {
            font-size: 1em;
            display: block;
            width: 100%;
            position: relative;
        }

        // scss-lint:disable SelectorDepth
        label span {
            @include visuallyhidden();
        }
        // scss-lint:enable SelectorDepth

        input {
            margin-top: 3px;

        }
    }

    .title {
        color: darken($color-grey-2, 10%);

        h2 {
            text-transform: none;
            margin: 0;
            font-size: 1.15em;
            font-weight: 600;
            color: inherit;
            line-height: 1.5em;

            // scss-lint:disable NestingDepth,SelectorDepth
            a {
                color: inherit;
                text-decoration: none;

                &:hover {
                    color: $color-link;
                }
            }
            // scss-lint:enable NestingDepth,SelectorDepth
        }
    }

    .actions {
        @include clearfix();
        margin-top: .8em;
        text-transform: uppercase;
        margin-bottom: -.5em;
        font-size: .8rem;

        a {
            text-decoration: none;
        }

        li {
            float: left;
            padding: 0 .5em 0 0;
            margin: 0 0 .5em;
            line-height: 1em;
        }
    }

    .button-secondary {
        border-color: $color-grey-3;
        background: $color-white;

        &:hover {
            border-color: $color-teal;
            background-color: $color-teal;
        }
    }

    .button-secondary {
        background-color: $color-white;
    }

    .moderate-actions form {
        float: left;
        margin: 0 1em 1em 0;
    }

    .children,
    .no-children {
        // scss-lint:disable ImportantRule
        padding: 0 !important;
        // scss-lint:enable ImportantRule

        &:hover {
            background-color: $color-grey-5;
        }

        a {
            display: block;
            padding: 2em 0;
        }
    }

    .children a {
        color: $color-teal;
        display: block;

        &:before {
            font-size: 3rem;
        }
    }

    .no-children a {
        color: $color-grey-3;
        display: block;

        &:before {
            font-size: 1.5rem;
        }

        &:hover {
            color: $color-teal;
        }
    }

    &.small .children a:before {
        font-size: 30px;
    }

    .ord {
        // scss-lint:disable ImportantRule
        padding-left: 10px !important;
        // scss-lint:enable ImportantRule
    }

    // scss-lint:disable QualifyingElement
    th.ord a:before {
        width: 1em;
        font-size: 15px;
    }

    th.ord a:hover:before {
        color: $color-teal;
    }
    // scss-lint:enable QualifyingElement

    .handle {
        cursor: move;
        width: 20px;

        &:before {
            font-size: 20px;
            color: $color-grey-3;
            width: 1em;
        }

        &:hover:before {
            color: $color-text-base;
        }
    }

    .ui-sortable-helper {
        border: 1px dashed $color-input-border;
        border-width: 1px 0;

        td {
            display: none;
        }

        .ord,
        .title {
            display: table-cell;
        }
    }

    .dropzone {
        height: 80px;
        background-color: $color-grey-1;

        &:hover {
            background-color: $color-grey-1;
        }

        td {
            // scss-lint:disable ImportantRule
            padding: 0 !important;
            // scss-lint:disable ImportantRule
        }
    }

    table .no-results-message {
        padding-left: 20px;
    }

    .unpublished h2 {
        opacity: .7;
    }

    .index {
        background-color: $color-grey-4;

        // scss-lint:disable SelectorDepth
        .title h2 {
            font-size: 1.2em;
            opacity: 1;

            a {
                @include transition(opacity .2s ease);
            }

            a:hover {
                opacity: .7;
            }
        }
        // scss-lint:enable SelectorDepth

        .actions {
            margin-top: 1em;
        }

        .button {
            background-color: transparent;
            color: $color-white;
            border-color: $color-teal-darker;

            &:hover {
                color: $color-white;
                background: $color-teal-darker;
            }

            &.bicolor {
                background: $color-teal-darker;
            }
        }
    }

    .indicator {
        margin-right: 0;
        font-size: 1em;
        opacity: .7;
    }

    &.images img {
        @include transition(border-color .2s ease);
        border: 3px solid $color-white;
    }
}

// scss-lint:disable QualifyingElement
ul.listing {
    border-top: 1px dashed $color-input-border;
    margin-bottom: 2em;
}

table.listing {
    width: 100%;
}
// scss-lint:enable QualifyingElement


 // explorer specific tweaks
.page-explorer .listing {
    position: relative;

    .index {
        // scss-lint:disable NestingDepth,SelectorDepth
        color: $color-white;
        background-color: $color-header-bg;

        td {
            padding-top: 1.5em;
            padding-bottom: 1.5em;
        }

        .privacy-indicator {
            font-size: 1em;
            opacity: 1;
            position: absolute;
            right: 5%;
            top: 2em;
        }

        .locked-indicator {
            font-size: .8em;
        }

        .title {
            h2 {
                color: $color-white;
                font-size: 1.8em;
                font-weight: 500;

                a:hover {
                    color: $color-white;
                }
            }
        }
        // scss-lint:enable NestingDepth,SelectorDepth
    }

    // scss-lint:disable SelectorDepth
    .table-headers {
        .ord {
            padding-right: 0;
        }

        .title {
            padding-left: 0;
        }
    }

    tbody .title {
    // scss-lint:enable SelectorDepth
        padding-left: 0;
    }
}

.pagination {
    text-align: center;

    p {
        margin: 0;
    }

    ul {
        @include unlist();
    }

    ul {
        margin-top: -1.7em;
    }

    li {
        line-height: 1em;
    }

    .prev {
        float: left;
    }

    .next {
        float: right;
    }
}

.listing.full-width + .pagination {
    margin-top: 3em;
    border-top: 1px dashed $color-grey-3;
    padding: 2em 50px 0;
}


// listing filters

.listing-filter {
    @include clearfix();
    background-color: $color-grey-5;
    border-width: 1px 0;
    margin: 3em 0;
}

.filter-title {
    float: left;
    text-transform: uppercase;
    font-size: .95em;
    padding: 1em;
    margin: 0 1em;
    background-color: $color-grey-4;
}

.filter-options {
    @include unlist();
    @include clearfix();
    overflow: hidden;

    li {
        padding: .8em;
        float: left;
    }
}


@media screen and (min-width: $breakpoint-mobile){
    // scss-lint:disable NestingDepth,SelectorDepth
    .listing {
        &.horiz > li {
            float: left;
        }

        &.images {
            @include clearfix();
            border: 1px solid $color-grey-4;
            // scss-lint:disable ImportantRule
            border-width: 0 0 0 1px !important;
            // scss-lint:enable ImportantRule

            > li {
                padding: 1.3em;
                width: 200px;
                height: 220px;
                text-align: center;
                margin-top: -1px;
                border: 1px solid $color-grey-4;
                border-width: 1px 1px 1px 0;

                .image {
                    text-align: center;
                    height: 180px;

                    &:before {
                        content: '';
                        display: inline-block;
                        height: 100%;
                        vertical-align: middle;
                        margin-right: -.25em;
                    }

                    img {
                        display: inline-block;
                        vertical-align: middle;
                    }
                }

                &:hover {
                    background-color: $color-grey-5;

                    img {
                        border-color: $color-teal;
                    }
                }
            }

            a {
                color: inherit;
            }
        }
        // scss-lint:enable NestingDepth,SelectorDepth

        .actions {
            visibility: hidden;
        }

        // scss-lint:disable SelectorDepth
        .index .actions {
            visibility: visible;
        }

        td:hover .actions {
            visibility: visible;
        }

        .no-children {
            border-color: transparent;

            a {
                opacity: 0;
            }
        }

        tr:hover .no-children a {
            opacity: 1;
        }

        tr:hover .children {
            background-color: $color-teal;

            a:before {
                color: $color-white;
            }
        }
        // scss-lint:enable SelectorDepth

        // scss-lint:disable QualifyingElement
        td.children:hover {
        // scss-lint:enable QualifyingElement
            background-color: $color-teal-darker;
        }


        table .no-results-message {
            padding-left: 50px;
        }

        &.full-width td:first-child,
        &.full-width th:first-child {
            padding-left: 50px;
        }

        &.full-width .divider td {
            padding-left: 50px;
        }
    }
}

// Transitions
.listing {
    // scss-lint:disable SelectorDepth
    thead .dropdown ul {
    // scss-lint:enable SelectorDepth
        @include transition(none);
    }

    .children,
    .no-children {
        @include transition(background-color .2s ease);
    }

    .children a,
    .no-children a {
        @include transition(all .2s ease);
    }
}

