.comment-header {
    position: relative;

    &__avatar {
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 20px;
    }

    &__author,
    &__date {
        max-width: calc(100% - 160px);  // Leave room for actions to the right and avatar to the left
        margin: 0;
        margin-left: 57px;
        font-size: 0.7em;
    }

    &__date {
        color: $color-grey-25;
    }

    &__actions {
        position: absolute;
        right: 0;
    }

    &__action {
        float: left;
        margin-left: 10px;
        border-radius: 5px;

        &:hover {
            background-color: $color-grey-7;
        }

        > button,
        > details > summary {
            // Hides triangle on Firefox
            list-style-type: none;
            // Hides triangle on Chrome
            &::-webkit-details-marker { display: none; }
            width: 50px;
            height: 50px;
            position: relative;
            background-color: unset;
            border: unset;
            -moz-outline-radius: 10px;

            svg {
                position: absolute;
                top: 12.5px;
                left: 12.5px;
                width: 25px;
                height: 25px;
            }

            &:hover {
                cursor: pointer;
            }
        }

        > details {
            position: relative;

            > div {
                position: absolute;
                right: 0;
                top: 60px;
            }
        }

        &--resolve {
            > button,
            > details > summary {
                color: $color-teal;
            }
        }

        &--more {
            > button,
            > details > summary {
                color: $color-grey-25;
            }
        }
    }

    &__more-actions {
        background-color: #333;
        padding: 0.75rem 1rem;
        min-width: 8rem;
        text-transform: none;
        position: absolute;
        z-index: 1000;
        list-style: none;
        text-align: left;

        &:before {
            content: '';
            border: 0.35rem solid transparent;
            border-bottom-color: #333;
            display: block;
            position: absolute;
            bottom: 100%;
            right: 1rem;
        }

        button {
            display: block;
            background: unset;
            border: unset;
            color: #fff;
            padding: 10px;
            font-size: 20px;
            width: 120px;
            text-align: left;

            &:hover {
                color: #aaa;
                cursor: pointer;
            }
        }
    }
}

.comment--mode-deleting .comment-header,
.comment-reply--mode-deleting .comment-header {
    opacity: 0.5;
}
