.sidebar-sub-menu-trigger-icon {
    display: block;
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    top: 0.8125em;
    right: 0.5em;

    @include transition(transform 0.3s ease, top 0.3s ease, right 0.3s ease, width 0.3s ease, height 0.3s ease);

    &--open {
        transform-origin: 50% 50%;
        transform: rotate(180deg);
    }
}

.sidebar-sub-menu-panel {
    background: $nav-submenu-bg;
    width: $menu-width;
    height: 100vh;

    > h2,
    &__list {
        width: $menu-width;
    }

    > h2 {
        display: block;
        padding: 0.2em 0;
        font-size: 1.2em;
        font-weight: 500;
        text-transform: none;
        text-align: center;
        color: $color-menu-text;

        &:before {
            font-size: 4em;
            display: block;
            text-align: center;
            margin: 0 0 0.2em;
            width: 100%;
            opacity: 0.15;
        }
    }

    > ul,
    ul > li {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    ul > li {
        position: relative;

        @include transition(border-color 0.3s ease);
    }

    > ul {
        overflow: auto;
        flex-grow: 1;
    }

    > ul > li {
        border: 0;
    }

    &__footer {
        margin: 0;
        padding: 0.9em 1.7em;
        text-align: center;
        color: $color-menu-text;
    }
}

.sidebar-sub-menu-item {
    &--open {
        background: $nav-submenu-bg;

        > a {
            text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);

            &:hover {
                background-color: transparent;
            }
        }
    }
}
