@use '../../settings' as *;

// file drop zones
.drop-zone {
  border-radius: 5px;
  border: 2px dashed theme('colors.border-furniture');
  padding: $mobile-nice-padding;
  background-color: theme('colors.surface-header');
  margin-bottom: 1em;
  text-align: center;

  .drop-zone-help {
    border: 0;
  }

  &.hovered {
    border-color: theme('colors.surface-button-default');
  }
}
