.w-field--file_input {
  label {
    float: none;
    display: inline;
    padding: 0;
  }

  input[type='checkbox'] {
    margin-top: 5px;
  }

  a {
    &:after {
      content: ' ';
      display: block;
    }
  }
}
