$radio-checkbox-line-gap: theme('spacing.[2.5]');

.w-field--checkbox_select_multiple,
.w-field--radio_select {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  label {
    @apply w-label-3;
    display: inline-flex;
    align-items: center;
    line-height: normal;
    margin-bottom: $radio-checkbox-line-gap;
  }
}
