/**
 * Lists of checkboxes or radios, one after another vertically.
 * Labels are next to their input, horizontally centered.
 */

.w-field--checkbox_select_multiple,
.w-field--checkbox_select_multiple_with_disabled_options,
.w-field--boolean_radio_select,
.w-field--radio_select {
  // Make sure comment buttons are as close as possible.
  display: inline-block;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  label {
    @apply w-body-text;
    color: theme('colors.text-context');
    display: inline-flex;
    align-items: center;
    line-height: normal;
    margin-bottom: theme('spacing.[2.5]');
  }
}
