.tagit {
  @include input-base();

  input[type='text'] {
    min-height: 0;
  }
}

@media (forced-colors: $media-forced-colours) {
  .tagit {
    .tag {
      border: 1px solid;

      &::before {
        background: $system-color-button-text;
      }
    }
  }

  .tagit-close .ui-icon.ui-icon-close:before {
    background: $system-color-button-text;
  }
}
