.progress{
    @include border-radius(1.2em);
    background-color:$color-teal-dark;
    border:1px solid $color-teal;

    .bar{
        @include border-radius(1.5em);
        background-color:$color-teal;
        height:1.2em;
    }
}