.tab-nav{
    @include clearfix();
    padding:0;

    li{
        list-style-type:none;
        width:48%;
        float:left;
        padding:0;
        position:relative;

        &:before,&:after{
            display:none;
        }
    }
    a{
        @include transition(border-color 0.2s ease);
        background-color:lighten($color-teal-darker, 3%);
        outline:none;
        line-height:3em;
        text-transform:uppercase;
        font-weight:700;
        font-size:1.2em;
        text-decoration:none;
        display:block;
        padding:0 20px;
        color:white;
        border-top:0.3em solid $color-teal-darker;
        border-bottom:1px solid transparent;

        &:hover{
            color:white;
            border-top-color:$color-teal-dark;
        }
    }

    a.errors{
        &:after{
            @include border-radius(50px);
            @include box-shadow(1px 2px 2px rgba(0, 0, 0, 0.1));
            position:absolute;
            right:-0.5em;
            top:-0.5em;
            z-index:5;
            min-width:0.9em;
            color:white;
            background:$color-red;
            
            content:attr(data-count);
            padding:0 0.3em;
            line-height:1.4em;
            text-align:center;
            font-size:0.8em;
        }
    }

    li.active a{
        @include box-shadow(none);
        color:$color-grey-1;
        background-color:white;
        border-top:0.3em solid $color-grey-1;
    }

    /* For cases where tab-nav should merge with header */
    &.merged{
        background-color:$color-header-bg;
        margin-top:0;
    }
}
.tab-content{
    section{
        display:none;
        padding-top:1em;

        &.active{
            display:block;
        }
    }
}

@media screen and (min-width: $breakpoint-mobile){
    .tab-nav li{
        width:auto;
        padding:0;
        margin-left:0.7em;
    }

    .tab-nav a{
        padding:0 50px;
    }

    .modal-content .tab-nav li{
        padding:0;
        min-width:0;
    }
}